/* new 2012 */
	body {
			background-image: url('/images/bg.png');
			background-repeat: repeat-x;
			background-color: #F2F2F1;
			background-attachment:fixed;
			background-position: center top;
 }
#rightside {
			box-shadow: 0 15px 15px #BBBBBB;

}

#loginout {
		padding-left: 650px;
		padding-left: 550px;
}
	.left_bar {
			float: left;
			margin-right: 1.5em;
		
			border-right: 2px dotted silver;
			padding-right: 1.5em;
			min-height: 600px;
	}

	.indent_15_em {
			margin-left: 0.5em;	
	}
	
	/* new pc tabs */
	
	#ma ul.pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#ma ul.pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#ma ul.pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}








/*

	#pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}

*/

	
	#pc_labs > #LabArea {clear:none;}
	#pc_sym >	#HormoneSummary ul {
		-webkit-padding-start: 0em;
		}

	#pc_full_chart > #report_list .gray_box {
		width: 130px;
		}

	#pc_summary > .report_list .gray_box {
		width: 130px;
		}


		li.lab_listing span.lab_type:before {content: ' - '; }
/*
		li.lab_listing span.view:before {content: ' - '; }
		li.lab_listing span.print:before {content: ' - ';  		margin: 0 .5em; }
*/		
	#pc_full_chart   li.lab_listing span.lab_type { display:none; }

	
	.gray_box li span.print {
		display: inline-block;
		margin: 0 .5em;
		}
	#pc_full_chart #report_list { max-width: 130px; }
	#pc_full_chart #report_list .gray_box { max-width: 130px; }
	

	#pc_full_chart li.lab_listing span.lab_type {	display: none; }
	
	#pc_full_chart #pc_hh #curMedContainer  {	margin: 1em; }
	#pc_full_chart #pc_hh #curMedContainer_header 	{ right: 270px;}
	
	#pc_full_chart #pc_hh #medicalHistoryArea {
			margin: 0;
			padding: 1em;
			width: 528px;
			position: relative;
/*
			left: 172px;
			left: 147px;
			*/
			margin-left: 1.5em;	
/*			margin-left: 2.25em;	*/
			}

	#pc_full_chart #pc_hh #importantInfo {
		width: 350px;
		margin: 20px 45px 0 1.0em;
	}
	
	
	#pc_full_chart #pc_hh #curMedContainer {
		min-height: 250px !important;
	}
	
	#pc_history #rxp_rx_history_prompt_form {
		float: left;
		}



	#pc_shipping_choices table td {
					vertical-align: text-top;
		}
	#pinfo_msgs_div { min-height: 1.2em; font-size: 1.4em; text-align:center; border-radius:.5em;}
	#pinfo_msgs_div .success {border-radius: .35em; padding: 0.15em; color: #576620; font-size: 0.9em; font-weight: bold;}


	.pinfo_msgs_div { min-height: 1.2em; font-size: 1.4em; text-align:center; border-radius:.5em;}
	.pinfo_msgs_div .success {border-radius: .35em; padding: 0.15em; color: #576620; font-size: 0.9em; font-weight: bold;}

	
	#pc_pinfo_shipping {
				max-width: 700px;
				float: left;
				min-width: 450px;
				}
	#pc_pinfo_shipping::before { content: 'Shipping History'; font-weight:bold;   font-size: 16px; margin-bottom: 8px;}
/* jQ UI alterations */



#pc_full_chart .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_full_chart li.ui-tabs-selected, #rxp_left_tabs li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_history .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_history li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_pinfo_area .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_pinfo_area li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}

/* rx_history */
#rx_hist_tbl a.rx_hist_fill_dates::after {
	content: 'view >>';
	font-size: .6em;
	white-space: nowrap;
}

span.pc_pinfo_form_label { font-weight:bold; }
#recentActivity_div {float:left;}

#note_header {
	display: block;
}

#decaf_area {
	width: 500px;
}

#rx_hist_tbl td.refills { white-space: nowrap; }

td.addRx .refill_requested::before {	content: 'Refill Requested';  display: block; white-space: nowrap; padding: .2em 0; color: red; }



#rxpad {
	float: left;
	max-width: 600px;
}




.lab-category.panel::before {
	content: 'Profile Panels';
	font-weight: bold;
}
.lab-category.panel {
	float: left;
}

.lab-category.panel .lab_product {
max-width: 30em;
}


.lab-category.indiv::before {
	content: 'Individual Tests';
	font-weight: bold;
}
.lab-category.indiv {
	float: left;
}
.lab-category.indiv .lab_product {
max-width: 21em;
}


.lab-category.clinic::before {
	content: 'Restore Clinical Services';
	font-weight: bold;
}
.lab-category.clinic {
	min-width:600px;
	max-width: 700px;
	float: left;
	}
.lab-category.indiv .lab_product {
/*	max-width: 42em;	*/
max-width: 100%;
}


.lab-desc {
font-size: smaller;
}






.lab-category {
	margin: 1.2em;
	max-width: 24em;
}

.lab-product label {
	padding-bottom: 4px;
}

.lab_product {
	margin-bottom: 0.65em;
}







/* categories */
.lab-category.Prevention::before {
	content: 'Prevention';
	font-weight: bold;
	color: white;
	background: #DC7B3C;
}

.lab-category.Cardio::before {
	content: 'Cardio';
	font-weight: bold;
	color: white;
	background: #A1BD67;

}

.lab-category.Metabolic::before {
	content: 'Metabolic';
	font-weight: bold;
	color: white;
	background: #E4A014;

}

.lab-category.Osteo::before {
	content: 'Osteo';
	font-weight: bold;
	color: white;
	background: #31487B;

}

.lab-category.Protocol::before {
	content: 'Protocol';
	font-weight: bold;
	color: white;
	background: #6EB6C5;

}

.lab-category.Women::before {
	content: 'Women';
	font-weight: bold;
	color: white;
	background: #C61189;

}
.lab-category.Energy::before {
	content: 'Energy';
	font-weight: bold;
	color: white;
	background: #1B575B;

}

.lab-category.Rest::before {
content: 'Rest';
font-weight: bold;
color: white;
background: #31487B;
}
#otc_product_list div.lab-category::before {
	padding: .15em;
	border-top: solid 4px #B8BCC2;
	border-left: 4px #B8BCC2 solid;
	margin-bottom: 0.45em;
	display: block;
	font-size: 1.0em;
	
	background: none;
	color: #4F4F4F;
	border: none;
	}










/* experimental */ 
div.css3_2column {
-moz-column-count: 2; -moz-column-gap: 1em;  -webkit-column-count: 2; -webkit-column-gap: 1em; 
column-count: 2;
column-gap: 1em;
}

.avoid-column-break {
-webkit-column-break-inside: avoid;
-webkit-column-break-before:always;
-moz-column-break-inside: avoid;
        column-break-inside: avoid;
        display: inline-block; /* remove once CSS3 is supported */
        }

.lab-category {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
        column-break-inside: avoid;
        display: inline-block;
}



.contentbox {
max-height: 2900px;
overflow-y: hidden;
}

/* not used anymore */
#lab_order_area {
		float: left;
		max-width: 700px;
}
/* END not used */

div.centered_div {
	margin:1.2em; text-align:center; width: 968px;
	width: 938px;
	
}



.lab_product label.label_check {
	padding-bottom: 2px;
}









#rx_hist_tbl {
	border-collapse: collapse;
	border-style: none;
}

#rx_hist_tbl tbody {
border-collapse: collapse;
border-color: #B5DBE6;
border-spacing: 0px;
border-style: none;
}

.rxh_even
{
	background-color:  white; /*	#F4F9FE;	*/
	border-bottom: 1px solid #E5EFF8;
}

.rxh_odd
{
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}



.rxh_even {
	/*	background-color: #B5DBE6;	*/
	background-color:  white;
	border-collapse: collapse;
	border-style: none;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}

.rxh_odd {
	background: white;;
	border-collapse: collapse;
	border-style: none;
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}
















Fdsafsdfasd


.rxh_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}


/* alter gray box */

div.contentbox .gray_box li:nth-child(odd) {
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}


div.contentbox .gray_box li:nth-child(even) {
	background-color: white;
	border-collapse: collapse;
	border-style: none;
	color: #3A6781;
}

/* alt END */

/* turn off HormoneSummary */

#pc_sym > #HormoneSummary ul li ul {
	display:none;
}
#pc_sym > #HormoneSummary ul li span.symptomPoints {
display: inline;

}
#pc_sym > #HormoneSummary .hs_li:hover .click_info { display: none;  /* turned off */ }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone {	cursor:pointer;	}
#otc_product_list  span.productCategory-minor {display:none}
#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone:hover { text-decoration: underline; color: #66A3D3;  }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone.active { font-weight:bold; color: #66A3D3;  }



body.has_recommendations_false span.rxp_recommendations_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_recommendations_false span.rxp_recommendations_button {

	color: #b1b1b1;
	cursor: default;
	
}






body.has_rxhistory_false span.rxp_history_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_rxhistory_false span.rxp_history_button {

	color: #b1b1b1;
	cursor: default;
	
}











.rf_opts {
	float: left;
}
.rf_final_opts {
	clear: both;
}

#refillQ_area .sigLine { float: left; }








td.noteSumText {
max-width: 350px;
overflow-x: hidden;
text-overflow: ellipsis;
}

/* off */
/* ON #ma a#pc_rxp_lab_serum_sub_tab { display: none; } */

/*  for template tabs */
/*

	#rxtpl_tabs ul li {
	display: none !important; 
}
-- ON NOW */





/* OTC HISTORY */


.right_bar #otcHist_tbody { float: left;  max-width: 600px;}

#OTCHistory_header {
	border-top-left-radius: 0.8em 0.8em;
	border-top-right-radius: 0.8em 0.8em;

	background-color: #FAFAFA;
	border: 2px whiteSmoke solid;
	color: #4F4F4F;
}
#otcHist_tbody #OTCHistory_header {
/*
	border-top-left-radius: 0.4em 0.4em;
	border-top-right-radius: 0.4em 0.4em;
	*/
	background-color: #FAFAFA;
	border: 2px whiteSmoke solid;

}

#OTCHistory_header > .otc_name { min-width: 18.5em;
													display: inline-block;	}

#OTCHistory_header > .sig {display:none:}
#otcHist_tbody .odd {
	background-color:  white;
	border-collapse: collapse;
	border-style: none;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
	}

#otcHist_tbody .pq_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}
#otcHist_tbody .pq_entry:nth-child(1) {
	border: 2px solid #E5EFF8;
	background-color: #E6F5FA;

	border-top-left-radius: 0.8em 0.8em;
	border-top-right-radius: 0.8em 0.8em;
}
#otcHist_tbody .pq_entry {
	/* border-top: 2px solid black; */
	padding: 0.25em 0.75em 0.5em;
}

#otcHist_tbody .pq_entry:nth-child(even)
{
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}


#otcHist_tbody .pq_entry:last-child {	
	border-bottom-left-radius: 0.8em 0.8em;
	border-bottom-right-radius: 0.8em 0.8em;

	}





/* off - due to DC NSC */
#PatientAddressLine1.ji_edit { display:none; }





#shipTo_pri {
	float: left;
	height: 3em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

#shipTo_alt {
	float: left;
	height: 3.5em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

.otc_hist_entry .qty:before {content: 'QTY: ';}

/* address mgmt */
.address_funcs {font-size:smaller; color: #4E99AB; }
.start_date+.stop_date:before {
	content: ' - ';
}

.address_dates_area {
	font-size: smaller;
}

.address_dates_area input.ui-button {
	height: 18px !important;
}


.address_add_date_area {
	font-size: smaller;
}

.address_add_date_area input.ui-button {
	height: 18px !important;
}

.del_date_form
{
	display: inline-block;
	margin: .35em;
}

.use_datepicker {
	max-width: 70px;
}


.del_date_form .remove_date {margin-left: 1em;}

.addl_address {	margin: 1.5em;	}

#dash_area_2 > div {
	margin-top: 2.5em;
	margin-left: 1em;
	margin-right: 1em;
}
#dash_area_2 > div:first-child {
color: inherit;
margin-top: 0em;
}

#recent_patients > div.noticeboxalt { width: 317px;}


#recent_patients > div.noticeboxalt div.innernotice {
	min-width: 317px;
}

#dash_area_3 {
	margin: 1.5em;
}

ul.list li.empty_list {padding-left: 0px; text-align:center; background: none;}
ul.list li.empty_list:hover {padding-left: 0px; text-align:center; background: none;}

li.pt_msg .msg_txt {
	text-overflow: ellipsis;
	text-overflow: ellipsis-word;
	white-space: nowrap;
	width: 12.5em;
	overflow: hidden;
	display: inline-block;
	}



#pc_hist_messages {
	max-width: 700px;
	float: left;
}

#pc_hist_messages:before { content: 'Messages'; font-weight: bold; display:block;   font-size: 16px; margin-bottom: 8px;}

#pc_hist_shipping:before { content: 'Shipping History'; font-weight: bold; display:block;   font-size: 16px; margin-bottom: 8px;}

#pc_shipping_choices {
/*
	-moz-column-count: 2; -moz-column-gap: 1em;  -webkit-column-count: 2; -webkit-column-gap: 1em; 
column-count: 2;
column-gap: 1em;

*/

}

/* altering layout.css */
ul.list li:hover {
	background:url(/css/img/icons/icon_bullet_focus.png) no-repeat left; 
	text-shadow: 2px 1px 3px #C0EAF7;
	 background-image: url(/css/img/icons/icon_bullet_focus.png);
	 }

div.contentbox ul.list li { margin: 0.35em 0.15em;	}

body #rightside {
	height: 100%;
	margin: 14px 20px 0 20px;
}

/* END */

#respdiv_sum { padding: .5em; border-radius: 0.3em;}


div.left_bar li.ui-button {
	min-width: 160px;
}



.prim_address::before {
		content: 'Primary Address';
		font-weight: bold;
		font-size: smaller;
}

.alt_address::before {
		content: 'Alternate Address';
		font-weight: bold;
		font-size: smaller;
}




.lab_controls {
font-size: 0.8em;
}

.rsection_title {
	font-weight:bold;
	margin-bottom: 8px;	
	display: block;
	font-size: 16px;
}


#patient_list_icon {display:none;}
#db_patient_list:before {	content: 'Patient List'; font-weight:bold;	}


#rxp_change_pt {
	font-size: 0.8em;
	text-decoration: underline;
	vertical-align: super;
	cursor: pointer;
	font-weight: normal;
}
#rxp_change_pt:hover {color: #4E99AB;}



#rxp_patient_select {
	position: absolute;
	left: 350px;
	font-weight: bold;
	font-size: 14px;
	top: -0.85em;
	text-align: center;
	margin: 0em auto;
	width: 480px;
	display: block;
}





#rxpad {

max-width: 700px;
margin: 1em auto;
width: 620px;
}

#0rxpad_order_area {
	margin: 1em auto;
	width: 750px;
	float: left;
}

#0rxpad_order_area::before {
	font-weight: bold;
	font-size: 16px;
	content: 'Rx Pad';
}

#rxp_add_patient {max-height: 1.5em;}


#nav .h_logo::after {
content: url(/images/rd_logo2_h28.png);
margin-right: 0px;
padding-right: 0px;
display: inline-block;
max-height: 1.0em;
}


/* hack for wrapping */
	/*
		.lab-category.Cardio {
				padding-top: 1.25em;
		}
	*/
/* /END HACK */

#add_note_form:before {
	content: 'Add Note';
	display: block;
	font: 16px ProximaNovaRegular;
	font-weight: bold;
margin-bottom: 8px;
}


.patient_name .hipaa_name {text-transform: capitalize; text-transform: uppercase}
body.hipaa_mode_true .patient_name .hipaa_name {	color: transparent; text-shadow: gray 0 0 .75em;	}

.gtgt::after {
	content: url(/css/img/gt_gt.png);
}

#recent_patients {margin-left: 3em;}

.no_underline {text-decoration: none;}


/* UA Fix: */

.dataTables_wrapper > table {
	border-spacing: 0px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

.tstamp {margin: .5em;}

#rxp_choose_pt_header { margin-right: 9em; }

.lab-desc a.more-info {
	color: #3A6781 !important;
	text-decoration: none;
}

span.view-txt:after {
	content: 'view';
	display: inline;
	text-decoration: none;
}

span.view-txt {
min-width: 4em;
background: transparent;
padding-right: 3em;
}

.lab_order_confirm {	padding-top: 1.75em;	}



#diag_issues_shortlist li.lab_status_viewed {
	background: url(/css/img/icons/icon_bullet_active.png) no-repeat left;
}









#help_button::after {
	content: 'Help';
	padding-right: 1em;
}
#help_button {
	display: inline;
	float: right;
	content: 'HELP';
	cursor:pointer;
}
#help_button:hover {
	color: #3A6781;
	text-decoration:underline;

}
#help_button:hover {
	color: #3A6781;
	text-decoration: underline;
}
#help_button {display: none;}




/* checkbox overrides fix */
/*
	#add_patient_form .form_fields .label_radio {
	padding-left: 7px !important;
	}
*/
/* /fix */
.label_check input, .label_radio input {
	position: relative !important;
	left: -5px !important;
	opacity: 0;
	max-width: 1px;
	margin: 0;
}


.fpi_address { white-space:pre-line; }















#iPad {display:none;}
#ma:empty {
	background-image: url(/images/ajax-loader-blue.gif);
	padding: 20%;
	background-repeat: no-repeat;
	background-position: center;
}

.ui_left_tabs {
border: none;
}




.labRefRanges {
	width: 16em;
	font-size: 0.85em;
	white-space: pre-line;
}


.healthConditionsList {
	
	min-height: 14em;
}

#medicalHistoryAreaM {
	min-height: 12em;
	min-width: 12em;
}

#pc_full_chart .left_bar {
	min-height: 800px;
}

#pc_full_chart .left_bar { min-height: 800px; }

#diag_header {
	right: 290px;
}
#pc_full_chart #pc_hh #medicalHistoryArea { margin: 20px 45px 0 1.0em !important;}

li.errMsg {
font-size: 1.1em;
}








#decaf_area {
white-space: pre-wrap;
}

#loginout {
width: 992px;
text-align: center;
margin: 0 auto;
padding: 0;
/*
float: right;
*/
}

#loginout span.fr {float: right; padding-left: 1em;}




/* Rx Pad print tweaks */


#rx_timestamp {
	display: none;
}

.tmpl_med_desc {
	font-size: smaller;
}































@media only print {

#rightside {
	box-shadow: initial;
}

.contentbox {
	max-height: 2900px;
	overflow-y: hidden;
	overflow-x: hidden;
}


body > div {width: initial !important; }
#rightside .contentcontainer {width: initial !important; }
#rxpad {font-size: 2.5em;}
#completed_rx {display: none !important;}
	#rxp_verify_msg {
		float: left;
	}

	#rx_timestamp { display: inline; 	clear: left;	padding: 0 0 0 6em;}

div.rxp_med div.med_sig {
	margin: 0.5em 0.25em 0.75em 0.65em;
}

}


/* wk scrollbars */

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 7px;
border-radius: 7px;
background: rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
-webkit-border-radius: 7px;
border-radius: 7px;
}


.rxpmedmedview {
	max-width: 20em;
	display: inline-block;
	cursor: pointer;
	min-width: 20em;
}

.rxpmedmedview:after {
	content: '[click to change]';
	font-size: xx-small;
	padding-left: 1.0em;
}


#painTemplate .medDN label {
	max-width: 80%;
}



.template_group {
	background: #EEE;
}

.template_group.Musculoskeletal:before {
	content: 'Musculoskeletal';
	font-weight: bold;
}

.template_group.Joint:before {
	content: 'Joint';
	font-weight: bold;
}

.template_group.Neuropathic:before {
	content: 'Neuropathic';
	font-weight: bold;
}

.template_group.Supplement:before {
	content: 'Supplement';
	font-weight: bold;
}



.template_group.Estriols:before {
	content: 'Vaginal Estriol';
	font-weight: bold;
}

.template_group.Estrogens:before {
	content: 'Estrogens';
	font-weight: bold;
}

.template_group.Progesterones:before {
	content: 'Progesterone';
	font-weight: bold;
}

.template_group.Testosterones-Male:before {
	content: 'Testosterone-Male';
	font-weight: bold;
}

.template_group.Testosterones-Female:before {
	content: 'Testosterone-Female';
	font-weight: bold;
}

.template_group.Thyroid:before {
	content: 'Thyroid';
	font-weight: bold;
}

.template_group.tg_label:before {
	content: attr(data-tmplgroup)  "";
	font-weight: bold;
	padding-left: 4px;
}

.template_group .tg_label {
	float: left;
	font-weight: bold;
	padding-left: 4px;
	margin-right: 1em;
}

.tmpl_med_dose a:hover {color: #c23c3c;}

.rxp_rx_templates .template_group {border-bottom: 2px solid silver !important; margin: 0 0 0 0 !important;}
.rxp_rx_templates .template_group > div form { border: none; border-top: 1px solid #D5D5D5 !important; }


.tmpl_med_radio.tmpl_med_addable {	vertical-align: middle;	}

.rxp_rx_templates .template_group:first-child {	border-top: 2px solid silver !important;		}






/* Toggle Switches */
@media only screen {

	/* Checkbox
	 */
	.toggle {
		position: relative;
		display: block;
		width: 200px;
		
		padding: 0;
		margin: 0;
		
		font-family: sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		
		text-shadow: 1px 1px 1px #191b1e;
	}

	/* Position the label over all the elements, except the toggle-button
	 * Clicking anywhere on the label will change the switch-state
	 */
	.toggle label {
		position: relative;
		z-index: 3;
		
		display: block;
		width: 100%;
		padding: 3px 0;
	}

	/* Don't hide the input from screen-readers and keyboard access
	 */
	.toggle input {
		position: absolute;
		opacity: 0;
		z-index: 5;
	}

	/* Outline the toggle when the input is focused */
	.toggle input:focus ~ .toggle-button {
		outline: 1px dotted #fff;
	}

	/* Track */
	.toggle label:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
		display: block;
		width: 80px;
		height: 17px;
		padding: 2px 0;
		
		background-color: #dd7e6d;	
		border: 1px solid #b15b4d;
		border-radius: 2px;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.17), 0 1px 0px rgba(255, 255, 255, 0.9);
		
		/* Text labels */
		content: "OFF \a ON";
		white-space: pre;
		
		color: #8f5247;
		font-weight: bold;
		text-align: center;
		text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
			
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	/* We could use label:after to create the toggle button
	 * But we won't be able to use transitions on it, except in Firefox
	 */
	.toggle span {
		display: block;
		position: absolute;
		right: -1px;
		top: -2px;
		z-index: 4;
		width: 40px;
		height: 25px;
		
		border: 1px solid #bbbbbb;
		
		background-color: #f7f7f7; 
		background-image: -webkit-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:    -moz-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:     -ms-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:      -o-linear-gradient(top, #f7f7f7, #ececec); 
		background-image:         linear-gradient(top, #f7f7f7, #ececec);  
		
		box-shadow: inset 0 1px 2px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, 0.12);
		border-radius: 2px;
		
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.toggle input:checked ~ span {
		right: 45px;
	}

	.toggle input:checked + label:after {
		background-color: #a0c66b;
		border-color: #87aa5b;

		color: #60783f;
	}

	/* Radio Switch
	 */
	.switch {
		position: relative;
		border: 0;
		padding: 0;
		width: 14em;
		0left: 14em;
		
/*
		font-family: sans-serif;
		font-weight: bold;
		font-size: 12px;
*/

		margin-top: 1px;
/*
color: #fff;
text-shadow: 1px 1px 1px #191b1e;
*/
		float: left;
		0display: none;
		line-height: 17px;
		max-height: 17px;
	}

	.switch legend {
		float: left;
		width: 40%;
		/*
			padding: 7px 10% 3px 0;	
		*/
			padding: 3px 10% 1px 0;	
		white-space:nowrap;
		text-align: right;

	}

	.switch input {
		position: absolute;
		opacity: 0;
	}

	.switch legend:after {
		content: '';
		
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 0;
		
		width: 50%;
		height: 100%;
		
		padding: 2px;
		background: #EAEAEA url(../img/bg_heading.png) repeat;
		border-radius: 3px;	
		
		box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
	}

	.switch label {
		position: relative;
		z-index: 2;
		
		float: left;
		width: 25%;
		margin-top: 1px;
			
/*		padding: 5px 0 3px 0;	*/
		padding: 1px 0 1px 0;
		text-align: center;
		
		color: #64676b;
		text-shadow: 0 1px 0 #000;
	}


	.switch input:checked + label {
		color: #2d592a;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}

	.switch input:focus + label {
		outline: 1px dotted #fff;
	}

	.switch .switch-button {
		clear: both;
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		
		width: 25%;
		height: 100%;
		
		margin: 2px;
		
/*		background-color: #70c66b;	*/
	background-color: #C5E3F0;
		
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
		
		border-radius: 3px;
		
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.switch input:last-of-type:checked ~ .switch-button {
		left: 75%;
	}

	/* Treo Switch */
	.switch.switch-treo label {
		width: 16.6%;
	}

	.switch.switch-treo .switch-button {
		width: 16.6%;
	}

	.switch.switch-treo input:checked:nth-of-type(2) ~ .switch-button {	
		left: 66.6%;
	}

	.switch.switch-treo input:checked:last-of-type ~ .switch-button {
		left: 83.26%;
	}

	/* Switch Themes/Colors */
	.switch.blue input:checked + label {
		color: #15475d;
	}

	.switch.blue .switch-button {
		background-color: #38a3d4;
	}

	.switch.yellow .switch-button {
		background-color: #ccc165;
	}

	.switch.yellow input:checked + label {
		color: #494525;
	}


	#button-hipaaon { color: gray; font-weight: bold;}
	input[type="radio"]:checked+#button-hipaaon{ color: #398070 ; font-weight: bold; } 
	#button-hipaaoff { color: gray;  font-weight: bold; }


}









.panel_listing.long {
white-space: pre-line;
max-height: 1.5em;
overflow-y: hidden;
text-overflow: ellipsis;
transition: width 2s, height 2s, max-height 2s transform 2s;
-webkit-transition: width 2s, height 2s, max-height 2s, -webkit-transform 2s;
cursor: pointer;
}


.panel_listing.long.expanded {
	max-height: 40em;
	overflow-y: auto;
	cursor: default;
}

.panel_listing.long.expanded:before {
	content: '';
	display: none;
}

.panel_listing.long:before {
	color: #3A6781;
	content: attr(data-numtests) " tests | Show Description";
	display: block;
	cursor: pointer;
}