div.contentbox ul.list li {
	margin: 0.35em 0.15em;
	padding: .35em 1.5em;
}

.jqscrollbar .viewport {
/*	overflow-y: hidden ; */
overflow-y: scroll ;

position: relative;
-webkit-overflow-scrolling: touch !important;
}
.jqscrollbar .viewport:hover {
overflow-y: scroll ;
}

.jqscrollbar .scrollbar {
	display: none;
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
