.left_bar {
display: none !important;
}
#rxp_patient_select {
	position: initial !important;
}

#header {
display: none;
}

#rxp_esig {
border: none;
box-shadow: none;
}

.med_sig { color: black; }

#completed_rx_options {
display: none;
}

#rxp_change_pt {display: none;	}

#rxpad.submitted-success:before {content: 'Successfully Sent'; font-size: 3em;}
#rxpad.submitted-success {
font-size: 1.5em;
}

#footer {
	display: none;
}

#rxpad:before {
content: 'Not Sent';
font-size: 2em;
color: red;
}


#rxpad.submitted-success:before {
content: 'Successfully Sent';
font-size: 2em;
color: green;
}