
.jqscrollbar .viewport {
/*	overflow-y: hidden ; */
overflow-y: scroll ;

position: relative;
-webkit-overflow-scrolling: touch !important;
}
.jqscrollbar .viewport:hover {
overflow-y: scroll ;
}

.jqscrollbar .scrollbar {
	display: none;
}
