
<%args>
  $_type  =>  'error'
  $_to    =>  'rperry@restorehc.com'
</%args>
<%flags>
  inherit => '/autohandler'
</%flags>
<%init>

  %ARGS = ( %{$m->caller_args(-1)}, %ARGS );
  my $error_text = "<pre>Page is '" . $r->uri() . "'\n</pre>\n";

  # try to handle an error, if the object exists
  if ( my $error = $r->pnotes( 'mason_error' ) || $r->pnotes( 'error' ) ) {
    $error_text .= UNIVERSAL::can( $error, 'as_html' ) ?
$error->as_html : "\nERROR: $error";
    $error_text .= "\n\n\n";
  } else {
   $error_text .= "error mailing component called with no pnotes from
'".$m->callers(1)->path()."'";
    $r->warn( "error mailing component called with no pnotes from
'".$m->callers(1)->path()."'" );
  }
  $error_text .= "<pre>";
  $error_text .= "Request Method: '".$r->method()."'\n";
  $error_text .= "The Request: '".$r->the_request()."'\n";
  $error_text .= "URI: '".$r->uri()."'\n";
  $error_text .= "</pre>\n\n\n";

  $error_text .= "Headers\n";
  foreach my $key ( sort keys %{$r->headers_in()} ) {
    $error_text .= "$key: " . $r->headers_in->{ $key } . "\n";
  }
  $error_text .= "\n\n\n";

  $error_text .= RD2::jd({ include_html=> 0, '%ARGS' => \%ARGS });
  $error_text .= "\n\n\n";

	$error_text .= RD2::jd(\%ENV);
	$error_text .= "\n\n\n";
  my %hash = (
    from=> 'mason-errors@restorehc.com',
    header_from=> 'Error Handler <mason-errors@restorehc.com>',
    to=> $_to,
    subject=> "Mason ".ucfirst( $_type )." on $hostname ".$r->uri(),
    content_type => 'text/html',
    body=> $error_text,
  );
RD3::Utils::email_via_ses($dbh, [], \%hash);


</%init>
<%once>
  my $hostname = Sys::Hostname::hostname();
</%once>



<% $error_text %>
<b style="color: #587F8B;">An error occurred.  There is currently system maintenance being done and the error may be related.  It has been logged and our support staff has been informed.
</b>


<%doc>

my $pids=$dbh->selectall_arrayref(q{SELECT DISTINCT p.patientID, ROUND(YTD/100, 2) as spent_in_2011, ROUND(YTD /500, 2) AS averageSpent_2011, PatientZIP, Sex, (YEAR(NOW()) - YEAR(DOB)) AS age    FROM patients p JOIN prescriptions rx ON p.patientID=rx.patientID WHERE rx.DateFilled > '2011-02-01' }, {Columns=>{}});


for my $pi (@$pids) {
$pi->{info}={};
$pi->{info} = $dbh->selectrow_hashref(q{SELECT MAX(DateFilled) as newest, MIN(DateFilled) as firstUsed, GROUP_CONCAT(DISTINCT DrugName ORDER BY DrugName) as products, ROUND(SUM(price),2) AS totalSpent, ROUND((SUM(price)/(DATEDIFF(MAX(DateFilled), MIN(DateFilled))/30)), 2) as averageSpent FROM prescriptions WHERE patientID=?}, undef, ($pi->{patientID}));
$dbh->do(q{INSERT IGNORE INTO `r_matt0` (`id`, `firstUsed`, `lastUsed`, `average_spent`, `average_spent_2011`, `total`, `total_2011`, `gender`, `age`, `products`)
VALUES
	(?,?,?,?,?,?,?,?,?,?)}, undef, ($pi->{patientID}, $pi->{info}{firstUsed} , $pi->{info}{newest}, $pi->{info}{averageSpent}, $pi->{averageSpent_2011}, $pi->{info}{totalSpent},  $pi->{spent_in_2011}, $pi->{Sex}, $pi->{age}, $pi->{info}{products}));


}
return;
</%doc>
