

















<head>

  <title>RestoreDirect.com</title>
  <link rel="icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/checkbox.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.css">

  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css">


  <link rel="stylesheet" type="text/css" href="/js/DataTables-1.8.1/media/css/demo_table_jui.css">


		<base href="/">
		
		
		
		
		
		<link rel="stylesheet" type="text/css" href="js/jquery.contenteditable/jquery.contenteditable.css">










  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.custom.css">
  <link rel="stylesheet" type="text/css" href="/css/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/css/styles/login.css">

	<meta http-equiv="pc.js-Type" content="text/html; charset=utf-8">
	<meta name="robots" content="all">
<style>
/* new 2012 */
	body {
			background-image: url('http://www.restorehc.com/sites/all/themes/restore_evo/images/bg.png');
			background-repeat: repeat-x;
			background-color: #F2F2F1;
			background-attachment:fixed;
			background-position: center top;
 }
#rightside {
			box-shadow: 0 15px 15px #BBBBBB;

}

#loginout {
		padding-left: 700px;
}
</style>
<style>
	.left_bar {
			float: left;
			margin-right: 1.5em;
			border-right: 2px solid black;
			padding-right: 1.5em;
			min-height: 600px;
	}

	.indent_15_em {
			margin-left: 0.5em;	
	}
	
	/* new pc tabs */
	
	#ma ul.pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#ma ul.pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#ma ul.pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}








/*

	#pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}

*/

	
	#pc_labs > #LabArea {clear:none;}
	#pc_sym >	#HormoneSummary ul {
		-webkit-padding-start: 0em;
		}

	#pc_full_chart > #report_list .gray_box {
		width: 130px;
		}

		li.lab_listing span.lab_type:before {content: ' - '; }
/*
		li.lab_listing span.view:before {content: ' - '; }
		li.lab_listing span.print:before {content: ' - ';  		margin: 0 .5em; }
*/		
	#pc_full_chart   li.lab_listing span.lab_type { display:none; }

	.gray_box li span.print {
		display: inline-block;
		margin: 0 .5em;
		}
	#pc_full_chart #report_list { max-width: 130px; font-size: 0.8em;}
	#pc_full_chart #report_list .gray_box { max-width: 130px; }
	

	#pc_full_chart li.lab_listing span.lab_type {	display: none; }
	
	#pc_full_chart #pc_hh #curMedContainer  {	margin: 1em; }
	#pc_full_chart #pc_hh #curMedContainer_header 	{ right: 270px;}
	
	#pc_full_chart #pc_hh #medicalHistoryArea {
			margin: 0;
			padding: 1em;
			width: 478px;
			position: relative;
			left: 176px;
			margin-left: 1.5em;
			}

	#pc_full_chart #pc_hh #importantInfo {
		width: 350px;
		margin: 20px 45px 0 1.0em;
	}
	
	
	#pc_full_chart #pc_hh #curMedContainer {
		min-height: 250px !important;
	}
	
	#pc_history #rxp_rx_history_prompt_form {
		float: left;
		}



	#pc_shipping_choices table td {
					vertical-align: text-top;
		}
	#pinfo_msgs_div { min-height: 1.2em; font-size: 1.4em; text-align:center; border-radius:.5em;}
	#pinfo_msgs_div .success {border-radius: .35em; padding: 0.15em; color: #576620; font-size: 0.9em; font-weight: bold;}
	
	#pc_pinfo_shipping {
				max-width: 700px;
				float: left;
				min-width: 450px;
				}
	#pc_pinfo_shipping::before { content: 'Shipping History'; font-weight:bold;}
/* jQ UI alterations */



#pc_full_chart .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_full_chart li.ui-tabs-selected, #rxp_left_tabs li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_history .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_history li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_pinfo_area .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_pinfo_area li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}

/* rx_history */
#rx_hist_tbl a.rx_hist_fill_dates::after {
	content: 'view >>';
	font-size: .6em;
	white-space: nowrap;
}

span.pc_pinfo_form_label { font-weight:bold; }
#recentActivity_div {float:left;}

#note_header {
	display: block;
}

#decaf_area {
	width: 500px;
}

#rx_hist_tbl td.refills { white-space: nowrap; }

td.addRx .refill_requested::before {	content: 'Refill Requested';  display: block; white-space: nowrap; padding: .2em 0; color: #9E9900; }



#rxpad {
	float: left;
	max-width: 600px;
}




.lab-category.panel::before {
	content: 'Profile Panels';
	font-weight: bold;
}
.lab-category.panel {
	float: left;
}

.lab-category.panel .lab_product {
max-width: 30em;
}


.lab-category.indiv::before {
	content: 'Individual Tests';
	font-weight: bold;
}
.lab-category.indiv {
	float: left;
}
.lab-category.indiv .lab_product {
max-width: 21em;
}


.lab-category.clinic::before {
	content: 'Restore Clinical Services';
	font-weight: bold;
}
.lab-category.clinic {
	min-width:600px;
	max-width: 700px;
	float: left;
	}
.lab-category.indiv .lab_product {
/*	max-width: 42em;	*/
max-width: 100%;
}


.lab-desc {
font-size: smaller;
}






.lab-category {
	margin: 1.2em;
	max-width: 24em;
}

.lab-product label {
	padding-bottom: 4px;
}

.lab_product {
	margin-bottom: 0.65em;
}







/* categories */
.lab-category.Prevention::before {
	content: 'Prevention';
	font-weight: bold;
	color: white;
	background: #DC7B3C;
}

.lab-category.Cardio::before {
	content: 'Cardio';
	font-weight: bold;
	color: white;
	background: #A1BD67;

}

.lab-category.Metabolic::before {
	content: 'Metabolic';
	font-weight: bold;
	color: white;
	background: #E4A014;

}

.lab-category.Osteo::before {
	content: 'Osteo';
	font-weight: bold;
	color: white;
	background: #31487B;

}

.lab-category.Protocol::before {
	content: 'Protocol';
	font-weight: bold;
	color: white;
	background: #6EB6C5;

}

.lab-category.Women::before {
	content: 'Women';
	font-weight: bold;
	color: white;
	background: #C61189;

}
.lab-category.Energy::before {
	content: 'Women';
	font-weight: bold;
	color: white;
	background: #1B575B;

}

#otc_product_list div.lab-category::before {
padding: .15em;
border-top: solid 4px #B8BCC2;
border-left: 4px #B8BCC2 solid;
margin-bottom: 0.45em;
display: block;
font-size: 1.0em;
	}










/* experimental */ 
div.css3_2column {
-moz-column-count: 2; -moz-column-gap: 1em;  -webkit-column-count: 2; -webkit-column-gap: 1em; 
}


.lab-category {
	-webkit-column-break-inside: avoid;
}



.contentbox {
max-height: 2900px;
overflow-y: hidden;
}

/* not used anymore */
#lab_order_area {
		float: left;
		max-width: 700px;
}
/* END not used */

div.centered_div {
	margin:1.2em; text-align:center; width: 968px;
}



.lab_product label.label_check {
	padding-bottom: 2px;
}









#rx_hist_tbl {
	border-collapse: collapse;
	border-style: none;
}

#rx_hist_tbl tbody {
border-collapse: collapse;
border-color: #B5DBE6;
border-spacing: 0px;
border-style: none;
}

.rxh_even
{
	background-color:  white; /*	#F4F9FE;	*/
	border-bottom: 1px solid #E5EFF8;
}

.rxh_odd
{
	background-color: #F4F9FE;
	border-bottom: 1px solid #E5EFF8;
}



.rxh_even {
	/*	background-color: #B5DBE6;	*/
	background-color:  white;
	border-collapse: collapse;
	border-style: none;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}

.rxh_odd {
	background: white;;
	border-collapse: collapse;
	border-style: none;
	background-color: #F4F9FE;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}







.rxh_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}




/* turn off HormoneSummary */

#pc_sym > #HormoneSummary ul li ul {
	display:none;
}
#pc_sym > #HormoneSummary ul li span.symptomPoints {
display: inline;

}
#pc_sym > #HormoneSummary .hs_li:hover .click_info { display: none;  /* turned off */ }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone {	cursor:pointer;	}
#otc_product_list  span.productCategory-minor {display:none}
#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone:hover { text-decoration: underline; color: #66A3D3;  }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone.active { font-weight:bold; color: #66A3D3;  }



body.has_recommendations_false span.rxp_recommendations_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_recommendations_false span.rxp_recommendations_button {

	color: #b1b1b1;
	cursor: default;
	
}






body.has_rxhistory_false span.rxp_history_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_rxhistory_false span.rxp_history_button {

	color: #b1b1b1;
	cursor: default;
	
}











.rf_opts {
	float: left;
}
.rf_final_opts {
	clear: both;
}

#refillQ_area .sigLine { float: left; }








td.noteSumText {
max-width: 350px;
overflow-x: hidden;
text-overflow: ellipsis;
}

/* off */
#ma a#pc_rxp_lab_serum_sub_tab { display: none; }






/* OTC HISTORY */
.right_bar #otcHist_tbody { float: left;  max-width: 600px;}
#otcHist_tbody .reven {
	background-color: #F4F9FE;
	border-bottom: 1px solid #E5EFF8;
	}

#otcHist_tbody .pq_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}
#otcHist_tbody .pq_entry:nth-child(1) {
	border: 2px solid #E5EFF8;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}
#otcHist_tbody .pq_entry {
	border-top: 2px solid black;
	padding: 0.25em 0.75em 0.5em;
}









/* off - due to DC NSC */
#PatientAddressLine1.ji_edit { display:none; }





#shipTo_pri {
	float: left;
	height: 2em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

#shipTo_alt {
	float: left;
	height: 2em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

.otc_hist_entry .qty:before {content: 'QTY: ';}
</style>
















<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">


</head>











<body class="has_recommendations_false has_rxhistory_true"><div id="RestoreLogo" style="position: absolute; -webkit-transition-property: all; -webkit-transition-duration: 2.25s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; -webkit-transform: rotate(-90deg); left: -400px; top: 200px; z-index: 0; "><img src="/images/RestoreLogo_600.2.png"></div>
<div id="header" style="background: none;">
	<ul id="nav">
		<li class="h_logo">
			&nbsp;
		</li>
		<li class="current">
		
	    	<div id="searcharea">
		        <input type="search" id="meta_search" class="searchbox ui-autocomplete-input" placeholder="Search for Name, DOB, Rx# or Lab ID" onfocus="this.value='';" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
	        </div>
	
		
		</li>
		<li id="tb_dashboard">
			<a><span class="tool" href="#">Dashboard</span></a>
		</li>
		<li id="tb_rxpad">
			<a><span class="tool" href="#">RxPad</span></a>
		</li>
		<li id="tb_add_patient" class="func_add_patient">
			<a><span class="tool " href="#">Add Patient</span></a>
		</li>
		
	</ul>
</div>

<div id="rightside">
    		


        <!-- Content Box Start -->
        <div class="contentcontainer ui-tabs ui-widget ui-widget-content ui-corner-all" id="ma_parent">
            <div class="headings alt">
            <div class="patient_selected " id="action_info_area">     <p id="current_action" class="dashboard"></p>     <p class="selected_patient" id="working_patient" data-tstamp="2012-03-02 22:16:56" data-dob="1969-11-14" data->PATIENT, MARY - 06/14/71</p> </div>
            <div id="ma_title_bar"><h2 class="left">Patient Chart</h2>                    <ul class="smltabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all tabs-correct-2" id="ma_tabs">                      <li class="ui-state-default ui-corner-top"><a href="#pc_summary" id="tb_pc_sum" onclick="">Summary</a></li>                      <li class="ui-state-default ui-corner-top"><a href="#pc_rxpad" id="tb_pc_rxp" onclick="display_rxpad(134816); return false;">Rx Pad</a></li>                      <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#pc_full_chart" id="tb_pc_lab" onclick="">Chart</a></li>                      <li class="ui-state-default ui-corner-top"><a href="#pc_history" id="tb_pc_hist" onclick="">History</a></li>                      <li class="ui-state-default ui-corner-top"><a href="#pc_pinfo_area" id="tb_pc_pinfo" onclick="">Patient Info</a></li>                     </ul></div>
				
            </div>
            <div class="contentbox">
							
<span id="signed_in_as"></span>
<table id="flex1"></table>
<div id="dialog-overlay"></div>
<div id="dialog-box">
	<div class="dialog-content">
		<div id="dialog-message"></div>
		<a href="#" class="button" id="dialog-close">Close</a>
	</div>
</div>




<!-- RD29 -->
<div id="ma">




<img src="/images/front_img.png" style="max-width: 900px;" />
<div id="pc_summary" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">    <div id="pc_sum_top"></div>    


<style>
	#d_p_c_ap {	cursor:pointer; }
	.dp_pt_DOB:before {	content: ' - ';	}
	.dupl_pt {cursor:pointer;}
	.dp_pt_city {	margin-left: 1.0em; }
#ap_resp {
		margin: 1em auto;
		width: 400px;
	}
#use_orig_pt, #dupl_pts_check {
		margin: 0.5em auto;
	}
	.addable_patient {
		font-size: larger;
		font-weight: bold;
		margin: 0.75em;
	}
	.addable_patient:hover {	color:#416B83;	}
	#dupl_pts_check:before {content:'Choose a patient from the list below:'; font-size: larger; text-shadow: #AAAAAA 0px 1px 0px;}

	#dupl_pts_check:after {content:'Or create a new patient with the information entered:'; font-size: larger; text-shadow: #AAAAAA 0px 1px 0px;}
	.dinline { display: inline; }
</style>











<div class="left_bar">   <div class="indent_15_em">    <ul class="pc_chart_tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_labs" id="pc_bil_t0">Lab Charts</a></li>      <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_hh" id="pc_bil_t1">Health History</a></li>     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top ui-tabs-selected ui-state-active"><a href="#pc_sym" id="pc_bil_t2">Symptoms Charts</a></li>     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_notes" id="pc_bil_t3">Notes</a></li>    </ul>    <div id="report_list"><div class="gray_box">                         <h4>Lab Reports</h4>       <ul class="list">                       <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">12/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8620342" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8620342.pdf"><input type="hidden" name="id" value="zql96%2B%2BCE9NDHaeJq2H9A6mnHQ3MV6TOI5GZQHoIi66DhiKi%2BfdTsdQIAL3jGF9O6YC4Guoa6F8RCqOytIJYNA"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8620342">PDF</a></form></span>        </li>                <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">08/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8601257" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8601257.pdf"><input type="hidden" name="id" value="k613s507"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8601257">PDF</a></form></span>        </li>                <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">03/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8601256" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8601256.pdf"><input type="hidden" name="id" value="c082e709"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8601256">PDF</a></form></span>        </li>                      </ul>                 </div></div>   </div>  </div>
<div class="right_bar">
	<div class="padded_box">

		<div id="pc_bil_tb3">


<div id="pc_sym" class="ui-tabs-panel ui-widget-content ui-corner-bottom">      <div id="HormoneSummary"><ul class="HormoneSummaryList"><li class="hs_li func_focus_hormone E_deficiency" data-def="E_deficiency">Estrogen Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">23%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(25)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.urinaryIncontinece')">Trouble controlling urine/leaking<span class="symptomPoints">(18)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(12)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.thinking')">Trouble thinking and/or foggy thinking<span class="symptomPoints">(12)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.skinTone')">Loss of skin tone and/or increased wrinkles<span class="symptomPoints">(9)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.facialHair')">Increased growth of facial hair<span class="symptomPoints">(6)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(6)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfLibido')">Lack of sex drive/libido/sexual desire<span class="symptomPoints">(6)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone T_deficiency active" data-def="T_deficiency">Testosterone Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">37%</span>
	<ul>
		<li class="Severe" onclick="triggerMoreInfo('currentSymptoms.sexualPleasure')">Decreased sexual arousal/sexual pleasure<span class="symptomPoints">(24)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.fear')">Feeling fearful/afraid for no reason<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfLibido')">Lack of sex drive/libido/sexual desire<span class="symptomPoints">(12)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(10)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.anxiety')">Increased anxiety<span class="symptomPoints">(8)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.urinaryIncontinece')">Trouble controlling urine/leaking<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone T_excess" data-def="T_excess">Testosterone Dominance / Estrogen - Ratio: <span class="click_info">Click for History</span><span class="symptomPoints">32%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.acne')">Acne/oily skin<span class="symptomPoints">(60)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.aggression')">Increased hostility/aggression<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.facialHair')">Increased growth of facial hair<span class="symptomPoints">(13)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.irritability')">Increased irritability and/or anger<span class="symptomPoints">(13)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone Cortisol_deficiency" data-def="Cortisol_deficiency">Cortisol Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">36%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(18)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfEnergy')">Lack of energy/Endurance<span class="symptomPoints">(11)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.irritability')">Increased irritability and/or anger<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.foodCravings')">Food cravings - carbs/salty/sweet<span class="symptomPoints">(9)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.jointPain')">Low back and/or joint pain<span class="symptomPoints">(7)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.anxiety')">Increased anxiety<span class="symptomPoints">(7)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(7)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.fear')">Feeling fearful/afraid for no reason<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone Thyroid_deficiency" data-def="Thyroid_deficiency">Thyroid Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">24%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(22)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(22)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.tolerateCold')">Unable to tolerate cold<span class="symptomPoints">(16)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.jointPain')">Low back and/or joint pain<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(11)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.thinking')">Trouble thinking and/or foggy thinking<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.headaches')">Headaches or migraines<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>

</ul></div>      <div id="symptomList">



<div id="symptomBox">
<style>
#symptomsKeyChart td {background:transparent;}
</style>
<table id="pc_symptoms_list" class="symtoms2" summary="Patient Symptoms">
	<caption id="pc_sym_caption">Testosterone Deficiency Symptoms</caption>
	<thead id="symptomListingTHEAD">
	<tr class="odd">
		<th class="column1">
			<span class="verysmalllink" onclick="focusHormone('default');">View All</span>
			<span class="showControl">&nbsp; / &nbsp; </span>
			<span class="verysmalllink showControl" onclick="showMoreInfo( 'symptomsKeyChart', 'symKeyImg');">Key <img src="/images/buttons/next_icon.png" id="symKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key"></span>
			<table id="symptomsKeyChart" style="display: none; ">
				<tbody><tr>
				<td style="">None <img style="float:left; margin-right:.5em" class="symptomsImg symLevel none" src="/images/symptoms/none.png">&nbsp;&nbsp;</td>
				<td style="">Minimal <img style="float:left; margin-right:.5em" class="symptomsImg symLevel minimal" src="/images/symptoms/minimal.png">&nbsp;&nbsp;</td>
				</tr>
				<tr>
				<td style="">Moderate <img style="float:left; margin-right:.5em" class="symptomsImg symLevel moderate" src="/images/symptoms/moderate.png">&nbsp;&nbsp;</td>
				<td style="">Severe <img style="float:left; margin-right:.5em" class="symptomsImg symLevel severe" src="/images/symptoms/severe.png">&nbsp;&nbsp;</td>				
				</tr>
				<tr>
				<td colspan="2">
				<div class="noFax noPrint" style="clear:both;">
					<div class="symworse">Red - Symptom has become more severe</div>
					<div class="symbetter">Green - Symptom has improved</div>
				</div>
				</td>
				</tr>
			</tbody></table>

		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8601256  reportCol4 3_0_test">
			<span>03/25/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8601257  reportCol3 3_1_test">
			<span>08/26/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8620342  reportCol2 3_2_test">
			<span>12/31/07</span>
		</th>

	</tr>	
	</thead>
    <tfoot id="symptomListingTFOOT">	
 	<tr class="odd">
		<th class="column1">&nbsp;</th>
		<th scope="col" class="symptomsDates RFF  reportCol4 ">
			<span>03/25/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  reportCol3 ">
			<span>08/26/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  reportCol2 ">
			<span>12/31/07</span>
		</th>
	</tr>	
	</tfoot>
	<tbody id="symptomListingTBODY"><tr id="currentSymptoms.sexualPleasure" class="symListingTR even symworse">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symworse ">Decreased sexual arousal/sexual pleasure</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td> </tr><tr id="currentSymptoms.fear" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Feeling fearful/afraid for no reason</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.lackOfLibido" class="symListingTR even symbetter">    <th scope="row" valign="top" class="column1 ">     <span class=" symbetter ">Lack of sex drive/libido/sexual desire</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.depression" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Depression</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.anxiety" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Increased anxiety</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.memoryLoss" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symworse ">Memory problems/forgetfulness</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.urinaryIncontinece" class="symListingTR even symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Trouble controlling urine/leaking</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.attentionSpan" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Decreased focus and/or attention span</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.skinTone" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Loss of skin tone and/or increased wrinkles</span></th> <td class=""><span style="z-index:10;" class="symptomsImg None"><img class="symptomsImg" src="/images/symptoms/none.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.lackOfEnergy" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Lack of energy/Endurance</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.jointPain" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symequal ">Low back and/or joint pain</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.nervousness" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Nervousness</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.headaches" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Headaches or migraines</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr></tbody>
</table>
	<div id="symptomsAsText">
		<ul class="severeSymsText">
			 		<li><span class="  ">Decreased sexual arousal/sexual pleasure</span></li>
		</ul>
		<ul class="moderateSymsText">
			 		<li><span class="  ">Memory problems/forgetfulness</span></li>
			 		<li><span class="  ">Feeling fearful/afraid for no reason</span></li>
			 		<li><span class="  ">Increased irritability and/or anger</span></li>
			 		<li><span class="  ">Trouble controlling urine/leaking</span></li>
			 		<li><span class="  ">Trouble thinking and/or foggy thinking</span></li>
			 		<li><span class="  ">Decreased focus and/or attention span</span></li>
			 		<li><span class="  ">Depression</span></li>
			 		<li><span class="  ">Acne/oily skin</span></li>
		</ul>
		<div></div>
	</div>
</div>
</div>     </div>
</div>
</div>
</div>







































<div class="left_bar">   <div class="indent_15_em">    <ul class="pc_chart_tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_labs" id="pc_bil_t0">Lab Charts</a></li>      <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_hh" id="pc_bil_t1">Health History</a></li>     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top ui-tabs-selected ui-state-active"><a href="#pc_sym" id="pc_bil_t2">Symptoms Charts</a></li>     <li class="ui-button ui-widget ui-state-default ui-corner-all ui-corner-top"><a href="#pc_notes" id="pc_bil_t3">Notes</a></li>    </ul>    <div id="report_list"><div class="gray_box">                         <h4>Lab Reports</h4>       <ul class="list">                       <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">12/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8620342" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8620342.pdf"><input type="hidden" name="id" value="zql96%2B%2BCE9NDHaeJq2H9A6mnHQ3MV6TOI5GZQHoIi66DhiKi%2BfdTsdQIAL3jGF9O6YC4Guoa6F8RCqOytIJYNA"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8620342">PDF</a></form></span>        </li>                <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">08/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8601257" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8601257.pdf"><input type="hidden" name="id" value="k613s507"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8601257">PDF</a></form></span>        </li>                <li class=" lab_listing" data-patientid="134816">         <span class="lab_date">03/07</span><span class="lab_type">Restore Report</span><span class="view"><a href="#" data-rxn="8601256" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_8601256.pdf"><input type="hidden" name="id" value="c082e709"><input type="hidden" name="xat" value="U2FsdGVkX18vYZVYgYb5CyKtGLIMOIsltUhXZK8CjBN0koFgJ_iCVtZse_1qYyrobTS8GmNCrAdvkKdXs32AgebQL6ps9CphjE5V7O7CFRg"><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_8601256">PDF</a></form></span>        </li>                      </ul>                 </div></div>   </div>  </div>
<div class="right_bar">
	<div class="padded_box">

		<div id="pc_bil_tb3">


<div id="pc_sym" class="ui-tabs-panel ui-widget-content ui-corner-bottom">      <div id="HormoneSummary"><ul class="HormoneSummaryList"><li class="hs_li func_focus_hormone E_deficiency" data-def="E_deficiency">Estrogen Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">23%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(25)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.urinaryIncontinece')">Trouble controlling urine/leaking<span class="symptomPoints">(18)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(12)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.thinking')">Trouble thinking and/or foggy thinking<span class="symptomPoints">(12)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.skinTone')">Loss of skin tone and/or increased wrinkles<span class="symptomPoints">(9)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.facialHair')">Increased growth of facial hair<span class="symptomPoints">(6)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(6)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfLibido')">Lack of sex drive/libido/sexual desire<span class="symptomPoints">(6)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone T_deficiency active" data-def="T_deficiency">Testosterone Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">37%</span>
	<ul>
		<li class="Severe" onclick="triggerMoreInfo('currentSymptoms.sexualPleasure')">Decreased sexual arousal/sexual pleasure<span class="symptomPoints">(24)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.fear')">Feeling fearful/afraid for no reason<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfLibido')">Lack of sex drive/libido/sexual desire<span class="symptomPoints">(12)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(10)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.anxiety')">Increased anxiety<span class="symptomPoints">(8)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.urinaryIncontinece')">Trouble controlling urine/leaking<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone T_excess" data-def="T_excess">Testosterone Dominance / Estrogen - Ratio: <span class="click_info">Click for History</span><span class="symptomPoints">32%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.acne')">Acne/oily skin<span class="symptomPoints">(60)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.aggression')">Increased hostility/aggression<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.facialHair')">Increased growth of facial hair<span class="symptomPoints">(13)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.irritability')">Increased irritability and/or anger<span class="symptomPoints">(13)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone Cortisol_deficiency" data-def="Cortisol_deficiency">Cortisol Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">36%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(18)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(13)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.lackOfEnergy')">Lack of energy/Endurance<span class="symptomPoints">(11)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.irritability')">Increased irritability and/or anger<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.foodCravings')">Food cravings - carbs/salty/sweet<span class="symptomPoints">(9)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.jointPain')">Low back and/or joint pain<span class="symptomPoints">(7)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.anxiety')">Increased anxiety<span class="symptomPoints">(7)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(7)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.depression')">Depression<span class="symptomPoints">(5)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.fear')">Feeling fearful/afraid for no reason<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>
<li class="hs_li func_focus_hormone Thyroid_deficiency" data-def="Thyroid_deficiency">Thyroid Deficiency: <span class="click_info">Click for History</span><span class="symptomPoints">24%</span>
	<ul>
		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.memoryLoss')">Memory problems/forgetfulness<span class="symptomPoints">(22)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.attentionSpan')">Decreased focus and/or attention span<span class="symptomPoints">(22)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.tolerateCold')">Unable to tolerate cold<span class="symptomPoints">(16)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.jointPain')">Low back and/or joint pain<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.sluggish')">Fatigue/tired and/or exhausted<span class="symptomPoints">(11)</span> </li>

		<li class="Moderate" onclick="triggerMoreInfo('currentSymptoms.thinking')">Trouble thinking and/or foggy thinking<span class="symptomPoints">(11)</span> </li>

		<li class="Minimal" onclick="triggerMoreInfo('currentSymptoms.headaches')">Headaches or migraines<span class="symptomPoints">(5)</span> </li>

	</ul>
</li>

</ul></div>      <div id="symptomList">



<div id="symptomBox">
<style>
#symptomsKeyChart td {background:transparent;}
</style>
<table id="pc_symptoms_list" class="symtoms2" summary="Patient Symptoms">
	<caption id="pc_sym_caption">Testosterone Deficiency Symptoms</caption>
	<thead id="symptomListingTHEAD">
	<tr class="odd">
		<th class="column1">
			<span class="verysmalllink" onclick="focusHormone('default');">View All</span>
			<span class="showControl">&nbsp; / &nbsp; </span>
			<span class="verysmalllink showControl" onclick="showMoreInfo( 'symptomsKeyChart', 'symKeyImg');">Key <img src="/images/buttons/next_icon.png" id="symKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key"></span>
			<table id="symptomsKeyChart" style="display: none; ">
				<tbody><tr>
				<td style="">None <img style="float:left; margin-right:.5em" class="symptomsImg symLevel none" src="/images/symptoms/none.png">&nbsp;&nbsp;</td>
				<td style="">Minimal <img style="float:left; margin-right:.5em" class="symptomsImg symLevel minimal" src="/images/symptoms/minimal.png">&nbsp;&nbsp;</td>
				</tr>
				<tr>
				<td style="">Moderate <img style="float:left; margin-right:.5em" class="symptomsImg symLevel moderate" src="/images/symptoms/moderate.png">&nbsp;&nbsp;</td>
				<td style="">Severe <img style="float:left; margin-right:.5em" class="symptomsImg symLevel severe" src="/images/symptoms/severe.png">&nbsp;&nbsp;</td>				
				</tr>
				<tr>
				<td colspan="2">
				<div class="noFax noPrint" style="clear:both;">
					<div class="symworse">Red - Symptom has become more severe</div>
					<div class="symbetter">Green - Symptom has improved</div>
				</div>
				</td>
				</tr>
			</tbody></table>

		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8601256  reportCol4 3_0_test">
			<span>03/25/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8601257  reportCol3 3_1_test">
			<span>08/26/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  symColFor_8620342  reportCol2 3_2_test">
			<span>12/31/07</span>
		</th>

	</tr>	
	</thead>
    <tfoot id="symptomListingTFOOT">	
 	<tr class="odd">
		<th class="column1">&nbsp;</th>
		<th scope="col" class="symptomsDates RFF  reportCol4 ">
			<span>03/25/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  reportCol3 ">
			<span>08/26/07</span>
		</th>
		<th scope="col" class="symptomsDates RFF  reportCol2 ">
			<span>12/31/07</span>
		</th>
	</tr>	
	</tfoot>
	<tbody id="symptomListingTBODY"><tr id="currentSymptoms.sexualPleasure" class="symListingTR even symworse">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symworse ">Decreased sexual arousal/sexual pleasure</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td> </tr><tr id="currentSymptoms.fear" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Feeling fearful/afraid for no reason</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.lackOfLibido" class="symListingTR even symbetter">    <th scope="row" valign="top" class="column1 ">     <span class=" symbetter ">Lack of sex drive/libido/sexual desire</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Severe"><img class="symptomsImg" src="/images/symptoms/severe.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.depression" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Depression</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.anxiety" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Increased anxiety</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.memoryLoss" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symworse ">Memory problems/forgetfulness</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.urinaryIncontinece" class="symListingTR even symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Trouble controlling urine/leaking</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.attentionSpan" class="symListingTR odd symworse">    <th scope="row" valign="top" class="column1 ">     <span class=" symworse ">Decreased focus and/or attention span</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td> </tr><tr id="currentSymptoms.skinTone" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Loss of skin tone and/or increased wrinkles</span></th> <td class=""><span style="z-index:10;" class="symptomsImg None"><img class="symptomsImg" src="/images/symptoms/none.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.lackOfEnergy" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Lack of energy/Endurance</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.jointPain" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 symptomsline">     <span class=" symequal ">Low back and/or joint pain</span></th> <td class="symptomsline"><span style="z-index:10;" class="symptomsImg Moderate"><img class="symptomsImg" src="/images/symptoms/moderate.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class="symptomsline"><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.nervousness" class="symListingTR odd symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Nervousness</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr><tr id="currentSymptoms.headaches" class="symListingTR even symequal">    <th scope="row" valign="top" class="column1 ">     <span class=" symequal ">Headaches or migraines</span></th> <td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td><td class=""><span style="z-index:10;" class="symptomsImg Minimal"><img class="symptomsImg" src="/images/symptoms/minimal.png"></span></td> </tr></tbody>
</table>
	<div id="symptomsAsText">
		<ul class="severeSymsText">
			 		<li><span class="  ">Decreased sexual arousal/sexual pleasure</span></li>
		</ul>
		<ul class="moderateSymsText">
			 		<li><span class="  ">Memory problems/forgetfulness</span></li>
			 		<li><span class="  ">Feeling fearful/afraid for no reason</span></li>
			 		<li><span class="  ">Increased irritability and/or anger</span></li>
			 		<li><span class="  ">Trouble controlling urine/leaking</span></li>
			 		<li><span class="  ">Trouble thinking and/or foggy thinking</span></li>
			 		<li><span class="  ">Decreased focus and/or attention span</span></li>
			 		<li><span class="  ">Depression</span></li>
			 		<li><span class="  ">Acne/oily skin</span></li>
		</ul>
		<div></div>
	</div>
</div>
</div>     </div>
</div>
</div>
</div>






















































<div id="result"></div>



            </div>
        </div>
          
    </div>





    <br>

<div id="preloadDefaultImages"></div>


<div id="some_hidden_elm"></div>
<div id="footer"><div id="footer-inner">
<img src="/images/Restore_Logo_white_60.png" id="bottom_logo">
<div><div class="content">           <p>       <span class="closure-copyright">@ Restore Health Pharmacy, LLC       </span>       1289 Deming Way <span class="footer-space">|</span> Madison, WI 53717 <span class="footer-space">|</span> T: 800-558-7046 <span class="footer-space">|</span> F: 888-898-7412 <span class="footer-space">|</span> Email: <a href="mailto:info@restorehc.com">info@restorehc.com</a> <span class="footer-space">|</span> <a href="http://www.restorehc.com">RESTOREHC.COM</a></p>  </div></div>



</div></div>




<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none; "></ul></body>