<%init>

    use HTTP::BrowserDetect;

    my $browser = HTTP::BrowserDetect->new($ENV{HTTP_USER_AGENT});

    # Detect operating system
#    if ($browser->windows) {
#      if ($browser->winnt) ...
#      if ($browser->win95) ...
#    }
  #  print $browser->mac;

    # Detect browser vendor and version
#    print $browser->netscape;
#    print $browser->ie;
#    if (browser->major(4)) {
#    if ($browser->minor() > .5) {
#        ...
  #  }
#    }

</%init>
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<!-- <% $ENV{HTTP_USER_AGENT} %> -->
  <title>RestoreDirect.com</title>
  <link rel="icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />


  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css" />

		<base href="/" />
		<script src="js/jquery.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/jquery.dataset.js"></script>
		<script src="js/jquery.autoresize.js"></script>
		<script src="js/jquery.textareaexpander.js"></script>

		<script src="js/jquery.tmpl.js"></script>
		<script src="js/jquery.tmplPlus.js"></script>
		<script src="js/rd.js"></script>
<script type="text/javascript" src="js/jquery.vibrate.js"></script>
<script> var v_conf = {
				frequency: 5000,
				spread: 5,
				duration: 500
			};
			
</script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.custom.css" />
% #  <link rel="stylesheet" type="text/css" href="/css/styles/layout.css" />





<style type="text/css">
/* FROM layout.css */
	/* Status Bars */
	
	.status {padding: 8px 10px 5px 10px; border-radius: 10px; -moz-border-radius: 10px; text-shadow: 1px 1px 1px #fff; overflow: auto; margin-bottom: 20px; clear: both;}
		.status img {float: left; padding-right: 5px;}
		.status p {padding: 0; margin: 0;}
		.status p span {font-weight: 700;}
		.status .closestatus {float: right; color: #fff; text-align: center; margin-left: 10px;}
			.status .closestatus a {position: relative; color: #fff; text-decoration: none; padding: 5px; width: 10px; height: 10px; display: block; border-radius: 5px; -moz-border-radius: 5px; line-height: .6em; top: -2px; text-shadow: none;}
	
	.warning {border: 3px solid #BF9900; background: #FEEB9C url(../img/bg_fade_yellow_med.png) repeat-x top;}
		li.errMsg.warning:before {content: url('/css/img/icons/icon_warning.png'); margin-right: .5em;}

		.warning span {color: #BF9900;}
		.warning .closestatus a {background: #BF9900;}
			.warning .closestatus a:hover {background: #9B7C00;}
			
	.success {border: 3px solid #8EA534; background: #CBDA8F url(../img/bg_fade_green_med.png) repeat-x top;}
		li.errMsg.success:before {content: url('/css/img/icons/icon_success.png'); margin-right: .5em;}
		.success span {color: #8EA534;}
		.success .closestatus a {background: #8EA534;}
			.success .closestatus a:hover {background: #829829;}
			
	.error {border: 3px solid #990000; background: #F5D0CD url(../img/bg_fade_red_med.png) repeat-x top;}
		li.errMsg.error:before {content: url('/css/img/icons/icon_error.png'); margin-right: .5em;}
		.error span {color: #990000;}
		.error .closestatus a {background: #990000;}
			.error .closestatus a:hover {background: #730D0D;}
	
	.info {border: 3px solid #2FADD7; background: #92D6ED url(../img/bg_fade_blue_med.png) repeat-x top;}
		li.errMsg.info:before {content: url('/css/img/icons/icon_info.png'); margin-right: .5em;}
		.info span {color: #0E7A9F;}
		.info .closestatus a {background: #2FADD7;}
			.info .closestatus a:hover {background: #228DB0;}
			
			#err_msg_area {color: #424242;
										font-weight: bold;
										margin: 0px auto;
										max-width: 300px;
										text-align: center;}






/* newer 07/2012 */
body { color: #555;	}
a {text-decoration: none; color: #3A6781;	}






#lost_password {margin: 0.5em auto;}
#more_info {margin: 0.75em;}
#login_header {margin: 0.15em; font-family: ProximaNovaRegular !important;  font: 18px ProximaNovaRegular !important;}




#login_form {

-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6EB4C2), to(#B6D9E0));
border: 1px solid #4E99AB;
line-height: 100%;
margin: 0px;

}
</style>




  <link rel="stylesheet" type="text/css" href="/css/styles/login.css" />



<!--  checkbox css off -->
% #  <link rel="stylesheet" type="text/css" href="/css/styles/checkbox.css" />



	<style>
		.small_label {font-size: small;}
		#rxp_head div.rxp_med span {display: inline-block;}
		.med_sig {margin-left: 1em;}
		.med_refills {	width: 3em;	}
		.med_dose {	width: 88px;	}
		.med_qty {	width: 105px;;	}
		.med_medication {width: 220px; margin-left: 1em;}




		.med_sig {margin-left: 1em;}
		.med_refills_i {	max-width: 3em;	}
		.med_dose_i {	max-width: 8em;	}
		.med_qty_i {	max-width: 9em;	}
		.med_medication_i {width: 20em;}



		#add_rxpad_row {font-size:small; cursor:pointer;}



	.click_to_change_patient { cursor:pointer;}
	.click_to_change_patient:hover {text-decoration:underline;}
	
	#invalid_login {	width: 100%; text-align:center; margin: 90px auto 0px;	 position:absolute;	}
	
	
	
	
	
	
	#logincontainer .loginbtn {background: #3197CA url(/css/img/bg_login_btn.png) repeat-x top; border-radius: 8px; -moz-border-radius: 8px; border: none; font-size: 25px; font-weight: 700; text-shadow: 1px 1px 1px #9cced6; color: #1C5571; width: 260px; padding: 11px 0; margin: 5px 0 0 0; display: block; cursor: pointer; border-top: 1px solid #BEDFEF; letter-spacing: -1px;}
        
        #logincontainer .loginbtn:hover {background: #3197CA url(/css/img/bg_login_btn.png) -0 -60px; cursor: pointer; color: #103141;}
        
	
	
	
	/* newer 07/2012 */
body { color: #555;	}
a {text-decoration: none; color: #3A6781;	}






#lost_password {margin: 0.5em auto;}
#more_info {margin: 0.75em;}
#login_header {margin: 0.15em; font-family: ProximaNovaRegular !important;  font: 18px ProximaNovaRegular !important;}




#login_form {

-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6EB4C2), to(#B6D9E0));
border: 1px solid #4E99AB;
line-height: 100%;
margin: 0px;

}
	</style>
	
	<style title="login" type="text/css">

* { margin: 0; padding: 0; }

html        { font: 14px/18px 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; color: #fff; }
a:hover, a:active { outline: none; }
#sizer      { width: 340px; margin: 0 auto; padding: 144px 200px 240px; background: url(/css/img/highlight.png) no-repeat 50% 0; }
form        { width: 300px; padding: 18px 20px 0; margin-bottom: 18px; obackground: #4f84b8 url(/css/img/box-grad.png) repeat-x 0 0; background: #4f84b8 url(/images/green_gradient_350.png) repeat-x 0 0; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; box-shadow: 0 5px 12px rgba(0,0,0,.4); -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); }
fieldset    { border: 0; padding-bottom: 9px; }
label       { display: block; cursor: pointer; line-height: 20px; padding-bottom: 9px; text-shadow: 0 -1px 0 rgba(0,0,0,.2); }
.radios     { padding-top: 3px; background: url(/css/img/divider.png) repeat-x 0 0; }
.label_check input,
.label_radio input  { margin-right: 5px; }
#footer     { width: 100%; text-align: center; font-size: 12px; position: fixed;}
#footer a.button   { padding: 2px 10px; margin: 0 2px; color: #999; background: #ddd; text-decoration: none; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; }
#footer a:hover,
#footer a:focus { color: #fff; background: #333; background: rgba(0,0,0,.3); }

.has-js .label_check,
.has-js .label_radio    { padding-left: 34px; }
.has-js .label_radio    { background: url(/css/img/radio-off.png) no-repeat; }
.has-js .label_check    { background: url(/css/img/check-off.png) no-repeat; }
.has-js label.c_on      { background: url(/css/img/check-on.png) no-repeat; }
.has-js label.r_on      { background: url(/css/img/radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input  { position: absolute; left: -9999px; }

.form_larger {		 font-size: larger;	 color: white;
								font-weight: bold;
						}


#login_button:hover {
		-webkit-box-shadow: none;
		background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#92BDD6), to(#B9E0F5));
		border: 1px solid #7096AB;
		color: #1C4257;
		outline: none;
	}
body { 

background-attachment: fixed;
background-color: #F2F2F1;
background: #F2F2F1 url(/css/img/bg_body_left.png) repeat-y 0% 50%;
background-image: url(http://www.restorehc.com/sites/all/themes/restore_evo/images/bg.png);
background-position: 50% 0%;
background-repeat: repeat-x;

}

fieldset.center {

margin: 0.25em auto;
padding-bottom: 9px;
text-align: center;
width: 300px;

}

p.taleft { text-align: left; margin-left: 20px; letter-spacing: -1px;}
	</style>

<script type="text/javascript">


$(document).ready(function () {

	// if user clicked on button, the overlay layer or the dialogbox, close the dialog	
	$('a.btn-ok, #dialog-overlay, #dialog-close').click(function () {		
				closePopUp();
		return false;
	});
	
	// if user resize the window, call the same function again
	// to make sure the overlay fills the screen and dialogbox aligned to center	
	$(window).resize(function () {
		
		//only do it if the dialog box is not hidden
		if (!$('#dialog-box').is(':hidden')) popup();		
	});	
	
	
});



</script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="robots"	content="all" />




<%perl>
use MIME::Base64::URLSafe ();
my $ek = MIME::Base64::URLSafe::encode(RD3::encryptKey($dbh, [], { userID => 'login', password => 'login_only' }));
</%perl>
<script>var login_token=<% JSON::XS::encode_json([$ek]) %>;</script>


<!-- Theme Start -->
% # <link href="/css/themes/blue/styles.css" rel="stylesheet" type="text/css" />
<!-- Theme End -->
</head>
<body class="has-js">
<div id="dialog-overlay"></div>
<div id="dialog-box">
	<div class="dialog-content">
		<div id="dialog-message"></div>
		<a href="#" class="button" id="dialog-close">Close</a>
	</div>
</div>

<script id="tmpl_display_errs" type="text/x-jquery-tmpl">
	<ul>
		{{each(i,err) errs}}
		{{if err.html}}
			<li class="errMsg status ${err.type}">{{html err.msg}}</li>
		{{else}}
			<li class="errMsg status ${err.type}">${err.msg}</li>
		{{/if}}
		{{/each}}
	</ul>
	{{if ! ( errs[0].noclose || opt.noclose)}}
	<div><a href="#" class="button" onclick='$("#dialog-message").dialog("close" ); ${cb}; return false;'>Close</a></div>
	{{/if}}
</script>
<script id="tmpl_patient_area" type="text/x-jquery-tmpl">
<div class="patient_selected " id="action_info_area">
	<img src="/private_imgs/${xu}/patient_${iu}.jpg"  height="35" class="hoverimg" alt="" id="pat_img">
    <p id="current_action" class="dashboard"></p>
    <p class="selected_patient" id="working_patient"></p>
% #   <p class="userbtn0"><a href="#patient_profile" title="">Profile</a></p>
</div>
</script>


<div  style="display:none;" id="invalid_login">
        	<p  id="err_msg_area" class="errMsg status error"><img src="/css/img/icons/icon_error.png" alt="Error">&nbsp;<span>Error!</span> Invalid username or password!</p>
        </div>

<div id="sizer">
% if (($browser->engine_string() eq 'MSIE'  || $browser->engine_string() eq 'Trident' ) && ! $ENV{HTTP_USER_AGENT} =~m/chromeframe/i) {

<style>
#_ul li {
float: left;
}
#_li1 {
display: none;
}
#_d {
width: 535px !important;;
}
</style>
<script src="/browser_check/warning.js"></script><script>window.onload=function(){e("/browser_check/")}</script>


% #   <script type="text/javascript"    src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

  <style>
   /* 
    CSS rules to use for styling the overlay:
      .chromeFrameOverlayContent
      .chromeFrameOverlayContent iframe
      .chromeFrameOverlayCloseBar
      .chromeFrameOverlayUnderlay
   */
  </style> 

%	} else {
<div id="login_header">Password Reset</div>
    <form action="#" method="post" accept-charset="utf-8"  id="login_form">

        <fieldset class="checkboxes center">
                        	<p class="form_larger taleft">Enter your username:</p>
                	<input type="text" class="logininput" id="username" value=""/>
            
        </fieldset>
        <fieldset class="radios" >
		<div style="width: 20em; margin: 1em auto; text-align:center">
        <input style="width: 15em; margin: 1em auto; text-align:center" type="submit" id="login_button" value="Send Password Reset Link"  class=" ui-button ui-widget ui-state-default ui-corner-all" role="button"><br />
        </div>
        </fieldset>
    </form>
%    }

</div>

<div id="last_form">
</div>


<div id="footer"><div id="footer-inner">
<img src="/images/Restore_Logo_white_60.png" id="bottom_logo">
<div><div class="content">           <p>       <span class="closure-copyright">@ Restore Health Pharmacy, LLC       </span>       1289 Deming Way <span class="footer-space">|</span> Madison, WI 53717 <span class="footer-space">|</span> T: 800-558-7046 <span class="footer-space">|</span> F: 888-898-7412 <span class="footer-space">|</span> Email: <a href="mailto:info@restorehc.com">info@restorehc.com</a> <span class="footer-space">|</span> <a href="http://www.restorehc.com">RESTOREHC.COM</a></p>  </div></div>



<script type="text/javascript">
var check_login = function(data){
					if (data.success) {console.log(data.data.authorization);} else {
							// this is the call we make when the AJAX callback function indicates a login failure 
							$("#sizer").vibrate(conf);
							// let's also display a notification
							$('#invalid_login').show('slide', {}, 'slow')
							// clear the fields to discourage brute forcing :)
					//		$("#username").val("");
							$("#pwd").val("");
							$("#pwd").focus();
					}
			  }
$(document).ready(function() {
	$('#login_form').submit(function() {return false;});
	$("#login_button").click( function() {
		
		// configurations for the buzzing effect. Be careful not to make it too annoying!
jQuery.ajaxSetup({headers: {"X-Auth-Token":login_token[0]}});

	$.postJSON("/api/v1/create_reset_link", {reset_userID: $("#username").val(), wihi: screen.width+'x'+screen.height},  function(data,textStatus, jqXHR){
					if (data.success) {
						console.log('data.errs');
						console.log(data.errs);
						display_errs(data.errs, 'Password Reset');
					} else {
							// this is the call we make when the AJAX callback function indicates a login failure 
							$("#sizer").vibrate(v_conf);
							// let's also display a notification
							$('#invalid_login').show('slide', {}, 'slow')
							// clear the fields to discourage brute forcing :)
							$("#username").val("");
					}
			  });
	});
	
});


</script>
</body>

</html>
