<%args>
$userID => undef
$password => undef
</%args>
<%init>
use MIME::Base64::URLSafe;
# security check
unless ($userID && $password && $ARGS{'X-Auth-Token'} 	 ) {
#$m->out(__LINE__ . qq{: $userID && $password && $ARGS{'X-Auth-Token'} 	 }); return;	
$m->redirect('/login.html');
}

if (my $tak = RD3::checkKeyAuth($dbh, [], {key => MIME::Base64::URLSafe::decode($ARGS{'X-Auth-Token'}) }) ) {
	
	#/ sec chck
	
	$m->comp('/atopleft.mas', %ARGS, doc => $tak->{doc});
	
} else {		$m->redirect('/login.html');		}
</%init>
<!-- RD29 -->
<div id="ma">

	<span id="loading_init" style="display: block; margin: 2em auto; padding: 2em; text-align: center; width: 20em; ">Loading... <img src="/images/ajax-loader-blue.gif" /></span>
</div>

<& '/tmpl/rxpad.html' &>

<& '/tmpl/add_patient.html' &>



<div id="result"></div>
% $m->comp('/bottomleft.mas');
