<style>
#issues {float: left; margin 2em;}
</style>
<img  src="/images/network_documentation.png">


<div id="issues">

	<div id="production_srv">
		<h4>Production Server</h4>
		Runs:
		<ul>
			<li>RestoreHC.com</li>
			<li>RestoreMD.com</li>
			<li>RestoreDirect.com</li>
			<li>mysql for each of the above</li>
		</ul>
		Issues:
		<ul>
			<li>Not RAID 1 - Should be RAIDZ (ZFS) requires more drives and configuration</li>
			<li>Should be upgraded to new OS (9.0), and then virutalized (jailed) so each entity above has it's own environment</li>
			<li>All sites should sit behind HAproxy so there is never downtime - requires another server</li>
		</ul>
	</div>


	<div id="dev_srv">
		<h4>Dev Server</h4>
		Runs:
		<ul>
			<li>RDXX.com</li>
			<li>mysql</li>
		</ul>
		Issues:
		<ul>
			<li>Uses RAIDZ (ZFS) - very good!</li>
			<li>currently virtualized - good </li>
			<li>HAproxy should be part of testing</li>
		</ul>
	</div>

	<div id="T1">
		<h4>TDS T1</h4>
		<ul>
			<li>Our primary internet</li>
		</ul>
		Issues:
		<ul>
			<li>SLOW - so slow RD seems to have issues when queries travel this route</li>
			<li>Relatively expensive, but reliable</li>

		</ul>
	</div>

	<div id="pf">
		<h4>pf Firewall</h4>
		<ul>
			<li>Very good, easy to configure</li>
			<li>Blocks foreign hack attemps (we do get a lot) </li>
			<li>provides redundancy and failover</li>
		</ul>
		Issues:
		<ul>
			<li>2x I've had issues with the hardware it runs on (USB stick went bad)</li>
			<li>Represents a single point of failure</li>
			<li>Ideally, would be replaced with a Cisco router or MicroTech with a backup on hand OR add a second machine for redundancy</li>
		</ul>
	</div>

	<div id="pf">
		<h4>pf Firewall</h4>
		<ul>
			<li>Very good, easy to configure</li>
			<li>Blocks foreign hack attemps (we do get a lot) </li>
			<li>provides redundancy and failover</li>
		</ul>
		Issues:
		<ul>
			<li>2x I've had issues with the hardware it runs on (USB stick went bad)</li>
			<li>Represents a single point of failure</li>
			<li>Ideally, would be replaced with a Cisco router or MicroTech with a backup on hand OR add a second machine for redundancy</li>
		</ul>
	</div>

	<div id="phones">
		<h4>Asterisk Phone System</h4>
		<ul>
			<li>Provides ROUTING for phones</li>
		</ul>
		Issues:
		<ul>
			<li>Old, outdated, no longer supported</li>
			<li>does not handle higher volumes well</li>
			<li>issues with modern carriers</li>
			<li>and more...</li>
			<li>We'd be better off on a enterprise-level system that had API calls for things like Saleforce, etc</li>
		</ul>
	</div>



	<div id="phones">
		<h4>TDS DSL</h4>
		<ul>
			<li>Provides CONNECTIVITY for phones</li>
		</ul>
		Issues:
		<ul>
			<li>Good - could be cheaper</li>
		</ul>
	</div>


	<div id="windows">
		<h4>Windows 2003 SERVER</h4>
		<ul>
			<li>QS1</li>
			<li>Peachtree</li>
		</ul>
		Issues:
		<ul>
			<li>RAID'ed, but should be verified for good health</li>
			<li>Server should be retired </li>
		</ul>
	</div>

	<div id="RD_i">
		<h4>RD - Internal</h4>
		<ul>
			<li>RD for interal functionality</li>
			<li>DHCP/BOOTP - special for provisioning phones</li>
		</ul>
		Issues:
		<ul>
			<li>Not RAID'ed</li>
			<li>Some startup scripts are broken</li>
			<li>BOOTP should live elsewhere</li>
			<li>Server should be retired (I like to retire hardware after 6 years as a preventive measure)</li>
			<li>RD's internal functions should live on a public server in the datacenter that is also highly available</li>
		</ul>
	</div>













</div>