<%flags>
inherit => undef
</%flags>
<style>
#issues {float: left; margin 2em; display:0none;}

</style>
<img  src="/images/network_documentation_future.png">


<div id="issues">
<div id="global_issues">
	Global/network issues
	<ul>
		<li>Implement IPv6 on everything - no more NAT!  (much better for phones)</li>
		<li>Implement QoS</li>
	</ul>
</div>
	<div id="production_srv">
		<h4>Production Server</h4>
		Runs:
		<ul>
			<li>RestoreHC.com [Jailed]</li>
			<li>RestoreMD.com [Jailed]</li>
			<li>RestoreDirect.com [Jailed]</li>
			<li>mysql [jailed seperatey and replicated] for each non-RD databases</li>
		</ul>
		Issues:
		<ul>
			<li>CARP and relayd are configured for high availability</li>
			<li>FreeBSD 9.0</li>
			<li>ZFSv28 is employeed for the jails</li>
			<li></li>
		</ul>
	</div>


	<div id="dev_srv">
		<h4>Dev Server</h4>
		Runs:
		<ul>
			<li>RDXX.com</li>
			<li>mysql</li>
		</ul>
		Issues:
		<ul>
			<li>Uses RAIDZ (ZFS) - very good!</li>
			<li>currently virtualized - good </li>
		</ul>
	</div>

	<div id="T1">
		<h4>TDS T1</h4>
		<ul>
			<li>Secondary internet</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>Becomes a failover only</li>
		</ul>
	</div>

	<div id="wireless">
		<h4>Wireless Point-To-Point</h4>
		<ul>
			<li>Our new primary internet</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>nearly 40x faster</li>
		</ul>
	</div>



	<div id="pf">
		<h4>pf Firewall</h4>
		<ul>
			<li>Very good, easy to configure</li>
			<li>Blocks foreign hack attemps (we do get a lot) </li>
			<li>provides redundancy and failover</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>Give dedicated SSD drives</li>
			<li>Add another cheap machine</li>
		</ul>
	</div>


	<div id="phones">
		<h4>2600hz Phone System</h4>
		<ul>
			<li>Provides ROUTING + PROVISIONING for phones</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>Resolves quality/reliability issues</li>
			<li>Has API</li>
			<li>Scales well</li>
		</ul>
	</div>



	<div id="dsl">
		<h4>TDS DSL</h4>
		<ul>
			<li>No longer needed</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>Save ~ $100/mo</li>
		</ul>
	</div>


	<div id="windows">
		<h4>Windows 2003 SERVER - virutalized @ SupraNet</h4>
		<ul>
			<li>Peachtree</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>Probably pays for itself in electricity</li>
			<li>more available/faster to Luella</li>
			<li>no management</li>
		</ul>
	</div>

	<div id="RD_i">
		<h4>RD - Internal</h4>
		<ul>
			<li>RD for interal functionality</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>can no longer user sips - use ghostscript</li>
			<li>Some changes should be made so that scanned documents are only downloaded on request</li>
			<li>no longer needs to provision phones</li>
			<li>BOOTP can live elsewhere</li>
			<li>highly available/faster</li>
		</ul>
	</div>

	<div id="NAS">
		<h4>SupraNet SAN</h4>
		<ul>
			<li>Storage</li>
		</ul>
		Resolutions/Changes:
		<ul>
			<li>safer</li>
			<li>rsync backups no longer leave our network saving ~ $400/mo (cost is ~$100/mo)</li>
			<li>somewhat slower on large files</li>
		</ul>
	</div>


	<div id="mck">
		<h4>McKesson</h4>
		<ul>
			<li>mail order and POS available 1st quarter 2012</li>
			<li>monthly cost ~$750 vs $450 for QS1</li>
		</ul>
	</div>



	<div id="Supra">
		<h4>SupraNet Services</h4>
		<ul>
			<li>Additional rack space will be needed - 2U</li>
			<li>monthly cost ~$750 vs $450 for QS1</li>
		</ul>
	</div>









</div>