<%init>
$m->redirect('register_now.html');
my $errmsg;
my $ok;
			my @errs;
	if ($ARGS{name}) {
	if($ARGS{password1} eq $ARGS{password2} && length($ARGS{password1}) > 5  ) {
			my $dexit=$dbh->selectrow_array(q{SELECT COUNT(*) FROM doctors WHERE email=?}, undef, ($ARGS{email}));
			if($dexit){$errmsg=$ARGS{email} . ' has already registered.  Please call us at 800-558-7046 x4';}

			 @errs=RD2::send_gmail($dbh, to => 'restoredept@womenshealth.com', subject => "New Provider - $ARGS{name}", from => 'admin@restoredirect.com', user => 'admin@restoredirect.com', pass => '91643770', text => qq{Name: $ARGS{name}\nEmail: $ARGS{email}\n Pass: $ARGS{password1} \nPhone: $ARGS{phone}\n\n} .localtime(time()));
			 warn join(', ', @errs, %ARGS) if @errs;
		$ok=1;
		}
	else {$errmsg='Passwords must match and be more than 5 characters long!';}
	}

</%init>
% if ($ok) {

    <div id="pageHeader"> <h1><% $errmsg || qq{Thanks for registering!  We'll contact you shortly after loading your patients.} %></h1> </div>
%	} else {

    <div id="pageHeader"> <h1>Get Started With RestoreDirect.com Today:</h1> </div>

% #	<h3 style="padding: 1.5em;">Just call 800-558-7046 x4 and ask to get started with RestoreDirect!</h3>
	<div style="font-weight:bold; font-size: 1.2em; color:red; width: 40em; margin: 1.2em 4em ;"><% $errmsg %></div>
<& '/gray_window.mas', title => "It's easy to become part of our RestoreDirect.com provider network.  Simply complete the registration form below.<br/>" &>

<form method="post">
	<div>Name: <input tabindex="1" type="text" name="name" value="<% $ARGS{name} %>" /></div>
	<div>Email: <input tabindex="2" type="text" name="email"  value="<% $ARGS{email} %>"  /></div>
	<div>Password: <input tabindex="3" type="password" name="password1" /></div>
	<div>Verify Password: <input tabindex="4" type="password" name="password2" /></div>
	<div>Phone: <input tabindex="5" type="text" name="phone"  value="<% $ARGS{phone} %>" /></div>
	<div><input type="submit" tabindex="6" /></div>
</form>

<& '/gray_window.mas' &>


% }
% return;







<script language="JavaScript1.2" type="text/javascript" src="/js/validate.js"></script>
<script language="JavaScript1.2" type="text/javascript" src="/js/dhtml.js"></script>
<script language="JavaScript1.2" type="text/javascript" src="/js/register.js"></script>
<script language="JavaScript1.2" type="text/javascript">

/*
    function formValidate(form) {
        var errs = new errors();

        // execute all element validations in reverse order, so focus gets
        // set to the first one in error.
//        disableElement('submit', 5000);

        if ( !validateMatch(form.verifyemail, form.email) ) errs.add( 'Office Email Address and Verify Email must be the same.' );
        if ( !validateOnRegExp(form.email, 'email')) errs.add( 'Please enter your correct Office Email Address.' );
        if ( !validateOnRegExp(form.doctorPhone1, 'phone') ) errs.add( 'Please enter your correct Office Phone.' );
        if ( !validateDEA() ) errs.add( 'You must have correct DEA#' );
//        if (!validatePresent(form.NPI)) errs += 1;
        if (!validateOnRegExp(form.doctorZIP,  'zip')) errs.add( 'Zipcode is invalid.' );
        if (!validateOnRegExp(form.doctorState, 'state')) errs.add( 'State is invalid.' );
        if (!validatePresent(form.doctorCity, '!empty')) errs.add( 'City is invalid.' );
        if (!validatePresent(form.doctorAddress1, '!empty')) errs.add( 'Office Address Line 1 is invalid.' );
        if (!form.ownDEA.checked) {
            if (!validatePresent(form.supervisingProvider, '!empty')) errs.add( "Supervising Provider just ensure it's not blank" );
            if (!validateOnRegExp(form.supervisingZIP,  'zip')) errs.add( 'Supervising Provider ZIP is invalid.' );
            if (!validateOnRegExp(form.supervisingState, 'state')) errs.add( 'Supervising Provider State is invalid.' );
            if (!validatePresent(form.supervisingCity, '!empty')) errs.add( 'Supervising Provider City is invalid.' );
            if (!validatePresent(form.supervisingAddress1, '!empty')) errs.add( 'Supervising Provider Address Line 1 is invalid.' );
            if (!validatePresent(form.supervisingPhone)) errs.add( 'Supervising Provider Phone Number is invalid.' );
        }
        if (!validateList(form.doctorType)) errs.add( 'Please select a "Provider Type" from the pull-down menu.' );
        if (!validatePresent(form.doctorName)) errs.add( 'Provider Name is invalid.' );

        // chech the password fields
        if ( validateMatch( form.password, form.verifypassword ) ) {
                if ( !validateOnRegExp( form.password, 'password' ) || 
                        !validateOnRegExp( form.verifypassword, 'password' ) ) errs.add( 'Passwords must have numbers and letters and be at least 6 characters long.' );
        } else errs.add( 'Password and Verify Password fields must contain the same value.' );

        errs.show();
        
        return ( errs.num == 0 );
    }
*/
    function formValidate1() {
        var errs = new errors( 'errors1' );

        if (!validatePresent(form.doctorName)) errs.add( 'Provider Name is invalid.' );
        if (!validateList(form.doctorType)) errs.add( 'Please select a "Provider Type" from the pull-down menu.' );
        if (!form.ownDEA.checked) {
            if (!validatePresent(form.supervisingProvider, '!empty')) errs.add( "Supervising Provider just ensure it's not blank" );
            if (!validateOnRegExp(form.supervisingZIP,  'zip')) errs.add( 'Supervising Provider ZIP is invalid.' );
            if (!validateOnRegExp(form.supervisingState, 'state')) errs.add( 'Supervising Provider State is invalid.' );
            if (!validatePresent(form.supervisingCity, '!empty')) errs.add( 'Supervising Provider City is invalid.' );
            if (!validatePresent(form.supervisingAddress1, '!empty')) errs.add( 'Supervising Provider Address Line 1 is invalid.' );
            if (!validatePresent(form.supervisingPhone)) errs.add( 'Supervising Provider Phone Number is invalid.' );
        }

        errs.show();
        
        return ( errs.num == 0 );
    }

    function formValidate2() {
        var errs = new errors( 'errors2' );

        if ( !validateDEA() ) errs.add( 'You must have correct DEA#' );
//        if (!validatePresent(form.NPI)) errs += 1;
        if (!validatePresent(form.doctorAddress1, '!empty')) errs.add( 'Office Address Line 1 is invalid.' );
        if (!validatePresent(form.doctorCity, '!empty')) errs.add( 'City is invalid.' );
        if (!validateOnRegExp(form.doctorState, 'state')) errs.add( 'State is invalid.' );
        if (!validateOnRegExp(form.doctorZIP,  'zip')) errs.add( 'Zipcode is invalid.' );

        errs.show();
        
        return ( errs.num == 0 );
    }

    function formValidate3() {
        var errs = new errors( 'errors3' );

        if ( !validateOnRegExp(form.doctorPhone1, 'phone') ) errs.add( 'Please enter your correct Office Phone.' );
        if ( !validateOnRegExp(form.email, 'email')) errs.add( 'Please enter your correct Office Email Address.' );
        if ( !validateMatch(form.verifyemail, form.email) ) errs.add( 'Office Email Address and Verify Email must be the same.' );

        // chech the password fields
        if ( validateMatch( form.password, form.verifypassword ) ) {
                if ( !validateOnRegExp( form.password, 'password' ) || 
                        !validateOnRegExp( form.verifypassword, 'password' ) ) errs.add( 'Passwords must have numbers and letters and be at least 6 characters long.' );
        } else errs.add( 'Password and Verify Password fields must contain the same value.' );

        errs.show();
        
        return ( errs.num == 0 );
    }
</script>
%  my @providerTypes=('MD','DO','NP', 'CNA', 'RN', 'LPN', 'FNP', 'WHNP', 'ARNP', 'RNP', 'APNP', 'CNM', 'PA', 'PAC',  'MA', 'Other'); #  'MD','DO' have DEA, (some of these may have their own DEA #, others will have a supervising doc)


    <div id="pageHeader"> <h1>Get Started With RestoreDirect.com Today:</h1> </div>

<h3 style="padding: 1.5em;">Just call 800-558-7046 x4 and ask to get started with RestoreDirect!</h3>
% # return;






<& '/gray_window.mas', title => "It's easy to become part of our RestoreDirect.com provider network.  Simply complete the registration form below.<br/>You may begin enrolling your patients right away" &>
<form id="register"
      name="register"
      method="POST"
      action="https://restoredirect.com/main/newverify.html"
      onSubmit="return s()">


<div id="div1">
            <table cellSpacing="0" cellPadding="0" style="padding:20px 0 20px 0">
            <td><img src="/img/register/step1_y.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step2_g.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step3_g.gif" width="79" height="28"></td>
            </table>

            <h3 style="margin:0">Step #1</h3>


            <div id="errors1" style="background:#FFC3C3; margin:10px 0 10px 0; padding:10px; display:none"></div>

            <p>Provider Name: <input type="text" name="doctorName" size="24"/></p>
            <p>Provider Type: 
               <select name="doctorType" size="1" onClick="doctorTypeExpander(this);">
               <option value="X">Select Type:</option>
%              foreach my $value (@providerTypes) {
               <option value="<% $value %>"><% $value %></option>
%              }
               </select></p>

               <div id="inf_doctorType" class="required"> </div>
            </p>
            <div id="doctorTypeData" class="hidden">
                <p><input type="checkbox" id="ownDEA" name="ownDEA" onClick="supervisorExpander(this)" checked="true"/> <label for="ownDEA">I have my own DEA#</label></p>
            </div>
           
            <div id="superData" class="hidden">
                <p>Supervising Provider Name: <input class="expanded" type="text" name="supervisingProvider" size="24"/></p>
                <p>Supervising Provider Phone Number: <input class="expanded" type="text" name="supervisingPhone" size="24"/></p>
                <p>Supervising Provider Address Line 1: <input class="expanded" type="text" name="supervisingAddress1" size="24"/></p>
                <p>Supervising Provider Address Line 2: <input class="expanded" type="text" name="supervisingAddress2" size="24"/></p>
                <p>Supervising Provider City: <input class="expanded" type="text" name="supervisingCity" size="24"/></p>
                <p>Supervising Provider State: <input class="expanded" type="text" name="supervisingState" size="2"/></p>
                <p>Supervising Provider ZIP: <input class="expanded" type="text" name="supervisingZIP" size="5"/></p>
            </div>

            <p><input type="submit" class="greenbutton" value="Next Step >>"></p>
</div>


<div id="div2" class="hidden">
            <table cellSpacing="0" cellPadding="0" style="padding:20px 0 20px 0">
            <td><img src="/img/register/step1_g.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step2_y.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step3_g.gif" width="79" height="28"></td>
            </table>

            <h3 style="margin:0">Step #2</h3>


            <div id="errors2" style="background:#FFC3C3; margin:10px 0 10px 0; padding:10px; display:none"></div>

            <p>DEA#: <input type="text" name="DEANum" onKeyUp="checkdea(0)" onChange="checkdea(1)" size="24"/> <span id="deames"></span></p>
            <p>NPI#: <span style="color: grey;"></span>: <input type="text" name="NPI" size="24"/><!--<br><a href="http://www.upinregistry.com/provider_form.asp" target="new" class="littlelink">Look Up</a> --> </p>

            <p>Office Address Line 1: <input type="text" name="doctorAddress1" size="24"/></p>
            <p>Office Address Line 2: <input type="text" name="doctorAddress2" size="24"/></p>
            <p>City: <input type="text" name="doctorCity" size="24"/></p>
            <p>State: <input type="text" name="doctorState" size="2" maxlength="2"/></p>
            <p>Zip Code: <input type="text" name="doctorZIP" size="10" maxlength="10"/></p>

            <p><button onClick="step1(); return false" class="greenbutton"><< back</button>
            <input type="submit" class="greenbutton" value="Next Step >>"></p>
</div>


<div id="div3" class="hidden">
            <table cellSpacing="0" cellPadding="0" style="padding:20px 0 20px 0">
            <td><img src="/img/register/step1_g.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step2_g.gif" width="79" height="28"></td>
            <td><img src="/img/register/arr.gif" width="22" height="20" hSpace="25"></td>
            <td><img src="/img/register/step3_y.gif" width="79" height="28"></td>
            </table>

            <h3 style="margin:0">Step #3</h3>


            <div id="errors3" style="background:#FFC3C3; margin:10px 0 10px 0; padding:10px; display:none"></div>

            <p>Office Phone: <input type="text" name="doctorPhone1" size="24"/></p>
            <p>Office Fax: <input type="text" name="doctorFax" size="24"></p>
            <p>Office Email Address: <input type="text" name="email" size="24"/></p>
            <p>Verify Email: <input type="text" name="verifyemail" size="24"/></p>
            <p>Password <span style="color:grey">(Minimum 6 characters)</span>: <input type="password" name="password" size="24"/></p>
            <p>Verify Password: <input type="password" name="verifypassword" size="24"/></p>
            
            <p><button onClick="step2(); return false" class="greenbutton"><< back</button>
            <input type="submit" class="greenbutton" value="Next Step >>"></p>
</div>


<script language="JavaScript1.2" type="text/javascript">

        form = document.register;
        stage = 1;

        function s() {
                var res = false;
                switch (stage) {
                        case 1: res = step2(); break;
                        case 2: res = step3(); break;
                        case 3: res = step4(); break;
                }
                return res;
        }


        // go to to the 1st step
        function step1() {
                stage = 1;
                document.getElementById( 'div1' ).style.display = 'block';
                document.getElementById( 'div2' ).style.display = 'none';
                document.getElementById( 'div3' ).style.display = 'none';
        }


        // if no errors go to 2th screen
        function step2() {
                res = formValidate1();
                if ( res ) {
                        stage = 2;
                        document.getElementById( 'div1' ).style.display = 'none';
                        document.getElementById( 'div2' ).style.display = 'block';
                        document.getElementById( 'div3' ).style.display = 'none';
                }
                return false;
        }

        // if no errors go to 3th screen
        function step3() {
                res = formValidate2();
                if ( res ) {
                        stage = 3;
                        document.getElementById( 'div1' ).style.display = 'none';
                        document.getElementById( 'div2' ).style.display = 'none';
                        document.getElementById( 'div3' ).style.display = 'block';
                }
                return false;
        }

        // Submit form if no errors
        function step4() {
                return ( formValidate1 && formValidate2 && formValidate3() );
        }

</script>
</form>
<& '/gray_window.mas' &>