<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$RxID => undef
$GroupID => undef
</%args>
<%init>
use utf8;
use Encode;
$dbh->do(q{SET NAMES utf8});
my @cols=('DoctorCode', 'patientID',	'dateEntered','LastDateUpdated','RxID',	'GroupID',	'RxStatus', 'refillRxNumber', 'Medication', 'Method', 'Dose', 'Qty', 'Instructions',	'Refill', 'Category', 'combine');
my %query;
$query{RxID}=$RxID;
$query{GroupID}=$GroupID;
my $rows=RD2::getprescriptionqueue($dbh, query => \%query, GroupID=> $GroupID, RxID => $RxID);
#my @rows=$m->comp('/shared/getprescriptionqueue.mas', query => \%query, columns => \@cols);
my $patientInfo=$m->scomp('/formattedpatientinfo.mas', patientID => $rows->[0]->{patientID});
my $tbl_info=WHA::TableInfo->get($dbh, 'prescriptionQueue');
my @status = $tbl_info->members('RxStatus');
my @RxIDs;
my ($signer, $dateEntered)= ( $rows->[0]->{signer}, $rows->[0]->{dateEntered});
 foreach my $row (@$rows) { 	push(@RxIDs, $row->{RxID}); }
$dbh->do(q{SET NAMES latin1});
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>ELECTRONICALLY TRANSMITTED PRESCRIPTION</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
.avoidbreak {
    page-break-inside: avoid;
}

.rp_refillRxNumber   { min-width: 100px; max-width: 100px;  float:left; display: inline-block; }
.rp_Medication   { min-width: 18em; max-width: 18em;  float:left; display: inline-block; }
.rp_Method   { min-width: 8em; max-width: 8em;  float:left; display: inline-block; }
.rp_Dose   { min-width: 6em; max-width: 6em;  float:left; display: inline-block; }
.rp_Qty   { min-width: 9em; max-width: 9em;  float:left; display: inline-block; }
.rp_Instructions   { min-width: 18em; max-width: 24em;  float:left; display: inline-block;  white-space: normal;}
.rp_Refill   { min-width: 2em; max-width: 2em;  float:left; display: inline-block; }
.rp_combine   { min-width: 2em; max-width: 3em;  float:left; display: inline-block; }
.rp_noteID   { min-width: 6em; max-width: 12em;  float:left; display: inline-block; }
.rp_signer { clear:both; float: right;}
.rp_med {clear:both; white-space:nowrap;  }
.rp_med.rp_rmed {border-bottom: solid black 2px; margin: .25em;}
.rp_col {margin-right: 1.25em; padding-top: .35em; white-space: normal}
.rp_col:after {}
</style>
</head>
<body>

                        <div id="rxblank" style="text-align: inherit;">
              
              <div><span style="text-align:center;">ELECTRONICALLY TRANSMITTED PRESCRIPTION TO <% $companyInfo->{$session{_partnerGroup}}->{name_pharmacy} || 'Restore Health Pharmacy, LLC' %> </span></div>
              
<div>
% my $doctor=$m->comp( '/doctors/pharmacy/padheader.mas', patientID => $rows->[0]->{patientID}, DoctorCode => $rows->[0]->{DoctorCode}, date => $dateEntered );
</div>

																<div><% $rows->[0]->{PatientQS1} || '<b>No Code</b>' %></div>
% my @rxcols=qw( refillRxNumber Medication Method Dose Qty  Refill combine noteID Instructions);
<div class="rp_med avoidbreak">
%												foreach my $col (@rxcols) {    next if $col eq 'Method'; 
																		<span class=" rp_col rp_<% $col | h %>"><% $col %></span>
% }
</div>

% foreach my $rxid (@RxIDs) {
% my $RX = RD2::getrxidinfo($dbh, RxID => $rxid, columns => \@rxcols);
<div class="rp_med avoidbreak rp_rmed">
%												foreach my $col (@rxcols) {	utf8::upgrade($RX->{$col}); next if $col eq 'Method';  #$RX->{Dose}||='30 mg';
												<span class="rp_<% $col | h %> rp_col "><b><% ($col eq 'Medication' ?  qq|$RX->{Medication} $RX->{Method}| : $RX->{$col})  | h %></b></span>
% }	                                
</div>
% }													
<p></p>
<div class="rp_signer">
	Signed by: <% $signer %> <% $doctor->{supervisingProvider} ? ' for '.$doctor->{supervisingProvider}: '' %> on <% $dateEntered %>
</div>
	                      </div>
</body>
</html>
