<%init>

$m->out('<pre>');

my $api_url=q{https://api.2600hz.com:8443/v1};
my $acct_id=q{7617ffea48ffaed61384fb5a80b10a80};
my $auth_token=q{96cbc2c047447e76c6760627246f2f3d};
my $creds=q|{"data" : { "credentials" : "a1a1b72786ca4c69ee89a25d2f89ae54", "realm": "mip1.sip.2600hz.com" } }|;
my $api_key='';


$api_url=q{https://108.166.96.52:8443/v1};
{
  use LWP::UserAgent;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");


  my $req = HTTP::Request->new( PUT => ($api_url || 'https://api.2600hz.com:8443/v1') . '/user_auth' );
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( $creds || JSON::XS->new->pretty(1)->encode({"api_key" => $api_key}) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
      print $res->content;
  }
  else {
      print $res->status_line, "\n";
      print $res->content;
      
  }

my $jsr=JSON::XS->new->decode($res->content);
$auth_token=$jsr->{auth_token};

}


my $auth_uri='api_auth';

my $acct_url=qq{/accounts/$acct_id};
my $srv_url=qq{/accounts/$acct_id/servers/};
my $fax_url = qq|/accounts/$acct_id/faxes|;
my $fxo = 
{
   "data" => {
      "document" => {
         "url" => "http://rd300.restoredirect.com/test.pdf.html",
         "method" => "get"
      },
      "retries" => 3,
      "from_name" => "Test Fax",
      "from_number" => "18888987402",
      "to_name" => "To Name",
      "to_number" => "18888987412"
   }
};

 # Create a user agent object
  use LWP::UserAgent;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");

  # Create a request



$m->out('<pre>');



if (0) {

  my $req = HTTP::Request->new(PUT => $api_url . $fax_url);
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( JSON::XS->new->pretty(1)->encode($fxo) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
      print $res->content;
  }
  else {
      print $res->status_line, "\n" .
      $res->headers_as_string;
  }
  
}




  my $req2 = HTTP::Request->new(GET => $api_url . $fax_url . '/outgoing');
		$req2->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
#		$req2->content( JSON::XS->new->pretty(1)->encode($fxo) );

  # Pass request to the user agent and get a response back
  my $res2 = $ua->request($req2);

  # Check the outcome of the response
  if ($res2->is_success) {
      print $res2->content;
  }
  else {
      print $res2->status_line, "\n" .
      $res2->headers_as_string;
  }

$m->out('</pre>');







</%Init>
<pre>

<% $api_url . $acct_url %>
<% $api_url . $fax_url %>
---------------------------------------------------------------------------
% # <% JSON::XS->new->pretty(1)->encode($fxo) %>
</pre>



<%doc>



  my $req = HTTP::Request->new(POST => $api_url . $fax_url);
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( JSON::XS->new->pretty(1)->encode($fxo) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
      print $res->content;
  }
  else {
      print $res->status_line, "\n";
      
  }
  
</%doc>