<div style="white-space:pre">
Services:

RD3
RD3-Dev
RDi (internal functions of RD)
labs.restorehc.com
restorehc.com
phone system
HL7D (interface between QS1 - ScriptPro)
QS1
Peachtree (accounting)
NAS storage for users 
NAS storage for backup
</div>
<p/>
<style>
.scontent {font-size:smaller;}
.shead {font-size:1.1em;}
</style>
<b>Why FreeBSD:</b>
<ul>
	<li>better support - because there is 1 BSD, there is more accurate documentation, better community support, 1 place to file bugs,etc.  My experience getting things changed in BSD has been very good.  For example, a few weeks ago I needed a port updated to fix PDF generation problems in RDi.  I emailed the port maintainer and the next morning the port was available.  In the past I made similar requests of CentOS and RedHat that I never even got a response to.</li>
	<li>ports - FreeBSD's package management is better supported than the various Linux PMs.  For example in BSD to install wkhtmltopdf, a tool I use to create pdfs, it's quite simple and fast because it's a prebuilt binary for my specific version of BSD + CPU and all the dependencies are checked and installed the same way.  It's configured properly by the port maintainer too.
	<br/>CentOS and RedHat Linux I have to:
		<div class="scontent">
			<pre>
			 configure, compile, and install openssl, build-essential, xorg, libssl-dev, libxrender-dev
			 then get the source code for wkhtmltopdf
			 then configure, compile, and install QT to compile wkhtmltopdf
			 ...time consuming, along the way I might have to fix the config to get it to build correctly, which can be quite time consuming if it happens...
			 compile and install wkhtmltopdf
			 then configure it to see the web fonts (otherwise I get black blocks)
			 - I know, because I had to do this for a friend's system -
			 (and now there are docs describing this)
			</pre>
			So even if that all goes smoothly, it's an hour vs 2 min.  When CentOS does have a package for something you need it does work well though, but it might not be a recent version.
		</div>
	</li>
	<li>ZFS - native.  Linux is currently working on some implementations, but BSD has a native implementation based on code from Oracle.  (ZFS and mysql are both Oracle technologies.  ZFS is a very modern file system with some very advanced features.  It have advantages for "HA" or high-availability for mysql).</li>
	<li>jails - Linux does not have this feature.  Other types of virtualization have to be used which can not take advantage of the ZFS features.</li>
	<li>PF - has advantages to Linux's iptables.  Built into kernel/OS</li>
	<li>perl - modern perl well supported.  Most modules can be installed via BSD ports which configures them for the BSD system and installs dependencies.  Makes it more upgradable/patchable</li>
	<li>Security - out of the box FreeBSD is very secure.  I get many attack attempts everyday and the server has only been compromised once (JIRA!).  Linux takes more configuration to reach the same level of security </li>
	<li>Common Address Redundancy Protocol (CARP) - Linux has other forms of high-availability, but CARP is considered one of the best.  It is based on Cisco's Virtual Router Redundancy Protocol.  CARP is built into the kernel/OS.  There are some non-native Linux programs to do this, but development on them ceased some time ago.</li>
</ul>


<b>Base system:</b>
<div class="shead">Requirements:</div>
<ul>
	<li>ssh</li>
	<li>ZFS</li>
	<li>jails</li>
	<li>PF</li>
	<li>perl</li>
	<li>CARP</li>
	<li>KERNCONF=RCTL (resource limits per jail)</li>
</ul>
<div class="shead">Recommendations:</div>
<ul>
	<li class="security" >run ssh on a non-standard port</li>
	<li class="security" >run mysql on a non-standard port</li>
	<li class="security" >utilize a shared ip blacklist on PF.  Explicitly deny any IP that has tried to login via ssh on port 22, mysql on port 3306, login to RD 10x in a row incorrectly</li>
	<li class="security" >Only permit specific IPs to access SSH via ssh key OR they must port knock via PF first:
		<div class="scontent">
		Port knocking requires that I first send a message to a specific port, then within 60 seconds I must correctly SSH into a different port.  This effectively hides access to the server.
		<div>PF config from http://forums.freebsd.org/showthread.php?t=7267:</div>
		<pre>
# Table for allowed IPs - gets auto populated via portknocking
table portknock_ssh persist

block drop # block policy
# Allow everyone to hit 'any' on port '1234' - pf proxies tcp connection
#  [if not using 'synproxy', the connection is never established to
#    'overload' the rule]
#  5 attempts in 15 seconds
pass in log quick proto tcp from any to any port {1234} synproxy state   (max-src-conn-rate 5/15, overload portknock_ssh)

#Allow IPs that have been 'overload'ed into the portknock_ssh table
pass in log quick proto tcp from {portknock_ssh} to any port {ssh}


Then put a crontab on a per needed basis to expire all IPs in that table
that have not been referenced in 60 seconds (or use expiretable):

*     *    *    *     * /sbin/pfctl -vt portknock_ssh -T expire 60
				</pre>
			</div>
		</li>
	<li class="security" >use a file integrity check daily to test for changes in sensitive binaries and configuration files (e.g. the ssh system, password files,  authorized_keys).  This will alert us to an unauthorized change and we'll know the system has been comprimised</li>
	<li class="security">utilize FreeBSD's securelevel
		<div class="scontent">
		securelevel prevents a few things:
		<ul>
			<li>Unsetting of certain file flags</li>
			<li>Writing to kernel memory via /dev/mem and /dev/kmem.  Also stops an attacker from reading from them.  kmem is the keyboard buffer, so an attacker could have a program that captures all input and then they'd get passwords that were typed in.   /dev/bpf would allow them to "sniff" or inspect the network data for sensitive information (passwords/keys).  </li>
			<li>Loading kernel modules - a malicious kernel module could be loaded, which could be difficult to detect</li>
			<li>Altering of firewall rules</li>
		</div>
	</li>
	<li class="bkup" >use 15min ZFS snapshots</li>
	<li class="ha">use CARP</li>
</ul>


<div class="shead">configured jails:</div>

<ul>
	<li>mysql
		<div class="scontent">living separate from the other systems has advantages.  No public IP (more secure) and the system can be "tuned" better (Note: make mysql root user "mr_not_root", but leave root@127.0.0.1 for triggers with '*' as password).  This instance would house databases for: RD, a separate DB for medical records, and HL7D which is single small table</div>
		<div class="scontent">mysql should be replicated via database replication, and ZFS replication (http://dev.mysql.com/doc/refman/5.0/en/ha-zfs-replication.html).  ZFS is important because it allows us to rollback very quickly if there is a problem.  Example: someone accidentally deletes all rxs form the prescriptions table.  This very bad update would be replicated in database replication, but the ZFS snapshot could very quickly rollback.  Rolling back from a database dump is also very slow on such a large database (much processing involved).</div>

	</li>
	<li>		RD3-production	</li>
	<li>		RD3-dev	</li>
	<li>		labs.restorehc.com	</li>
	<li>		RDi-production	</li>
	<li>		HL7D	</li>

</ul>


<b>RD3</b>
<div class="shead">Requirements:</div>
<ul>
	<li>perl 5.14 (threaded)</li>
	<li>various modules</li>
	<li>wkhtmltopdf</li>
	<li>Apache httpd MPM Event + mod_perl</li>
	<li>mysql client</li>
	<li>public IP</li>
</ul>

<div class="shead">Recommendations:</div>
<ul>
	<li>enable perl Taint mode
		<div class="scontent">TAINT mode puts a Perl script into "PARANOID" mode and treats ALL user supplied input as tainted and bad unless the programmer explicitly "OKs" the data.  This prevents bad system calls in which an attacker sends some web form with: "email=;delete *", and the system call would be "system('send_mail" . $FORM{email});".  That would get called as "send_email; delete *" and it would start deleting files.  In tainted mode code is required to explicitly say "this is good data that has been verified", usually by checking that it's contents are in an expected format ( e.g. $FORM{email} matches [a-z]@[a-z].[com|net|org] ).</div>
	</li>
	<li>
		
	</li>
</ul>
</div>		


<b>RDi</b>
<div class="shead">Requirements:</div>
<ul>
	<li>perl 5.14 (threaded)</li>
	<li>various modules</li>
	<li>wkhtmltopdf</li>
	<li>Apache httpd MPM Event + mod_perl</li>
	<li>mysql client</li>
	<li>private IP</li>
	<li>gs to replace current sips</li>
</ul>

<div class="shead">Recommendations:</div>
<ul>
	<li>
		apache should ONLY accept connections from 192.168.1.0
	</li>
</ul>



<b>labs.restorehc.com</b>
<div class="shead">Requirements:</div>
<ul>
	<li>perl 5.14 (threaded)</li>
	<li>various modules</li>
	<li>Apache httpd MPM Event + mod_perl</li>
	<li>mysql client</li>
	<li>public IP</li>
</ul>

<div class="shead">Recommendations:</div>
<ul>
	<li>
		mysql user should ONLY have SELECT access, and ONLY to specific tables
	</li>
</ul>




<b>HL7D</b>
<div class="shead">Requirements:</div>
<ul>
	<li>perl 5.10+</li>
	<li>my HL7 modules</li>
	<li>mysql client</li>
	<li>private IP</li>
</ul>

<div class="shead">Recommendations:</div>
<ul>
	<li>
		only accept connections from specific IPs.  protect mysql. using taint mode already.
	</li>
</ul>





<h3>Services to live else where:</h3>
<b>restorehc.com</b>
<div class="shead">Requirements:</div>
<ul>
	<li>PHP</li>
	<li>Apache httpd</li>
	<li>mysql client</li>
	<li>public IP</li>
</ul>
<div class="shead">Recommendations:</div>
<ul>
	<li>
		move to pair.com
	</li>
</ul>


<b>phone system</b>
<div class="shead">Recommendations:</div>
<ul>
	<li>
		Use 2600hz's cloud
	</li>
</ul>

<!--
<b>QS1</b>
<div class="shead">Recommendations:</div>
<ul>
	<li>
		move to datacenter.  could use virtualization, but it's expensive and could take a major performance hit given the way it accesses the hard drive and it's database type.  If I recall virtualization is not supported by QS1 and it does access the file system in a different way than other software does.  (Which is why Peachtree had to live on a separate hard drive in the past).  UPDATE: QS1 does support virtualization now.
	</li>
	<li>Move to a virtualized service.  Even Amazon EC2 would cost ~ $15/mo</li>
	<li>Use strong firewall/routing rules to limit access to RHC</li>
</ul>
-->

<b>Peachtree</b>
<div class="shead">Recommendations:</div>
<ul>
	<li>
			virtualize some where secure and use terminal services
	</li>
</ul>



<b>restorehc.com</b>
<div class="shead">Recommendations:</div>
Move  to Pair.com for hosting - $20/mo
<ul>
	<li>cheaper bandwidth</li>
	<li>separation of [unrelated] services</li>
	<li>moving restorehc.com means attackers are less likely to target the server at SupraNet</li>
	<li>can uninstall and remove support for PHP, which has security concerns (http://www.cvedetails.com/vulnerability-list/vendor_id-74/product_id-128/version_id-104679/PHP-PHP-5.3.5.html) (also PCI compliance is easier)</li>
	<li>replicated various DBs (HL7D, RD, RD records) to pair</li>
</ul>


<b>NAS - User storage</b>
<div class="shead">Recommendations:</div>

<br/>
Keep local with external backup
<ul>
	<li>Fast for local users</li>
	<li>cost prohibitive to store larger amounts of data</li>
</ul>





<b>NAS - server storage</b>
<div class="shead">Recommendations:</div>
Local - should be separate from data center OR should be a different data center
<br/>
<div class="shead">Will backup:</div>
<ul>
	<li>Main FBSD Server (ZFS snapshots)</li>
	<li>User NAS (ZFS)</li>
	<li>Router Configs</li>
	<li>Phone System Configs</li>
	<li>Phone (polycom) Configs</li>
</ul>


<b>QS1</b>
<div class="shead">Recommendations:</div>
Move to EC2 ($320/yr + ~$35/mo)
<div class="shead">Requirements:</div>
<ul>
	<li>use a firewall rule to only accept our SupraNet IPs</li>
	<li>some method needs to be used to secure traffic (encrypt it)</li>
	<li>Much lower performance when rebuilding keys (hopefully we don't have to much anymore)</li>
	<li>Backup to S3</li>
	<li>Turn on 6am-10pm / off 10pm-6am</li>
	<li>Note: If PCI compliance is desired I would recommend putting only the last 4-digits
</ul>





<div>
	<b>Notes:</b>
	<div>
		all httpd instances should hide version information:
		<pre>
		ServerTokens Prod
		ServerSignature Off
		</pre>
	</div>
		<div>port for dynamic PF rules: http://www.freshports.org/security/sshguard-pf</div>
		<div>port for file integrity checks: http://www.freshports.org/security/aide</div>
		<div>post describing resource limits in BSD 9: http://forums.freebsd.org/showthread.php?t=28871</div>
		<div>post describing ZFS snapshots to S3: https://blogs.oracle.com/ec2/entry/zfs_snapshots_to_and_from</div>
		<div>AWS VPC - http://aws.typepad.com/aws/2011/03/new-approach-amazon-ec2-networking.html</div>
		
	
</div>

<pre>
hosts file:
restorehc.com
ups.com
fedex
usps
gmail
google.com
weather.com
news.google.com
</pre>



<div style="margin: 1.5em;">
<b>Summary:</b>
<div  style="margin: 1.0em;">Security:
	<div>
		<ul>
			<li>All systems are protected either by combination IP-based authentication and password or by a combination of SSH-keys and port knocking (a form of 2-factor auth).</li>
			<li>Advanced intrusion detection is in place that will alert us to unauthorized changes on our BSD-based systems.</li>
			<li>Firewall rules block out an attacker's IP after a maximum of 3 minutes.</li>
			<li>kernel-level security will be enabled to prevent an unauthorized change</li>
			<li>ssh, a way to access the server externally, will run on a non-standard port</li>
			<li>Perl will run in TAINT mode to prevent unauthorized system calls.</li>
			<li>mysql: mysql users have very limited access.  Services that only need SELECT (read) access are given appropriate permissions.  
			<li>mysql: Often attackers try to login to the "root" account - this account will be renamed.</li>
			<li>mysql: will run on a private IP only (no external access with the exception of replication)</li>
			<li>mysql: will run on a non-standard port</li>
		</ul>
	</div>
</div>
<div  style="margin: 1.0em;">Backup:
	<div>
		<ul>
			<li>Windows will backup to Amazon nightly.  Weekly it will be compressed and archived on our backup NAS</li>
			<li>BSD servers will use ZFS snapshots to backup to the NAS</li>
			<li>mysql is replicated to pair networks and backed up via ZFS</li>
			<li>restorehc.com is backed up at pair networks and a local copy is maintained monthly</li>
		</ul>
	</div>
</div>
<div  style="margin: 1.0em;">Availability:
	<div>
		<ul>
			<li>QS1 runs in EC2 and can be quickly rolled-back or replaced through Amazon's tools</li>
			<li>BSD servers will use CARP.  In the event of a failure/configuration error/etc the server transparently fails-over much like a Cisco router would.</li>
			<li>mysql can failover via CARP too.  ZFS snapshot will be used in the event of an unrecoverable table crash or mistake</li>
			<li>restorehc.com is handled by pair networks</li>
		</ul>
	</div>
</div>


</div>