<%args>
$companyInfo_temp => $companyInfo->{$session{_partnerGroup} || 1 }->{footer}
$newPatient => undef
$doctorInfo
$programName
$productinfo
$programs
$co => $companyInfo->{$session{_partnerGroup} || 1 }
$patient => undef
</%args>
<% RD2::jd($co) %>
<%init>
unless ($newPatient) {
	if ($patient) {
		for my $k (keys %$patient) {
			$newPatient->{'new'.$k}=$patient->{$k};
		}
		$newPatient->{newPatientDOB}=$patient->{DOB};
		$newPatient->{newPatientAddress1}=$patient->{PatientAddressLine1};
		$newPatient->{newPatientAddress2}=$patient->{PatientAddressLine2} . $patient->{PatientAddressLine3};
		$newPatient->{newPatientEmail}=$patient->{email};
	}
}
</%init>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Invoice</title>
<style>
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important
	padding: 0;
	margin: 0;
}
 
 .pdn {padding: .5em; margin: 0.25em;}
 .price {padding: .5em; margin: 0.25em;}
 .qty {padding: .5em; margin: 0.25em;}
 
 .item_table td {
padding: 0.15em; 
 }

.co_info { font-size: small; } 
.clear {
	clear: both;
	height: 0;
}
 
br.clear {
	clear: both;
	height: 0;
	border-bottom: 1px solid #ccc;
}
 
#container {
 	margin: 0;
	width: 194mm;
}
 
#factuurinhoud {
 	position: absolute;
	left: 2mm;
	top: 94mm;
}
 
#logo {
	border: 0px;
}
 
#afzender {
	color: #000;
	font: italic 9pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	margin: 2mm 0 2mm 0mm;
	position: absolute;
	left: 4mm;
	top: 20mm;
}

#infobox {	top: 20mm;}
 #providerInfo {	
	width: 85mm;
	min-height: 16mm;
	padding: 10px;
	float:left;
	left: 4mm;
	margin: 2em;

}

#geadresseerde {
	border: 1px dotted #bababa;
	width: 92mm;
	min-height: 16mm;
	padding: 10px;
	float:right;
	left: 96mm;

}
 
#geadresseerde p {
	color: #000;
	font: 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	margin: 0;
	padding: 0;
}
 
#geadresseerde p.firmanaam {
	color: #000;
	font: bold 10pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
}
 
 
#factuur {
	font: bold 14pt/20pt  'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	color: #666;
	letter-spacing: 2px;
	display: block;
	border-bottom: 1px dotted #666;
	border-top: 1px dotted #666;
	margin: 15mm 0 5mm 0;
}
 
#topitems {
	background-color: #eee;
	width: 196mm;
}
 
.titel1, .titel2, .titel3 {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	color: #5d5d5d;
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	background: #ccc;
	padding: 5px;
	float: left;
}
 
.titel1 {
	border-left: 1px dotted #666;
	width: 62mm;
}
 
.titel2 {
	border-left: 1px dotted #666;
	border-right: 1px dotted #666;
	width: 62mm;
}
 
.titel3 {
	border-right: 1px dotted #666;
	width: 63mm;
}
 
.titelitem {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	background: #eee;
	padding: 2px 5px 5px 5px;
	margin: 1px 0 0 0;
	width: 62mm;
	float: left;
}
 
.titelitemlast {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	background: #eee;
	padding: 2px 5px 5px 5px;
	margin: 1px 0 0 0;
	width: 64mm;
	float: left;
}
 
#omschrijvingtitel, #prijstitel, #aantaltitel, #subtotaaltitel, #btwratetitel {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	background: #eee;
	padding: 5px;
	margin-top: 5mm;
	float: left;
}
 
#omschrijvingtitel {
	border-left: 1px dotted #666;
	width: 82mm;
}
 
#prijstitel {
	border-left: 1px dotted #666;
	width: 25mm;
}
 
#aantaltitel {
	border-left: 1px dotted #666;
	width: 25mm;
}
 
#subtotaaltitel {
	border-left: 1px dotted #666;
	width: 25mm;
}
 
#btwratetitel {
	border-left: 1px dotted #666;
	border-right: 1px dotted #666;
	width: 24mm;
}
 
.factuurlijn {
	width: 196mm;
	border-bottom: 1px solid #ccc;
}
 
.omschrijving {
	padding: 0;
	width: 67mm;
	float: left;
}
 
.omschrijving p {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	padding: 0 0 0 2px;
}
 
.small {
	font: bold 7pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
}
 
 
.prijs, .aantal, .subtotaal, .btwrate {
	width: 27mm;
	float: left;
}
 
.prijs p, .aantal p, .subtotaal p, .btwrate p {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	padding: 0 0 0 2px;
}
 
#footer {
	margin: 1.5em;
	width: 196mm;
}
 
#footer div.text {
	padding-top: 10px;
	text-align: center;
	font: bold 7pt/9pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	border-top: 1px dotted #666;
}
 
#totalen {
	text-align: left;
	margin: 0 0 20px 100mm;
	padding: 1mm;
	background: #eee;
	width: 67mm;
	height: 111px;
	border: 1px solid #ccc;
}
 
#totalen div.titel {
	font: bold 11pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	margin: 3px 0;
	color: #666;
	letter-spacing: 4px;
	text-align: center;
}
 
#totalenleft {
	width: 36mm;
	height: 4mm;
	float: left;
	margin: 0;
}
 
#totalenright {
	width: 30mm;
	height: 4mm;
	float: left;
	clear: right;
}
 
.totleft {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 125px;
	height: 4mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
	margin: 2px 0;
}
 
.totright {
	font: bold 9pt/11pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 109px;
	height: 4mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
	margin: 2px 0;
}
 
.tebetalenright {
	font: bold 12pt/16pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 109px;
	height: 6mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
}
 
.tebetalenleft {
	font: bold 11pt/16pt 'Lucida Grande', "Lucida Sans", "Lucida Sans Unicode";
	text-align: right;
	width: 125px;
	height: 6mm;
	display: block;	
	border: 1px dotted #999;
	color: #000;
	background: #fff;
	padding: 1px 5px 1px 1px;
}







.header {font-weight: bold;}
</style>
</head>

<body>

<div id="container">
<% RD2::jd($co) %>
<div style="color: red;"><% $session{_partnerGroup} %> </div>
<div id="logo"><img src="<% $co->{logo_uri} %>" alt="logo" /></div>


<div id="infobox">
<div id="providerInfo">
	<p class="header">Provider Info:</p>
	<div style="text-align: left;">Provider NPI#: <% $doctorInfo->{NPI} %></div>
		<div>Name: <% $doctorInfo->{doctorName} %><% $doctorInfo->{doctorType} ? ", $doctorInfo->{doctorType}" : '' | h %></div>
		<div style="text-align: left; padding-top: 4px;">
			<span >Address: </span><br/>
			<div><% $doctorInfo->{doctorAddress1} %></div>
			<div><% $doctorInfo->{doctorAddress2} %></div>
			<span><% $doctorInfo->{doctorCity} %>, <% $doctorInfo->{doctorState} %> <% $doctorInfo->{doctorZIP} %></span>
		</div>
	    <div style="text-align: left;">
			<span>Doctor Phone: </span><% $doctorInfo->{doctorPhone1} %>
	    </div>
	    <div style="text-align: left;">
	 	   <span >Fax: </span> <% $doctorInfo->{doctorFax} %>
	    </div>
</div>

<div id="pinfo_div">
	<p class="header">Patient Information:</p>
	<div id='pinfo'>
			
			<div><span>Patient Name: </span><% $newPatient->{newPatientLastName} %>, <% $newPatient->{newPatientFirstName} %></div>
			<div style="text-align: left; padding-top: 4px;">
			<span >Patient Address:</span><br/>
			<% $newPatient->{newPatientAddress1} %><br/>
			<% $newPatient->{newPatientAddress2} %><br/>
			<% $newPatient->{newPatientCity} %>, <% $newPatient->{newPatientState} %> <% $newPatient->{newPatientZIP} %>
			</div>
			<div>Daytime Phone: <% $newPatient->{newPatientPhone} %></div>
			<div>Home Phone: <% $newPatient->{newPatientHomePhone} %></div>
			<p/>
			<div>ICD9/Diagnosis:  <% $newPatient->{ICD9} ||  $newPatient->{'ICD9-Original'}  %></div>
			<div>
			Gender: <% $newPatient->{newPatientSex} %> <br/>
			Date of Birth: <% $newPatient->{newPatientDOB} %><br/>
			Patient Email: <% $newPatient->{newPatientEmail} %></div>
			Program: <% $programName %>
			
			<p/>
	</div xid="pinfo">
</div>

</div>




	<div class="the_table">
	<table class="item_table">
		<thead>
			<tr>
				<th>Item</th>
				<th>Amount</th>
				<th>QTY</th>
				<th>Subtotal</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
% 		my $mTotal;					foreach my $item (@$programs) {			
			<tr>
				<td>
					<div class="pdn">
						<div><% $productinfo->{$item}->{productDisplayName} %>:</div>
						<span class="small"><% $productinfo->{$item}->{description} . $productinfo->{$item}->{CPT} %> </span>
					</div>
				</td>
				<td>
					<div class="price">&#x24;<% $productinfo->{$item}->{productPrice} %></div>
				</td>
				<td>
					<div class="qty"><% $productinfo->{$item}->{qty} || 1 %></div>
				</td>
				<td>
					<div class="subtotal">&#x24;<% $productinfo->{$item}->{productPrice} * ($productinfo->{$item}->{qty} || 1 ) %></div>
				</td>
			</tr>
% $mTotal += $productinfo->{$item}->{productPrice} * ($productinfo->{$item}->{qty} || 1 );
% }
			
		</tbody>
	</table>
	</div>
	
	<div id="footer">
	
		<div id="totalen">
			<div class="titel">INVOICE TOTAL</div>
			<div id="totalenleft">
				<div class="totleft">Total:</div >
				<div  class="totleft">Tax: </div>
				<div  class="totleft">Total + Tax: </div >
				<div  class="tebetalenleft">Amount Paid: </div >
			</div>
			<div id="totalenright">
				<div  class="totright">&#x24; <% $mTotal %></div >
				<div  class="totright">&#x24; <% '0.00' %></div >
				<div  class="totright">&#x24; <% $mTotal + 0 %></div >
				<div  class="tebetalenright">&#x24;<% $mTotal + 0 %></div >
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	
	
		<div id="feeter">
			<p/><p/>	
						Provider Signature: ________________________________<br><br>Date: _____________<p/>
						
			<p/><p/>	
		</div>
	
		<div id="insurance_info"><% $co->{insurance_info} %></div>
		<div class="clear">&nbsp;</div>
		
		<div class="text"><span id="co_info"><% $co->{Info} %></span></div>
	
	</div>
</div>
<div id="abc"><% RD2::jd($co) %></div>
</body>
</html>