<%args>
$lab_id => 8788836
</%args>
<%init>
	my $labcorp_acct=48300925;
	my $lo = RD::Orders::getOrder($dbh, $lab_id);
	my $pid=$dbh->selectrow_array(q{SELECT patientID FROM RxLookUp WHERE RxNumber=?}, undef, ($lab_id));
	my $pinfo=$dbh->selectrow_hashref(q{SELECT *,  DATE_FORMAT(NOW(), '%Y') - DATE_FORMAT(DOB, '%Y') - (DATE_FORMAT(NOW(), '00-%m-%d') < DATE_FORMAT(DOB, '00-%m-%d')) AS age  FROM patients WHERE patientID=?}, undef, ($pid));
	my $prov_info=$dbh->selectrow_hashref(q{SELECT * FROM doctors_all WHERE DoctorCode=?}, undef, ($pinfo->{DoctorCode}));
</%init>
<head>
<base href="http://restoredirect.com" >
<link rel="stylesheet" type="text/css" href="http://restoredirect.com/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css" />
<link rel="stylesheet" type="text/css" href="http://restoredirect.com/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css" />
<link rel="stylesheet" type="text/css" href="http://restoredirect.com/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css" />
<link rel="stylesheet" type="text/css" href="http://restoredirect.com/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css" />

<style>
@media print {	#receipt_area {page-break-before: always;}	
							#psc_area {page-break-before: always;		}
						}
body {font-size: 0.9em; max-width: 7.5in;}
#pname:before {
		content: 'Patient Name';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#pname {
	float: left;
	margin: 0.25em 1em;
}

#DOB:before {
		content: 'DOB';
		font-size: 0.7em;
		text-align: center;
		color: gray;
		display: block;
}

#DOB {
	float: left;
	margin: 0.25em 1em;
}

#pid:before {
		content: 'Patient ID/MRN';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#pid {
	float: left;
	margin: 0.25em 1em;
}

#p_address:before {
		content: 'Patient Address';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;

}

#p_address {
	float: left;
	margin: 0.25em 1em;
	white-space: pre-line;
}





#pinfo {
	border-radius: 0.9em;
	border: solid 2px gray;
	display: inline-block;
	vertical-align: top;
	//margin-bottom: 1.5em;
}


#prov_info {
//clear: both;
margin-left: 0em;
display: inline-block;
border-radius: 0.8em;
border: solid gray 2px;
margin-top: .5em;
}

#npi:before {
		content: 'NPI';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#npi {
	float: left;
	margin: 0.25em 1em;
}

#dc:before {
		content: 'Physician ID';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#dc {
	float: left;
	margin: 0.25em 1em;
}

#prov_name:before {
		content: 'Physician Name';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#prov_name {
	float: left;
	margin: 0.25em 0.5em;
}

#collection_info {
//	clear: both;
	border-radius: 0.9em;
	border: solid 2px gray;
	display: inline-block;
//	vertical-align: top;
//	float: left;
//	margin-top: 1.5em;
}


#collection_time:before {
		content: 'Collection TIme';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#collection_time {
	float: left;
	margin: 0.25em 1em 0.25em 1.25em;
}

#fasting:before {
		content: 'Fasting';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#fasting {
	float: left;
	margin: 0.25em 0.5em;
}

#collection_date:before {
		content: 'Collection Date';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

#collection_date {
	float: left;
	margin: 0.25em 1em;
}

#prov_sig:before {
	
	content:'Physician Signature';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
		margin-bottom: 3.0em;


}

#prov_sig {
	
	min-width: 18em;
	border-bottom: solid black 2px;
	min-height: 3.0em;
//	float: left;
	max-width: 25em;
	margin: 1.5em  1em 0.25em;
		clear: both;
}

#sample_info {
clear: both;
}
body { font-family: ProximaNovaRegular !important;}

#lc_test_ids { clear: both; }
#lc_test_ids li { float: left; width: 33%}


#rhc_header #logo {max-width: 25em;}
</style>
<style>
.pname:before {
		content: 'Patient Name';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.pname {
	float: left;
	margin: 0.25em 1em;
}

.DOB:before {
		content: 'DOB';
		font-size: 0.7em;
		text-align: center;
		color: gray;
		display: block;
}

.DOB {
	float: left;
	margin: 0.25em 1em;
}

.pid:before {
		content: 'Patient ID';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.pid {
	float: left;
	margin: 0.25em 1em;
}

.p_address:before {
		content: 'Patient Address';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;

}

.p_address {
	float: left;
	margin: 0.25em 1em;
	white-space: pre-line;
}



.pinfo .icd9:before {
		content: 'ICD-9 Diagnosis';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;

}

.pinfo .icd9 {

	margin: 0.25em 1em;
	white-space: pre-line;
	border-bottom: 2px solid black;
	min-height: 3.0em;
	max-width: 18em;
	margin: 1.5em 1em 0.25em;
}


.pinfo {
	border-radius: 0.9em;
	border: solid 2px gray;
	display: inline-block;
	vertical-align: top;
	//margin-bottom: 1.5em;
}


.prov_info {
//clear: both;
margin-left: 0em;
display: inline-block;
border-radius: 0.8em;
border: solid gray 2px;
margin-top: .5em;
}

.npi:before {
		content: 'NPI';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.npi {
	float: left;
	margin: 0.25em 1em;
}

.dc:before {
		content: 'Physician ID';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.dc {
	float: left;
	margin: 0.25em 1em;
}

.prov_name:before {
		content: 'Physician Name';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.prov_name {
	float: left;
	margin: 0.25em 0.5em;
}

.collection_info {
//	clear: both;
	border-radius: 0.9em;
	border: solid 2px gray;
	display: inline-block;
//	vertical-align: top;
//	float: left;
//	margin-top: 1.5em;
}


.collection_time:before {
		content: 'Collection TIme';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.collection_time {
	float: left;
	margin: 0.25em 1em;
}

.fasting:before {
		content: 'Fasting';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.fasting {
	float: left;
	margin: 0.25em 0.5em;
}

.collection_date:before {
		content: 'Collection Date';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.collection_date {
	float: left;
	margin: 0.25em 1em;
}

.prov_sig:before {
	
	content:'Physician Signature';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
		margin-bottom: 3.0em

}

.prov_sig {
	
	min-width: 18em;
	border-bottom: solid black 2px;
	min-height: 3.0em;
//	float: left;
	max-width: 25em;
	margin: 1.5em  1em 0.25em;

}

.sample_info {
clear: both;
}
body { font-family: ProximaNovaRegular !important;}

.lc_test_ids { clear: both; }
.lc_test_ids li { float: left; width: 33%}


.rhc_header .logo {max-width: 25em;}

.billing_acct_number:before {
		content: 'Billing Account';
		font-size: .7em;
		text-align: center;
		color: gray;
		display: block;
}

.billing_acct_number {
		float: left;
		margin: 0.25em 1em;
}
</style>
</head>
<div id="rhc_header">
<div id="logo"><img src="http://restoredirect.com/images/RestoreLogo_600.2.png" alt="logo" id="logo"></div>
&nbsp;</div>

<div class="pinfo">
	<div id="pname"><% qq{$pinfo->{PatientLastName}, $pinfo->{PatientFirstName}} %> [<% $pinfo->{Sex} %>]</div>
	<div id="DOB"><% $pinfo->{DOB} %> [<% $pinfo->{age} %>]</div>
	<div id="pid"><% $pinfo->{patientID} %></div>
	<div id="p_address">\
		<% $pinfo->{PatientAddressLine2} %>
		<% qq{$pinfo->{PatientCity}, $pinfo->{PatientState} $pinfo->{PatientZIP}}  %>
	</div>
	<div class="billing_acct_number"><% $labcorp_acct %></div>
</div>

<div id="prov_info">
	<div id="npi"><% $prov_info->{NPI} %></div>
	<div id="dc"><% $prov_info->{DoctorCode} %></div>
	<div id="prov_name"><% $prov_info->{doctorName} %><% $prov_info->{doctorType} ? ', ' . $prov_info->{doctorType} : ''  %></div>
</div>
<div id="collection_info">
	<div id="collection_time">&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AM&nbsp;/&nbsp;PM</div>
	<div id="collection_date">&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;</div>
	<div id="fasting">&nbsp;<input type="checkbox" />YES&nbsp;&nbsp;<input type="checkbox" />NO</div>

</div>



<div id="collection_instructions"><& 'labcorp_draw_requirements.mas', lo => $lo, lab_id => $lab_id , include_prov_sig => 1 &></div>
<div id="receipt_area"><& 'labcorp_cpt_receipt.mas', lo => $lo, lab_id => $lab_id , include_prov_sig => 1, pinfo => $pinfo, prov_info => $prov_info , %ARGS &></div>
<div id="psc_area"><& 'labcorp_psc_list.mas',  lab_id => $lab_id,  pinfo => $pinfo, prov_info => $prov_info  &></div>
<script>setTimeout('window.print()', 2000);</script>