<script  type="text/x-jquery-tmpl" id="tmpl_account_mgmt">
	<div id="account_mgmt">
		<div id="acct_mgmt_msgs"></div>
		<div id="change_password_area" class="mgmg_area">
			<form id="change_password_form">
				<div><b>Change Password</b></div>
				<div>New Password: <input type="password" name="new_password" id="pass1" required/></div>
				<div>Verify Password: <input type="password" id="pass2" required  oninput="check_prov_pass_u(this)"/></div>
				<div class="submit_button_mgmt"><input type="submit" value=" Change Password" class="rx_entry ui-button ui-widget ui-state-default ui-corner-all" /></div>
			</form>
		</div>
		
		<div id="upate_email_area" class="mgmg_area">
			<form id="update_email">
				<div><b>Update Email</b></div>

				<div>New Email: <input type="email" id="email_addr" name="email" /></div>
				
				
				<div>Verify Email Address: 				<input type="email" id="email_addr_repeat" name="email_addr_repeat" oninput="check_email_u(this)" /></div>

				<div class="submit_button_mgmt"><input type="submit" value=" Update Email"  class="rx_entry ui-button ui-widget ui-state-default ui-corner-all" /></div>				
		</div>
% if (0) {		
		<div id="upate_hipaa_area" class="mgmg_area">
			<form id="update_hipaa">
				<div><b>Update HIPAA-mode</b></div>

				<div class="submit_button_mgmt"><input type="button" value=" ON "  class="rx_entry ui-button ui-widget ui-state-default ui-corner-all" onclick="hipaa_mode_toggle(true); this.style.color='green'; " id="hipaa_on_button"/> <input type="button" value=" OFF "  class="rx_entry ui-button ui-widget ui-state-default ui-corner-all" onclick="hipaa_mode_toggle(false); $('#hipaa_on_button').css( 'color' , '#4F4F4F'  );"/></div>				
		</div>
%	}
		<div id="update_rxtemplate_area" class="mgmg_area">
					<div><b>Update My Rx Template</b></div>
					<div><a href="#" class="func_show_update_tmpl_area">View/Edit Template </a></div>
					<p/>
		</div>
		</div>

	</div>
</script>
<script>
				var check_email_u = function (input) {
				  if (input.value != document.getElementById('email_addr').value) {
				    input.setCustomValidity('The two email addresses must match.');
				  } else {
				    // input is valid -- reset the error message
				    input.setCustomValidity('');
				  }
				};
				var check_prov_pass_u = function (input) {
				  if (input.value != document.getElementById('pass1').value) {
				    input.setCustomValidity('The two email addresses must match.');
				  } else {
				    // input is valid -- reset the error message
				    input.setCustomValidity('');
				  }
				};
				
				
				var display_acct_mgmt =function (opts) {
				
						push_lh({loc: 'acct_mgmt', self:[] });
					$('#rxpad').remove();
					activate_area({title: 'Account Management'});
					
					deselect_patient();
					$('#tmpl_account_mgmt').tmpl({}).appendTo('#ma'); 
	};

var update_provider_email = function(adr) {
	 	$.postJSON('/api/v1/updateProviderEmailAddress', adr, function(msg) {
						
						if (msg.success) {
							$('#acct_mgmt_msgs').html('').show();
							$('#acct_mgmt_msgs').html('<span class="success">Saved!</span>').fadeOut(4600);

								var sxat=msg.data['_xat'];
								xat=msg.data['_xat'];
								jQuery.ajaxSetup({headers: {"X-SAuth-Token":sxat}, type: 'post'});		
								jQuery.ajaxSetup({headers: {"X-Auth-Token":xat}, type: 'post'});

								Providers[msg.data['_DoctorCode']].auth_key=msg.data['_xat'];
								masquradeas(Provider.info.DoctorCode);
								if (Provider.info.DoctorCode == msg.data['_DoctorCode']) {Provider.auth_key=msg.data['_xat'];}
							
						} else {
							display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
							}
					});

};



var update_provider_auth = function(adr) {
	 	$.postJSON('/api/v1/updateProviderAuth', adr, function(msg) {
						
						if (msg.success) {
							$('#acct_mgmt_msgs').html('').show();
							$('#acct_mgmt_msgs').html('<span class="success">Saved!</span>').fadeOut(4600);

								var sxat=msg.data['_xat'];
								xat=msg.data['_xat'];
								jQuery.ajaxSetup({headers: {"X-SAuth-Token":sxat}, type: 'post'});		
								jQuery.ajaxSetup({headers: {"X-Auth-Token":xat}, type: 'post'});

								Providers[msg.data['_DoctorCode']].auth_key=msg.data['_xat'];
								masquradeas(Provider.info.DoctorCode);
								if (Provider.info.DoctorCode == msg.data['_DoctorCode']) {Provider.auth_key=msg.data['_xat'];}
							
						} else {
							display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
							}
					});

};







</script>
<style>
.mgmg_area {margin: 1.5em;}
.submit_button_mgmt {margin: .8em 1.5em 1.5em 1.5em;}
</style>