




<script id="tmpl_add_patient"  type="text/x-jquery-tmpl">
<div id="add_patient_area">
	<form method="post" id="add_patient_form">
		<div class="form_fields">
			<input placeholder="First Name" name="first_name" id="test1" class="qselector qtm-first_name" required pattern="\w+" /> &nbsp; 		<input placeholder="Last Name" name="last_name" required pattern="\w+"/> &nbsp; 		<input placeholder="DOB - MM/DD/YY" name="DOB" required pattern="^(([1-9])|(0[1-9])|(1[0-2]))\/(([0-9])|([0-2][0-9])|(3[0-1]))\/(([0-9][0-9])|([1-2][0,9][0-9][0-9]))$" data-errormessage="The DOB is required to be in the format MM/DD/YY"  oninvalid="setCustErrMsg(this)" onchange="setCustomValidity('')" />
		</div>	
		
		<div class="form_fields">
			<input placeholder="Daytime phone" name="phone_1" required pattern="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}" oninvalid="setCustErrMsg(this); " onchange="setCustomValidity('')"  data-errormessage="The Daytime Phone is required in the format: NNN-NNN-NNNN"  /> &nbsp; 		<input placeholder="Alt Phone" name="phone_2"  pattern="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}" oninvalid="setCustErrMsg(this)" onchange="setCustomValidity('')"  data-errormessage="The Alt Phone is optional and in the format: NNN-NNN-NNNN"  /> &nbsp; 
			<div style="display:inline-block; 0float:right; ">
				<label class="label_radio" for="a_p_g_f">
					<input type="radio" name="gender" value="F" id="a_p_g_f"  required/>
						Female
				</label>
				<label class="label_radio" for="a_p_g_m">
					<input type="radio" name="gender" value="M" id="a_p_g_m" required/>
						Male
				</label>
			</div>
		</div>

		<div style="clear:both; " class="form_fields">
			<input placeholder="Email" name="email" size="48" type="email"/> &nbsp;
			<input type="submit" id="" value="Add Patient" size="32" form="add_patient_form" class="ui-button ui-widget ui-state-default ui-corner-all" role="button">
		</div>
	</form>
	<div id="ap_resp"></div>
</div>
</script>

<script id="tmpl_dupl_patients"  type="text/x-jquery-tmpl">
	<div id="dupl_pts_check">
	{{each(i, pt) dc}}
		<div class="dupl_pt addable_patient" data-patientID="${patientID}"><span class="dp_pt_name hipaa_name">${last_name}, ${first_name}</span><span class="dp_pt_DOB hipaa_DOB">${dob_f}</span><span class="dp_pt_city">${city} ${state}</span></div>
	{{/each}}
	</div>
	<div id="use_orig_pt">
		<div id="d_p_c_ap" class="addable_patient">${ap.last_name}, ${ap.first_name} - ${ap.oDOB}</div>
	</div>
</script>









<script id="tmpl_add_patient_address"  type="text/x-jquery-tmpl">

	<div id="get_padr">
		<form id="get_address_frm" class="add_address_form_post">
		<div id="get_street_address_info">
			<div>
				Street Address 1:<input type="text" required placeholder="Street Address 1" name="line1">
			</div>
			<div>
				Street Address 2:<input type="text"  placeholder="Street Address 2" name="line2">
			</div>
			<div>
				ZIP:<input type="text"  required placeholder="ZIP Code" name="zip" pattern="\d\d\d\d\d" onchange="getCityStateFromZIP(this.value);">
			</div>
			<div id="got_city_state">City:  <input type="text" name="city" > &nbsp; State: <input type="text" name="state" value="" maxlength="2" ></div>
		</div>
		<input type="hidden" name="patientid" value="${rd.patientid}" />		<input type="hidden" name="addresstype" value="{{if addresstype}}${addresstype}{{else}}primary{{/if}}" />
		<input type="submit"  value="Add Address" class="add_address_button_post ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${patientid}" data-addresstype="${addresstype}">
		</form>
	</div>

</script>
<script id="tmpl_add_patient_billing_info"  type="text/x-jquery-tmpl"><h3 class="rsection_title">Insurance &amp; Billing Information</h3><div id="get_pbi">
	<h4>Insurance</h4>
<form id="get_ins_frm"><div id="get_ins">
			<div>Insurance ID:
				<input type="text" required placeholder="ID / Policy# / Subscriber#" name="ins_policy_id" maxlength="24" style="width: 26em;" value="${ins_policy_id}">
			</div>
			<div>Rx Group:
				<input type="text" required placeholder="Rx Group" name="ins_group" maxlength="16" style="width: 18em;" value="${ins_group}">
			</div>
			<div>Bin #:
				<input type="text" required placeholder="Bin #" name="bin_num"  pattern="\d\d\d\d\d\d" style="width: 8em;" maxlength="6" value="${ins_bin_num}">
			</div>
			<div>PCN:
				<input type="text"  placeholder="PCN [optional]" name="processor" maxlength="10"   style="width: 16em;" value="${ins_processor}"> &nbsp; 
				<div id="ins_rel_radios">Cardholder Relationship:
					<label for="ins_pri_p" class="dinline"><input type="radio" id="ins_pri_p" name="ins_relationship" value="1" {{if  typeof ins_relationship != 'undefined' && ins_relationship ==1}}checked="checked"{{/if}} required/> Primary</label> &nbsp;  <label for="ins_pri_p" class="dinline"><input type="radio" id="ins_pri_s" name="ins_relationship" value="2"   {{if typeof ins_relationship != 'undefined' && ins_relationship ==2}}checked="checked"{{/if}} required/> Secondary</label>
				</div>
			</div>
			<div>Insurance Phone [Optional]
				<input type="text"  placeholder="Insurance Phone #" name="ins_phone" pattern="\d\d\d\d\d\d\d\d\d\d">
			</div>
		</div>
		<input type="submit" value="Save Insurance Info "  class="ui-button ui-widget ui-state-default ui-corner-all" role="button" style="margin: 1.0em;"  />
	</form>
	<p/>		<p/>	
	<h4>Credit Card</h4>
	<form id="get_billing_frm">
		<div id="get_billing">
			<div id="get_cc">
				<div>Card Number:
					<input type="text"  placeholder="{{if CCNum4}}Ends in ${CCNum4}{{else}}Credit Card #{{/if}}" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" name="cc_num" required>
				</div>
				<div>Month / Year (MM/YY)
					<input type="text"  placeholder="Exp MM" name="cc_exp_mm" required pattern="[01]\d" value="${CCExpMM}" style="max-width: 4em;" /> &nbsp; <input type="text" required placeholder="Exp YY" name="cc_exp_yy" pattern="[12]\d" value="${CCExpYY}" style="max-width: 4em;" />
				</div>
			</div>
		</div>		
		<input type="submit" value="Save Billing Info "  class="ui-button ui-widget ui-state-default ui-corner-all" role="button" style="margin: 1.0em;"  />
	</form>
	<p/>
	</div>
</script>




<script>
var popup_add_patient = function() {popup(	$('#tmpl_add_patient').tmpl({})[0], {width:650, title: 'Add Patient'});	}	




var add_patient = function(pdata){
	//winkstart.publish('patient.add', frm.serializeObject());

	$.ajax({
		      url: "/api/v1/addPatient",
		      global: true,
			  data: JSON.stringify({data: {new_patient: pdata}}),
		      dataType: "json",
		      async:true,
		      success: function(msg){
		      	if (msg.success) {
		      			$('#add_patient_form').hide('slow');
						if (msg && msg.errs && msg.errs[0]) {
					duplicate_check_diplay(msg);				
					}
		      } else {
				var apresp=$('#ap_resp');
				apresp.fadeOut('slow', function() { apresp.empty(); 
					$('#tmpl_display_errs').tmpl({errs:msg.errs, opt:{noclose:true}}).appendTo(apresp);
										apresp.fadeIn('slow');
					}

				);
				}
		   }
		});
};
			


var duplicate_check_diplay = function(msg) {
	var apresp=$('#ap_resp');
	apresp.fadeOut('fast', function() { apresp.empty(); 
		$('#tmpl_display_errs').tmpl({errs:msg.errs, opt:{noclose:true}}).appendTo(apresp);
		if (typeof msg.data == 'object' && (typeof msg.data.dc == 'array' || typeof msg.data.dc == "object" )) {
			$('#tmpl_dupl_patients').tmpl(msg.data).appendTo(apresp);
			// activate pa.dataset()
			$('#d_p_c_ap').dataset(msg.data.ap);
			
		}
		if (typeof msg.data == 'object' && typeof msg.data.pad == 'object') {
			
			// successfully added patient, add to list
			plist[msg.data.pad.patientid]=msg.data.pad;
			// switch to it...
			select_patient(msg.data.pad.patientid, msg.data.pad);
			}
apresp.fadeIn('fast');
			});
//			 $('#ap_resp').fadeIn('fast');;
	};





//add_patient(this);
	$("body").delegate("#add_patient_form", 'submit',  function(frm) {			frm.preventDefault(); 
	// $(this, ' input').each( function(index, elm) {	elm.type="hidden";	} ); 
				$('#add_patient_form input').css({color:'inherit'});
				$('#add_patient_form input:invalid').css({color:'red'});
				if ($('#add_patient_form input:required:invalid')[0]) {
				// clear empty meds, try 
									$('#add_patient_form input:required').css({background: 'inherit'});
					$('#add_patient_form input:required:invalid').css({background: '#FFC5C5'});
				}

	    var pdata=$(this).serializeObject();  add_patient(pdata );  		});

	$("body").delegate(".func_add_patient", 'click', function(frm) {			frm.preventDefault(); 	popup_add_patient();	});
	$("body").delegate(".addable_patient", 'click', function(frm) {			
												frm.preventDefault();
												var pdata=$(this).dataset();
												pdata['add_override']=1;
												 add_patient(pdata);	
									});
</script>
<style>
	#d_p_c_ap {	cursor:pointer; }
	.dp_pt_DOB:before {	content: ' - ';	}
	.dupl_pt {cursor:pointer;}
	.dp_pt_city {	margin-left: 1.0em; }
#ap_resp {
		margin: 1em auto;
		width: 400px;
	}
#use_orig_pt, #dupl_pts_check {
		margin: 0.5em auto;
	}
	.addable_patient {
		font-size: larger;
		font-weight: bold;
		margin: 0.75em;
	}
	.addable_patient:hover {	color:#416B83;	}
	#dupl_pts_check:before {content:'Choose a patient from the list below:'; font-size: larger; text-shadow: #AAAAAA 0px 1px 0px;}

	#dupl_pts_check:after {content:'Or create a new patient with the information entered:'; font-size: larger; text-shadow: #AAAAAA 0px 1px 0px;}
	.dinline { display: inline; }
</style>