<script  type="text/x-jquery-tmpl" id="tmpl_address_mgmt_test">
<div>       	<span class="pc_pinfo_form_label">000000Name:</span> <span id="PatientFirstName" class="ji_edit">${PatientFirstName}</span> <span id="PatientLastName" class="ji_edit">${PatientLastName}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Date of Birth:</span> <span id="DOB" class="ji_edit">${DOB}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Sex:</span> <span id="sex" class="ji_edit">${Sex}</span>       </div>			<div id="pc_contact_info_area">       	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <span class="ji_edit" id="PatientPhone">${PatientPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <span class="ji_edit" id="PatientWorkPhone">${PatientWorkPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Email: </span><span href="mailto:${email}" class="ji_edit" id="email">${email}</span></div>       </div>			              <div id="pc_shipping_choices"  class="no_css3_2column">{{tmpl(rd.pobj.info.pinfo) "#tmpl_address_mgmt"}}</div>       <br style="clear:none;" />       
</script>


<script  type="text/x-jquery-tmpl" id="tmpl_address_mgmt">
       						<div class="mi_flt">
{{if typeof PatientCity == "string"}}
							<div class="prim_address addl_address avoid-column-break">
								<div class="address_funcs"><a class="toggle_edit_pri_address" href="#" id="toggle_edit_pri_address">Edit</a><a class="toggle_save_pri_address" id="toggle_save_pri_address"  href="#"  style="display:none;">Save</a></div>


								<div class="address_display primary_address" id="pri_add">
					       			<div>
					       				<span id="PatientAddressLine1" class="address_display">${PatientAddressLine1}</span>

									</div>
		       						<div>
		       							<span id="PatientAddressLine2" class="address_display">${PatientAddressLine2}</span>       						

									</div>
		       						<div>
		       							<span id="PatientCity" class="address_display">${PatientCity}</span>&nbsp;<span id="PatientState" class="address_display">${PatientState}</span>, <span class="address_display" id="PatientZIP">${PatientZIP}</span>       						
									</div>
								</div>

								<div class="address_form" >
								<form id="address_primary" method="post" class="func_edit_pri_address" style="display:none;">
					       			<div>
					       				<input name="line1" class="address_form" value="${PatientAddressLine1}" placeholder="Address Line 1"  style="width: 19em;"/>
									</div>
		       						<div>
		       							<input name="line2" class="address_form" value="${PatientAddressLine2}" placeholder="Address Line 2"  style="width: 19em;"/>       						
									</div>
		       						<div>
		       							<input name="city" value="${PatientCity}" placeholder="City" style="width: 12em;"/>&nbsp;<input name="state" value="${PatientState}" placeholder="State"  size="4" style="max-width: 2.3em;" />, <input name="zip" value="${PatientZIP}"  placeholder="ZIP"  style="width: 5em;" />	
									</div>
									<input type="hidden" name="addresstype" value="primary" /><input type="hidden" name="patientID" value="${rd.patientid}" />
								</form>
								</div>

							</div>

{{else}}
<input type="button" id="add_pri address_button" value="Add Address" class="add_address_button ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" data-addressType="primary">
{{/if}}     			
</div>

{{each(i, adr) addresses}}
<div class="addl_address avoid-column-break" id="alt_add_div_${adr.id}">
								<div class="address_funcs"><a class="toggle_edit_alt_address" href="#" id="toggle_edit_alt_address_${adr.id}" data-id="${adr.id}">Edit</a><a class="toggle_save_alt_address" id="toggle_save_alt_address_${adr.id}"  href="#" data-id="${adr.id}" style="display:none;">Save</a> &nbsp; <a class="func_del_alt_address" href="#" data-patientid="${rd.patientid}" data-id="${adr.id}">Remove</a></div>
								<div class="address_display alt_address" id="alt_add_${adr.id}">

					       			<div>
					       				<span class="address_display">${adr.line1}</span>
									</div>
		       						<div>
					       				<span class="address_display">${adr.line2}</span>
									</div>
		       						<div>
										<span class="address_display">${adr.city}</span>&nbsp;<span class="address_display">${adr.state}</span>, <span class="address_display">${adr.zip}</span>
									</div>
									{{if adr.country != 'US'}}
		       						<div>
		       							<span class="address_display">${adr.country}</span>
									</div>
									{{/if}}

								</div>


								<div class="address_form" id="alt_add_form_${adr.id}" style="display:none;">
								<form id="address_alt_${adr.id}" method="post" class="func_edit_alt_address">
									<input name="patientID" value="${rd.patientid}"  type="hidden"/>
									<input name="addresstype" value="alternate"  type="hidden"/>
									<input name="adr_id" value="${adr.id}"  type="hidden"/>
									<input name="addIndx" value="${i}"  type="hidden"/>
					       			<div>
					       				<input name="line1" class="address_form" value="${adr.line1}" placeholder="Address Line 1" style="width: 19em;"/>
									</div>
		       						<div>
		       							<input name="line2" class="address_form" value="${adr.line2}" placeholder="Address Line 2" style="width: 19em;"/>       						
									</div>
		       						<div>
		       							<input name="city" value="${adr.city}" placeholder="City" style="width: 12em;" />&nbsp;<input name="state" value="${adr.state}" placeholder="State" size="4" style="max-width: 2.3em;"/>, <input name="zip" value="${adr.zip}"  placeholder="ZIP" style="width: 5em;"/>	
									</div>
		       						<div>
		       							<input name="country" value="${adr.country}" placeholder="Country"  style="width: 12em;"/>
									</div>

								</form>
								</div>

									<div class="address_dates_area">
										<b>Dates:</b>
											{{if adr.dates.length}}
											{{each(si, sdte) adr.dates}}
												<div class="ship_to_date"><form method="post" class="func_del_alt_address_date del_date_form"><span class="start_date">${sdte.start_date_f}</span><span class="stop_date">${sdte.stop_date_f}</span><span class="remove_date"><input type="submit" value="Remove Dates" class=" ui-button ui-widget ui-state-default ui-corner-all " role="button" /><input type="hidden" name="id" value="${sdte.id}" /><input name="adr_id" value="${adr.id}"  type="hidden"/><input type="hidden" name="addIndx" value="${i}" /><input type="hidden" name="dateIndx" value="${si}" /><input type="hidden" name="patientID" value="${rd.patientid}" /></span></form></div>
											{{/each}}
											{{else}}<div> - No Dates - </div>
											{{/if}}
									</div>
									<div class="address_add_date_area">
										<div class="add_date"><b>Add Dates</b></div>
										<form method="post" class="func_add_alt_address_date"><input name="adr_id" value="${adr.id}"  type="hidden"/>
											From: <input type="date" name="start_date" class="use_datepicker" required /> &nbsp; To: <input type="date" name="stop_date"  class="use_datepicker" required /> &nbsp; <input type="submit" value="Add Dates" class="func_add_alt_address_date ui-button ui-widget ui-state-default ui-corner-all" role="button"  />
											<input type="hidden" name="patientID" value="${rd.patientid}" />
										</form>
									</div>

</div>
{{/each}}

		<div id="add_address_area">
			<input type="button" value="Add An Address" class="add_address_button ui-button ui-widget ui-state-default ui-corner-all  " data-addresstype="alternate" role="button" />
		</div>
</script>
<script>





 var add_adr_date = function(adr) { 
	 	$.postJSON('/api/v1/addAddressDate',adr, function(msg) {
						
						if (msg.success) {
							$('#pinfo_msgs').html('').show();
							$('#pinfo_msgs').html('<span class="success">Saved!</span>').fadeOut(3600);
							$.postJSON('/api/v1/getPatientAddresses', {patientID: rd.patientid}, function(msg) {
								rd.pobj.info.pinfo.addresses=msg.data;
								show_pinfo_area();
							});

							} else {display_errs(msg.errs, 'Problem with new date range', function(){eval(msg.errs[0].cb)}, null, {width:600} );}
					});
 };

 var del_adr_date = function(adr) { console.log(adr);
	 	$.postJSON('/api/v1/delAddressDate',adr, function(msg) {
						display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
						if (msg.success) {
							$('#pinfo_msgs').html('').show()
							$('#pinfo_msgs').html('<span class="success">Saved!</span>').fadeOut(3600);
							rd.pobj.info.pinfo.addresses[adr.addIndx]['dates'].splice(adr.dateIndx,1);
							show_pinfo_area();
							} else {}
					});
 
 };

var add_adr = function (adr) {
	 	$.postJSON('/api/v1/addAltAddress', adr, function(msg) {
		
						if (msg.success) {
							$('#pinfo_msgs').html('').show()
							$('#pinfo_msgs').html('<span class="success">Saved!</span>').fadeOut(4600);
							$.postJSON('/api/v1/getPatientAddresses', {patientID: rd.patientid}, function(msg) {
								rd.pobj.info.pinfo.addresses=msg.data;
								show_pinfo_area();
								$('#dialog-message').dialog('close' );

							});

							} else {
							display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
							}
					});

};

var del_adr_confirm = function(adr) {
console.log(adr);
	display_errs([{msg: 'Remove address? ' + '<div style="margin:1.5em auto; width: 200px;">	<input type="button" data-id="'+ adr.id +'" data-patientid="'+ adr.patientid +'" value="Confirm" class="func_confirmed_del_adr ui-button ui-widget ui-state-default ui-corner-all" role="button"/> &nbsp; 	<input type="button"  value="Cancel"  class=" ui-button ui-widget ui-state-default ui-corner-all" role="button" onclick="$(' + "'#dialog-message').dialog('close' );" + '" /> &nbsp; </div>', html: 1}], null, function(){;} );
};

var del_adr = function(adr) {
console.log(adr);
	 	$.postJSON('/api/v1/delAltAddress', adr, function(msg) {
						if (msg.success) {
							$('#pinfo_msgs').html('').show()
							$('#pinfo_msgs').html('<span class="success">Removed!</span>').fadeOut(4600);
							$('#dialog-message').dialog('close' );
							$.postJSON('/api/v1/getPatientAddresses', {patientID: rd.patientid}, function(msg) {
								rd.pobj.info.pinfo.addresses=msg.data;
								show_pinfo_area();
							});

							} else {
							display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
							}
					});

};

var edit_adr = function(adr) {
	 	$.postJSON('/api/v1/editAltAddress', adr, function(msg) {
						
						if (msg.success) {
							$('#pinfo_msgs').html('').show()
							$('#pinfo_msgs').html('<span class="success">Saved!</span>').fadeOut(4600);
							if (adr.addresstype =='primary') { rd.pobj.info.pinfo=msg.data; show_pinfo_area();}
							else {
								$.postJSON('/api/v1/getPatientAddresses', {patientID: rd.patientid}, function(msg) {
									rd.pobj.info.pinfo.addresses=msg.data;
									show_pinfo_area();
								});
							}

							} else {
							display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)} );
							}
					});

};
</script>