<script id="tmpl_dashboard"  type="text/x-jquery-tmpl">
<div id="dashboard">
	<div id="dash_area_1">
		
	</div>
	<div id="dash_area_2">
		<div id="db_patient_list">
			<div class="listing"><a href="#" class="func_patient_list plist_link" id="patient_list_link">${Object.keys(plist).length} Patients <span style="text-decoration:underline;">view </span></a></div>
		</div>
		<div id="rx_issues"></div>	
		<div id="diag_issues"></div>
		<div id="db_notices"></div>
	</div>
	<div id="dash_area_3">
		<div id="recent_patients"></div>

	</div>	
		
</div>
</script>
<script id="tmpl_db_rx_issues"  type="text/x-jquery-tmpl">
				{{if typeof acct.unfilled_rx == 'object' && acct.unfilled_rx.length > 0}}
					<div class="listing">${acct.unfilled_rx.length} Unfilled Prescriptions <a href="#" class="func_unfilled_rx">view &gt;&gt;</a></div>
				{{else}}
					<div class="listing">No unfilled prescriptions</div>
				{{/if}}
				{{if acct.refill_reqs.length > 0}}
					<div class="listing"><a href="#" class="func_unfilled_rx gtgt no_underline" id="db_rfq_link">${acct.refill_reqs.length} Refill Requests <span style="text-decoration:underline;">view </span></a></div>
				{{else}}
					<div  class="listing">No refill requests</div>
				{{/if}}
</script>

<script id="tmpl_db_diag_issues"  type="text/x-jquery-tmpl">
				{{if acct.diag_issues.length > 0}}
				[loading...]
				{{else}}
				<div class="listing">None at this time</div>
				{{/if}}
</script>

<script id="tmpl_db_recent_diag_list"  type="text/x-jquery-tmpl">
           				<div class="gray_box" id="diag_issues_shortlist">
							<ul class="list">
								{{if acct.diag_issues.length > 0}}
								{{each(i, di) acct.diag_issues}}
									{{if i < 11}}
										{{if typeof plist[di.patientid] != "undefined"}}
									<li class="func_diag_issue patient_name clickable rx_status_{{if di.rx_status}}viewed{{else}}unviewed{{/if}}    lab_status_{{if di.view_status}}viewed{{else}}unviewed{{/if}} " data-patientid="${di.patientid}" data-rxn="${di.rxn}">
										<span class="hipaa_name">${plist[di.patientid]['last_name']}, ${plist[di.patientid]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_date">${di.sample_date_f}</span>
									</li>
										{{/if}}
									{{else}}
										{{if i == 11}}
									<li class="func_view_all_diag_issues patient_name clickable empty_list " data-hidelist="true">
										<span>View More (${acct.diag_issues.length})</span>
									</li>
										{{/if}}
									{{/if}}
									
								{{/each}}
								{{else}}
								<li class="empty_list">None at this time</li>
								{{/if}}
							</ul>
						</div>
						<div id="all_diag_issues"></div>

</script>

<script id="tmpl_db_recent_patients"  type="text/x-jquery-tmpl">


                        <h4>Recently Viewed Patients</h4>
						<div class="gray_box">
						<ul class="list">
						{{if typeof acct.recent_patients =="object" && Object.keys(acct.recent_patients).length > 0}}
							{{each(i, pat) acct.recent_patients}}{{if typeof plist[pat] =="object"}}
							<li class="func_patient_chart patient_name" data-patientid="${pat}">
								<span class="hipaa_name">${plist[pat]['last_name']}, ${plist[pat]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_DOB">${plist[pat]['dob_f']}</span>
							</li>
							{{/if}}{{/each}}
						{{else}}
						<li class="empty_list " data-hidelist="true">No Recently Viewed Patients</li>
						{{/if}}
						</ul>
						</div>


</script>

<script id="tmpl_db_recent_patients_org"  type="text/x-jquery-tmpl">
				<div class="noticeboxalt">
                    <div class="innernotice">
                        <h4>Recently Viewed Patients</h4>
						<ul class="list">
							{{each(i, pat) acct.recent_patients}}{{if typeof plist[pat] =="object"}}
							<li class="func_patient_chart patient_name" data-patientid="${pat}">
								<span class="hipaa_name">${plist[pat]['last_name']}, ${plist[pat]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_DOB">${plist[pat]['dob_f']}</span>
							</li>
							{{/if}}{{/each}}
						</ul>
                    </div>
                </div>

</script>

<script id="tmpl_db_notices"  type="text/x-jquery-tmpl">

% #				<div class="noticebox">
% #                    <div class="innernotice">
                        <h4>Notices</h4>
						<ul class="listing">
							{{if acct.notices.length}}
								{{each(i, notice) acct.notices}}
									<li>${notice}</li>
								{{/each}}
							{{else}}
							<li>None at this time.</li>
							{{/if}}
						</ul>
% #                    </div>
% #                </div>

</script>

<script id="tmpl_db_patient_list_short"  type="text/x-jquery-tmpl">
				
				<div class="patient_list_area">
					<div class="patient_list_toggle">Patient List</div>
					<div class="patient_list_table"></div>
				</div>
				<div class="noticebox">
                    <div class="innernotice">
                        <h4>Notices</h4>
						<ul>
							{{if acct.notices.length}}
								{{each(i, notice) acct.notices}}
									<li>${notice}</li>
								{{/each}}
							{{else}}
							<li>A new version of RD will be available soon.  Find out <a href="#">more</a>.</li>
							{{/if}}
						</ul>
                    </div>
                </div>

</script>




















<script id="tmpl_all_diag_events"  type="text/x-jquery-tmpl">
<div id="all_diag_issues"></div>
</script>
