#lab_product_list_serum .lab-category.clinic { display: none; }
#lab_billing_options {
float: left;
width: 700px;
}

#lab_billing_options label {
display: inline-block;
}


/* labs changes */

.productCategory-minor {
display: none;
}