<script id="tmpl_lab_order_saliva" type="text/x-jquery-tmpl">

<div id="lab_product_list_saliva"><div><b>Saliva/Urine Labs</b></div>
	<div id="custom_saliva_panels">{{if typeof restoreProducts['custom_sal_tmpl']  == "object"}}{{tmpl tmpl_custom_saliva_panels}}{{/if}}</div>
	<form id="order_labs_saliva_frm">
		<input type="hidden" name="lab_type" value="saliva" />

		<div class="lab-category panel">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel-Custom']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}

			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled" placeholder="Enter notes/instructions here..."  onfocus=" $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');"></textarea>	
			<div class="lab_kit_num_div"><input type="number" placeholder="Lab Kit # (Optional)" name="kit_id" /></div>
			<div id="losal_subm"><input type="submit" id="lo_submit" value="Order Labs"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>
	</form>
</div>

</script>


<script id="tmpl_lab_order_serum" type="text/x-jquery-tmpl">

<div id="lab_product_list_serum">
	<div><b>Serum Labs</b></div>
	<form id="order_labs_serum_frm">
		<input type="hidden" name="lab_type" value="serum" />
		<div class="lab-category panel">
		
			{{each(i, lab) restoreProducts['Lab-Serum']['Panel-Custom']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}

		
		
		
			{{each(i, lab) restoreProducts['Lab-Serum']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span>						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>					
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Serum']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Serum']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice">- &#36;${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>

		<div class="centered_div">
			<div id="lab_billing_options">
				<label for="lab_bill_3rd_party">Bill Insurance</label><input type="radio" id="lab_bill_3rd_party" name="bill_to"  value="3rd" /> &nbsp; 
				<label for="lab_bill_CC">Bill Credit Card</label><input type="radio" id="lab_bill_CC" value="cc" name="bill_to" checked="checked" data-cc="" /> &nbsp; 
			</div>
			<textarea name="instructions" class="styled" placeholder="Enter notes/instructions here..."  onfocus=" $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');"></textarea>
			<div id="loser_subm"><input type="submit" id="lo_submit" value="Order Labs"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>\
		</div>
	</form>
</div>

</script>






<script id="tmpl_order_labs" type="text/x-jquery-tmpl">
{{tmpl tmpl_lab_order_saliva}}
</script>














<script id="tmpl_OTC_order_orig_static" type="text/x-jquery-tmpl">

<div id="otc_product_list"><div><b>Order Supplements</b></div>
	<form id="order_otc_frm">
		<input type="hidden" name="lab_type" value="otc" />
		<div class="css3_2column">
			<div class="lab-category Protocol">
				{{each(i, lab) restoreProducts['Supplements']['Protocol']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 
							<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Women">
				{{each(i, lab) restoreProducts['Supplements']['Women']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} </label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Prevention">
				{{each(i, lab) restoreProducts['Supplements']['Prevention']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Cardio">
				{{each(i, lab) restoreProducts['Supplements']['Cardio']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
	
			<div class="lab-category Metabolic">
				{{each(i, lab) restoreProducts['Supplements']['Metabolic']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Osteo">
				{{each(i, lab) restoreProducts['Supplements']['Osteo']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>

	
	
			<div class="lab-category Rest">
				{{each(i, lab) restoreProducts['Supplements']['Rest']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	







		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled" placeholder="Enter notes/instructions here..."  onfocus="$(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');"></textarea>
			<div id="oootc_subm"><input type="submit" id="oo_submit" value="Order Supplements"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>

	</form>
</div>

</script>







<script id="tmpl_OTC_order" type="text/x-jquery-tmpl">

<div id="otc_product_list"><div><b>Order Supplements</b></div>
	<form id="order_otc_frm">
		<input type="hidden" name="lab_type" value="otc" />
		<div class="css3_2column">
			<div class="lab-category Protocol">
				{{each(i, lab) restoreProducts['Supplements']['Protocol']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 
							<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Women">
				{{each(i, lab) restoreProducts['Supplements']['Women']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} </label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Prevention">
				{{each(i, lab) restoreProducts['Supplements']['Prevention']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Cardio">
				{{each(i, lab) restoreProducts['Supplements']['Cardio']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
	
			<div class="lab-category Metabolic">
				{{each(i, lab) restoreProducts['Supplements']['Metabolic']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Osteo">
				{{each(i, lab) restoreProducts['Supplements']['Osteo']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>

	
	
			<div class="lab-category Rest">
				{{each(i, lab) restoreProducts['Supplements']['Rest']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	

				{{each(cate, cateo) restoreProducts['Supplements']}}
				{{if jQuery.inArray(cate, ['Rest', 'Osteo', 'Metabolic', 'Cardio', 'Prevention', 'Women', 'Protocol']) > -1 }}
				{{else}}
			<div class="lab-category ${cate}">
				{{each(i, lab) restoreProducts['Supplements'][cate]}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
				{{/if}}
				{{/each}}






		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled"  placeholder="Enter notes/instructions here..."  onfocus="$(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');"></textarea>
			<div id="oootc_subm"><input type="submit" id="oo_submit" value="Order Supplements"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>

	</form>
</div>

</script>


<script>
// restoreProducts['custom_sal_tmpl']=[{productID:333129, 'ref_labs': [33312, 33422], productDisplayName: 'Custom Labs 1', productDescription: 'productDescription1'}];
				// use this: $('#labp_' + 33312).prop('checked', true); $('#labp_' + 33312).parent().toggleClass('c_on', $('#labp_' + 33312).prop('checked'))
				//			$(tmp_ds).each(function(lgi, lii) { $(lii).each(function(llgi, llii) {console.log('llii1:'); console.log(llii);   $('#labp_' + llii).prop('checked', true); console.log(llii);});   })
</script>

<script id="tmpl_custom_saliva_panels" type="text/x-jquery-tmpl">
<div>
				{{each(cti, ct) restoreProducts['custom_sal_tmpl'] }}
				<div class="custom_sal_tmpl">
					<div class="lab-category ">
						<div class="lab_product">
							<label class="label_check" for="labp_c${cti}">
							       <input type="checkbox" id="labp_c${cti}"class="func_custom_fill_lab_form_saliva" name="lab_product" value="${ct.productID}" {{each(cli, cl) ct['ref_labs']}} data-lb${cli}="${cl}" {{/each}} >
								${ct.productDisplayName} 
							</label>
						<div class="lab-desc">{{html ct.productDescription}}</div>
					</div>
				</div>
				{{/each}}
</div>
</script>