<script id="tmpl_display_errs" type="text/x-jquery-tmpl">
	<ul>
		{{each(i,err) errs}}
		{{if err.html}}
			<li class="errMsg status ${err.type}">{{html err.msg}}</li>
		{{else}}
			<li class="errMsg status ${err.type}">${err.msg}</li>
		{{/if}}
		{{/each}}
	</ul>
	{{if ! ( errs[0].noclose || opt.noclose)}}
	<div><a href="#" class="button" onclick='$("#dialog-message").dialog("close" ); ${cb}; return false;'>Close</a></div>
	{{/if}}
</script>
<script id="tmpl_patient_area" type="text/x-jquery-tmpl">
<div class="patient_selected " id="action_info_area">
	<img src="/private_imgs/${xu}/patient_${iu}.jpg"  height="35" class="hoverimg" alt="" id="pat_img">
    <p id="current_action" class="dashboard"></p>
    <p class="selected_patient" id="working_patient"></p>
% #   <p class="userbtn0"><a href="#patient_profile" title="">Profile</a></p>
</div>
</script>


<script id="tmpl_rollover_pinfo" type="text/x-jquery-tmpl">
	<div class="patient_info">
		<span class="hipaa_name">${last_name}, ${first_name}</span> - ${dob_f}
	</div>
</script>

<script id="tmpl_rollover_lab_info" type="text/x-jquery-tmpl">
	<div class="patient_info">
		${pname} - ${sample_date_f}
	</div>
</script>

<script id="tmpl_patient_chart" type="text/x-jquery-tmpl"><& '/tmpl/patient_chart.html' &></script>

<script id="tmpl_tabs" type="text/x-jquery-tmpl">
<ul class="smltabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
	{{each(i,li) lis}}
	<li class="ui-state-default ui-corner-top {{if li.active}}ui-tabs-selected ui-state-active{{/if}}"><a href="#" id="${li.id}" class="${li.class}">${title}</a></li>
</ul>
</script>

<script type="text/javascript">
% # // moved to globals: var impInfs= <% JSON::XS::encode_json(\%impInfs) %>;
var statusesLI = $.template( "summaryTemplate", '<li class="${boldMe}">${shortName}: ${sVal}</li>');
var quotedHI=new Array('lastPeriod', 'currentIRMA.lastPeriod', 'hysterectomyDate', 'hysterectomy');
</script>


<script id="tmpl_pat_summary" type="text/x-jquery-tmpl">

	<div id="curMedContainer" >
		<div id="curMedContainer_header">Patient Reported Medications</div>
		<ul id="curmedlist"></ul>
		<br style="clear:both;" />
		<div id="medhistorydisplay"></div>
	</div>
</script>


<script id="tmpl_pat_notes" type="text/x-jquery-tmpl">
<table id="pat_notes_tbl"></table>
</script>



<script id="tmpl_report_list_std"  type="text/x-jquery-tmpl">
				<div class="std_list">
                        <h4>Lab Reports</h4>
						<ul class="list">
						{{if jQuery.map(rd.pobj.HH, function(arr) {if (arr.reportType) {return arr;} } )[0] }}
							{{each(i, hh) rd.pobj.HH}}{{if typeof hh.reportType == "string" && hh.reportType.length > 1 &&  typeof hh.pdfID  == "string" && hh.pdfID.length > 2}}
							<li class=" lab_listing" data-patientid="${rd.patientid}">
								<span class="lab_date">${hh.ShortDate}</span><span class="lab_type">${hh.reportType}</span><span class="view"><a href="#" data-rxn="${hh.RxNumber}" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_${hh.RxNumber}.pdf" ><input type="hidden" name="id" value="${encodeURIComponent(hh.pdfID)}" /><input type="hidden" name="xat" value="${encodeURIComponent(sxat || xat)}" /><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_${hh.RxNumber}">PDF</a></form></span>
							</li>
							{{/if}}{{/each}}
						{{else}}
							<li class="empty_list">No Lab Reports on file</li>
						{{/if}}
						</ul>
                </div>
</script>

<script id="tmpl_report_list"  type="text/x-jquery-tmpl">
                        <h4 class="title_top">Lab Reports</h4>
				<div class="gray_box">
						<ul class="list">
						{{if jQuery.map(rd.pobj.HH, function(arr) {if (arr.reportType) {return arr;} } )[0] }}
							{{each(i, hh) rd.pobj.HH}}{{if hh.reportType}}
							<li class=" lab_listing" data-patientid="${rd.patientid}">
								<span class="lab_date">${hh.ShortDate}</span><span class="lab_type">${hh.reportType}</span><span class="view"><a href="#" data-rxn="${hh.RxNumber}" class="func_view_lab_report">View</a></span><span class=" print"><form method="post" target="_blank" action="/private_reports/lab_report_${hh.RxNumber}.pdf" ><input type="hidden" name="id" value="${encodeURIComponent(hh.pdfID)}" /><input type="hidden" name="xat" value="${encodeURIComponent(sxat || xat)}" /><a href="#" onclick="$(this).parent('form').submit(); return false;" id="a_rl_${hh.RxNumber}">PDF</a></form></span>
							</li>
							{{/if}}{{/each}}
						{{else}}
							<li class="empty_list">No Lab Reports on file</li>
						{{/if}}
						</ul>
                </div>

</script>

<script id="tmpl_ma_tabs" type="text/x-jquery-tmpl">

         <h2 class="left">${title}</h2>
         {{if tabs}}
         <ul class="smltabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all tabs-correct-2" id="ma_tabs">
         	{{each(i, tab) tabs}}
         	<li class="ui-state-default ui-corner-top {{if tab.active}}ui-tabs-selected ui-state-active ui-state-hover{{/if}}" id="${tab.li_id}"><a href="#${tab.href}" id="${tab.id}" {{if tab.onclick_event}} onclick="${tab.onclick_event}" {{/if}}>${tab.title}</a></li>
         	{{/each}}
         </ul>
         {{/if}}

</script>



<script id="tmpl_add_notes" type="text/x-jquery-tmpl">
<div id="pc_add_notes">
	<span class="clickable alg-middle func_add_note" data-patientid="${rd.patientid}" ><img id="add_note_icon" src="/images/add_note.png" /> Add Note</span>
</div>
</script>

<script id="tmpl_soap_note" type="text/x-jquery-tmpl">
	<div class="soap_note">
		<div class="s sn_sub fresheditable" contenteditable="true" id="soap_s"></div>
		<div class="o sn_sub fresheditable" contenteditable="true" id="soap_o"></div>
		<div class="a sn_sub fresheditable" contenteditable="true" id="soap_a"></div>
		<div class="p sn_sub fresheditable" contenteditable="true" id="soap_p"></div>
	</div>
</script>

<script id="tmpl_soap_note_mobile" type="text/x-jquery-tmpl">
	<div class="soap_note">
		<div id="d_soap_s">		<textarea  class="s sn_sub fresheditable" id="soap_s" name="soap_s"></textarea></div>
		<div id="d_soap_o">		<textarea  class="o sn_sub fresheditable" id="soap_o" name="soap_o"></textarea></div>
		<div id="d_soap_a">		<textarea  class="a sn_sub fresheditable" id="soap_a" name="soap_a"></textarea></div>
		<div id="d_soap_p">		<textarea  class="p sn_sub fresheditable" id="soap_p" name="soap_p"></textarea></div>
	</div>
</script>



<script id="tmpl_decaf_note" type="text/x-jquery-tmpl">

</script>

<script id="tmpl_note_prompt" type="text/x-jquery-tmpl">
<form id="add_note_form" accept-charset="utf-8" enctype="multipart/form-data">
<div style="display:inline-block; 0float:right; ">     <label class="label_radio" for="a_p_n_ff">      <input class=" func_choose_note_type" type="radio" name="note_type" value="decaf_area" id="a_p_n_ff" required="">       Free Form     </label>     <label class="label_radio" for="a_p_n_SOAP">      <input class=" func_choose_note_type" type="radio" name="note_type" value="soap_area" id="a_p_n_SOAP" required="">       SOAP Note     </label>    </div>
<!--
	<div>
		<input type="radio" name="note_type" value="decaf_area"  id="pn_freeform" class=" func_choose_note_type"/><label for="pn_freeform" class="label_check"> Free Form</label> &nbsp;  <input type="radio" name="note_type" value="soap_area"  id="pn_SOAP" class="func_choose_note_type"/><label for="pn_SOAP" class="label_check">  SOAP Note</label>
	</div>
-->	
	<div id="add_note_area">
		<div id="decaf_area" class="note_type_area freeform_note fresheditable" contenteditable="true">{{tmpl "#tmpl_decaf_note"}}</div>
		<div id="soap_area" class="note_type_area">{{tmpl "#tmpl_soap_note"}}</div>
		
		
		
		<div class="buttons" style="margin:1em 0;">
			<button id="editButton" class="button default edit-button" style="display: none; ">Edit Content</button>
			<button id="saveButton" class="button default save-button hide" style="display: inline-block; ">Save Changes</button>
			<button id="discardButton" class="hide" style="display: inline-block; ">Discard Changes</button>
		</div>
		
		<div id="editor-toolbar" class="fresheditor-toolbar hide" style="display: block; ">
		<div id="toolbarPosition" class="clear"></div>

		<div class="buttons">
			<ul class="toolbarSection">
				<li><a href="#" class="toolbar_bold" title="Bold (Ctrl+B)">B</a></li>
				<li><a href="#" class="toolbar_italic" title="Italicize (Ctrl+I)">I</a></li>
				<li><a href="#" class="toolbar_underline" title="Underline (Ctrl+U)">U</a></li>
				<li><a href="#" title="Remove Formating (Ctrl+M)" class="toolbar_remove">−</a></li>
			</ul>

			<ul class="toolbarSection">
				<li><a href="#" title="Link to a web page (Ctrl+L)" class="toolbar_link">@</a></li>
				<li><a href="#" title="Image (Ctrl+G)" class="toolbar_image">&nbsp;</a></li>
				<li><a href="#" title="Blockquote (Ctrl+Q)" class="toolbar_blockquote">&nbsp;</a></li>
				<li><a href="#" title="Code (Ctrl+Alt+K)" class="toolbar_code">{&nbsp;}</a></li>
			</ul>

			<ul class="toolbarSection">
				
				<li><a href="#" title="Unordered List (Ctrl+Alt+U)" class="toolbar_ul">&nbsp;</a></li>
				<li><a href="#" title="Ordered List (Ctrl+Alt+O)" class="toolbar_ol">&nbsp;</a></li>
				<li><a href="#" title="Superscript (Ctrl+. [period])" class="toolbar_sup">x<sup>2</sup></a></li>
				<li><a href="#" title="Subscript (Ctrl+Shift+.)" class="toolbar_sub">x<sub>2</sub></a></li>
			</ul>

			<ul class="toolbarSection">
				<li><a href="#" title="Paragraph (Ctrl+Alt+0)" class="toolbar_p">P</a></li>
				<li><a href="#" title="Heading 1 (Ctrl+Alt+1)" class="toolbar_h1">H<sub>1</sub></a></li>
				<li><a href="#" title="Heading 2 (Ctrl+Alt+2)" class="toolbar_h2">H<sub>2</sub></a></li>
				<li><a href="#" title="Heading 3 (Ctrl+Alt+3)" class="toolbar_h3">H<sub>3</sub></a></li>
				<li><a href="#" title="Heading 4 (Ctrl+Alt+4)" class="toolbar_h4">H<sub>4</sub></a></li>
				<li><a href="#" title="Heading 5 (Ctrl+Alt+5)" class="toolbar_h5">H<sub>5</sub></a></li>
			</ul>

		</div>
	</div>	
		<input type="button" id="pn_save_button" value="Save Note"  class="func_save_note ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" /> &nbsp; 
		<input type="button" id="pn_cancel_button" value="Cancel"  class="func_cancel_note ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" />
	</div>
</form>
</script>



<script id="tmpl_note_prompt_mobile" type="text/x-jquery-tmpl">
<form id="add_note_form"  accept-charset="utf-8" enctype="multipart/form-data">
<div style="display:inline-block; 0float:right; ">     <label class="label_radio" for="a_p_n_ff">      <input class=" func_choose_note_type" type="radio" name="note_type" value="decaf_area" id="a_p_n_ff" required="">       Free Form     </label>     <label class="label_radio" for="a_p_n_SOAP">      <input class=" func_choose_note_type" type="radio" name="note_type" value="soap_area" id="a_p_n_SOAP" required="">       SOAP Note     </label>    </div>
<!--
	<div>
		<input type="radio" name="note_type" value="decaf_area"  id="pn_freeform" class=" func_choose_note_type"/><label for="pn_freeform" class="label_check"> Free Form</label> &nbsp;  <input type="radio" name="note_type" value="soap_area"  id="pn_SOAP" class="func_choose_note_type"/><label for="pn_SOAP" class="label_check">  SOAP Note</label>
	</div>
-->	
	<div id="add_note_area">
		<textarea  id="decaf_area" class="note_type_area freeform_note" name="decaf_area">{{tmpl "#tmpl_decaf_note"}}</textarea>
		<div id="soap_area" class="note_type_area">{{tmpl "#tmpl_soap_note_mobile"}}</div>
		
		
	</div>	
		<input type="button" id="pn_save_button" value="Save Note"  class="func_save_note_mobile ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" /> &nbsp; 
		<input type="button" id="pn_cancel_button" value="Cancel"  class="func_cancel_note_mobile ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" />
	</div>
</form>
</script>









<script id="tmpl_order_labs" type="text/x-jquery-tmpl">
{{tmpl tmpl_lab_order_saliva}}
</script>
% $m->comp('lab_order_saliva.html');
<script id="tmpl_order_labs" type="text/x-jquery-tmpl">
<div style="display:none;" title="Off due to change 2012-03-05"><span class="showControl" onclick="showMoreInfo( 'lab_product_list', 'loKeyImg');"><b>Order Labs</b> <img src="/images/buttons/next_icon.png" id="loKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key"></span></div>
<div id="lab_product_list"><div><b>Order Labs</b></div>
	<form id="order_labs_frm"  accept-charset="utf-8" enctype="multipart/form-data"><input type="hidden" name="patientid" value="${rd.patientid}" />
	{{each(i, lab) restoreProducts}}	
		<div class="lab_product">
			<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} (${lab.productCategory})</label>
		</div>
	{{/each}}
		<div>
			<textarea name="instructions" class="styled" onfocus="this.value=''; $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');">Enter notes/instructions here...</textarea></div>
			<div id="lo_subm"><input type="submit" id="lo_submit" value="Order Labs"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
	</form>
</div>
</script>





<script id="tmpl_recent_activity" type="text/x-jquery-tmpl">

</script>



<script id="tmpl_top_syms" type="text/x-jquery-tmpl">

</script>



<script id="tmpl_pending_pat_rx_ref" type="text/x-jquery-tmpl">

                        <h4>Patient Refill Requests</h4>
				<div class="gray_box">

						<ul class="list">
						{{if jQuery.map(acct.refill_reqs, function(rf, i) {if (parseInt(rf.patientid) == parseInt(rd.patientid)) {    rf.rfqn=i;                return rf;} })[0]}}
							{{each(i, hh) jQuery.map(acct.refill_reqs, function(rf) {if (parseInt(rf.patientid) == parseInt(rd.patientid)) {return rf} }) }} 
							<li class=" lab_listing" data-patientid="${rd.patientid}">
								<span class="lab_date">${hh.DateFilled} -  ${hh.DrugName}</span>&nbsp;&nbsp;<span class="pc_refill_view"><a href="#" data-rxn="${hh.rxn}" data-rfqn="${hh.rfqn}" class="func_view_refill_req">View</a></span>
							</li>
							{{/each}}
						{{else}}
							<li class="empty_list">No Requests Pending</li>
						{{/if}}
						</ul>
                </div>



</script>

<script id="tmpl_sym_chart" type="text/x-jquery-tmpl">

</script>

<script id="tmpl_pc_sum_top" type="text/x-jquery-tmpl">
	<a href="#patient_info" id="pc_pat_profile_link">Profile &gt;&gt;</a>
</script>

<script id="tmpl_msg_hist" type="text/x-jquery-tmpl">
                        <h4>Recent Messages</h4>
				<div class="gray_box">

						<ul class="list">
						{{if messages.length}}
							{{each(i, pmsg) messages }} 
							{{if i < 5}}
							<li class=" pt_msg" data-patientid="${rd.patientid}" data-msgid="${pmsg.id}">
								<span class="msg_date">${pmsg.date_authored_f} - </span><span class="msg_txt">${pmsg.message}</span> - <a href="#" data-patientid="${rd.patientid}" data-indx="${i}" data-msgid="${pmsg.id}" class="func_view_pmsg">View</a></span>
							</li>
							{{/if}}
							{{if i == 5}}<li class="empty_list"><a href="#" class="func_take_to_message_hist" >See older messages</a></li>{{/if}}
							{{/each}}
						{{else}}
							<li class="empty_list">No Messages</li>
						{{/if}}
						</ul>
                </div>



</script>
<script id="tmpl_new_msg" type="text/x-jquery-tmpl">

</script>

<script id="tmpl__" type="text/x-jquery-tmpl">

</script>