<%doc>
				groups:
					{
						group: [
							{medication, [medDoses], combinable, qType}
						]
					}	
</%doc>
<div id="rxtpl_tabs">
<ul>     		<li><a href="#rxp_rx_template">Template</a></li>     		<li><a href="#rxp_rx_bhrt">BHRT</a></li>     		<li><a href="#rxp_rx_pain">Pain Management</a></li>     	</ul>
<div id="rxp_rx_template" class="rxp_rx_templates">

<div id="rxtempl_sb" class="jqscrollbar" style="width: 590px;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; height: 500px;">
		<div class="overview">
			<div id="providerTemplate">
				{{each(i, group) rxs}}
				<div class="template_group ${i}">
					{{each(ii, med) group}}
					<div>
					<form>
						<div class="template_med">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox"/>
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<label for="tm_d${med.tmpl_id}_${iii}">
									<input id="tm_d${med.tmpl_id}_${iii}" type="radio" value="${dose}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" class="tmpl_med_radio tmpl_med_addable" />
									${dose}
								</label>
							</span>
							{{/each}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<input id="tm_${med.tmpl_id}_${iii}" name="tm_r_${med.med_dn}" type="radio" value="" data-medication="${med.med_dn}" data-dose=""  class="tmpl_med_radio tmpl_med_addable"/>
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}"/>
								</label>
							</span>
							</span>
						</div>
					</form>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>	
	</div>
</div>	
<input id="rxp_rx_template_add" style="margin: 1.1em;" type="submit" value="Add to Rx Pad"  class=" func_add_tmpl_med ui-button ui-widget ui-state-default ui-corner-all" />

</div>










<div id="rxp_rx_bhrt"  class="rxp_rx_templates">

<div id="rxtempl_bhrt_sb" class="jqscrollbar" style="width: 590px;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; height: 500px;">
		<div class="overview">
			<div id="BHRTTemplate">
				{{each(i, group) templateMeds_all['BHRT']}}
				<div class="template_group">
					{{each(ii, med) group}}
					<div>
					<form>
						<div class="template_med">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox"/>
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<label for="tm_d${med.tmpl_id}_${iii}">
									<input id="tm_d${med.tmpl_id}_${iii}" type="radio" value="${dose}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" class="tmpl_med_radio tmpl_med_addable" />
									${dose}
								</label>
							</span>
							{{/each}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<input id="tm_${med.tmpl_id}_${iii}" name="tm_r_${med.med_dn}" type="radio" value="" data-medication="${med.med_dn}" data-dose=""  class="tmpl_med_radio tmpl_med_addable"/>
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}"/>
								</label>
							</span>
							</span>
						</div>
					</form>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>	
	</div>
</div>	
<input id="rxp_rx_bhrt_add" style="margin: 1.1em;" type="submit" value="Add to Rx Pad"  class=" func_add_tmpl_med ui-button ui-widget ui-state-default ui-corner-all" />

</div>





<div id="rxp_rx_pain"  class="rxp_rx_templates">

<div id="rxtempl_pain_sb" class="jqscrollbar" style="width: 590px;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; height: 500px;">
		<div class="overview">
			<div id="painTemplate">
				{{each(i, group) templateMeds_all['pain']}}
				<div class="template_group ${i}">
					{{each(ii, med) group}}
					<div>
					<form>
						<div class="template_med">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox {{if med.doses.length < 2 }}tmpl_med_addable{{/if}}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" />
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{if med.doses.length > 1 }}
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<label for="tm_d${med.tmpl_id}_${iii}">
									<input id="tm_d${med.tmpl_id}_${iii}" type="radio" value="${dose}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" class="tmpl_med_radio" />
									${dose}
								</label>
							</span>
							{{/each}}
							{{/if}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<input id="tm_${med.tmpl_id}_${iii}" name="tm_r_${med.med_dn}" type="radio" value="" data-medication="${med.med_dn}" data-dose=""  class="tmpl_med_radio tmpl_med_addable"/>
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}"/>
								</label>
							</span>
							</span>
							<span class="tmpl_med_desc">${med.description}</span>
						</div>
					</form>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>	
	</div>
</div>	
<input id="rxp_rx_pain_add" style="margin: 1.1em;" type="submit" value="Add to Rx Pad"  class=" func_add_tmpl_med ui-button ui-widget ui-state-default ui-corner-all" />

</div>
