<%init>
my $mpl=RD3::getProviderTemplate($dbh, [], { doc => {DoctorCode => 40794}});
</%init>
<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Template Manager</title>
	<style>
		header, section {
			display: block;
		}
		body {
			font-family: 'Maven Pro', sans-serif;
		}
		h1, h2 {
			text-align: center;
			font-weight: normal;
		}
		#features {
			margin: auto;
			width: 460px;
			font-size: 0.9em;
		}
		.connected, .sortable, .exclude, .handles {
			margin: auto;
			padding: 0;
			width: 610px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.sortable.grid {
			overflow: hidden;
		}
		.connected .template_med_div, .sortable .template_med_div, .exclude .template_med_div, .handles .template_med_div, .sortable .template_med_div  {
			list-style: none;
			border: 1px solid #CCC;
			background: #F6F6F6;
			font-family: 'Maven Pro', sans-serif;
			color: #1C94C4;
			margin: 5px;
			padding: 5px;
			height: 3.5em;
		}
		.handles span {
			cursor: move;
		}
		.template_med_div.disabled {
			opacity: 0.5;
		}
		.sortable.grid .template_med_div {
			line-height: 80px;
			float: left;
			width: 80px;
			height: 80px;
			text-align: center;
		}
		.template_med_div.highlight {
			background: #FEE25F;
		}
		#connected {
			width: 440px;
			overflow: hidden;
			margin: auto;
		}
		.connected {
			float: left;
			width: 200px;
		}
		.connected.no2 {
			float: right;
		}
		.sortable-placeholder {
			border: 1px dashed #CCC;
			background: rgba(196,244,255,0.56);
			min-height: 2em;
		}

		/* NEW */
	.doses_deactivated.tmpl_doses {
	display: block;
	}

	.mw25 { max-height: 10px; }
	.func_add_another_tmpl_med {list-style: none;}
	
	.tmpl_med_dose.manual_dose {
		white-space: nowrap;
		margin-left: 1.5em;
		}
		
		.template_group {
			padding: .15em;
			border: 2px solid silver;
			margin: 0.5em auto;
			background: rgba(145,209,243,0.57)

			}
			.tmp_group_header {
							margin: .1em auto;
							width: 625px;
							display: block;
							}

			.add_another_tmpl_cat {list-style: none;}
			
			.add_med { width: 22em; margin-right: 1.0em}
	</style>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>
<script>
var rxtmplorderkeys= new Array('Estrogens','Progesterones','Testosterones-Female','Testosterones-Male','Estriols','Thyroid','Supplement');
var mpl=<% JSON::XS->new->encode($mpl) %>;
</script>
<script id="tmpl_edit_prov_template" type="text/x-jquery-tmpl">

			<div id="providerTemplate">

				{{each(i,group) rxtmplorderkeys}}
				<b class="tmp_group_header">${group}</b>
				<ul class="template_group ${group} sortable list">
					{{each(ii, med) rxs()[group]}}
					<li class="template_med_div">
					<form>
						<div class="template_med ">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox"/>
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<a href="#" class="func_remove-templateid" data-tmplid="${med.tmpl_id}">
									<img id="tm_d${med.tmpl_id}_${iii}" src="/images/buttons/remove_item_sm.png"  data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" data-tmplid="${med.tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
									${dose}
								</a>
							</span>
							{{/each}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<img id="tm_d${med.tmpl_id}_${iii}" src="/images/buttons/add.png"  data-medication="${med.med_dn}" data-dose="" name="${med.med_dn}" data-tmplid="${med.tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}" placeholder="Add Dose (100 mg)"/>
								</label>
							</span>
							</span>
						</div>
					</form>
					</li>
					{{/each}}
				<li class="func_add_another_tmpl_med template_med_div">
					
					<div class="add_new_med_area"><form class="func_add_another_tmpl_med"><span href="#" class="func_show_add_another_tmpl_med">Add Another Med:</span> <input name="med" class="add_med" placeholder="Medication"/><input type="hidden" name="${group}"/><input type="submit" value="Add"/></form></div>
				</li>
				</ul>
				{{/each}}

			
			
				{{each(i, group) rxs}}
				{{if rxtmplorderkeys.indexOf(i) == -1}}
				<b class="tmp_group_header">${group}</b>
				<div class="template_group ${i} sortable list">
					{{each(ii, med) group}}
					<li  class="template_med_div">
					<form>
						<div class="template_med">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox"/>
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<label for="tm_d${med.tmpl_id}_${iii}">
									<input id="tm_d${med.tmpl_id}_${iii}" type="radio" value="${dose}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" class="tmpl_med_radio tmpl_med_addable" />
									${dose}
								</label>
							</span>
							{{/each}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<input id="tm_${med.tmpl_id}_${iii}" name="tm_r_${med.med_dn}" type="radio" value="" data-medication="${med.med_dn}" data-dose=""  class="tmpl_med_radio tmpl_med_addable"/>
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}"/>
								</label>
							</span>
							</span>
						</div>
					</form>
					</li>
					{{/each}}
				</div>
				<li class="func_add_another_tmpl_med">
					<a href="#" class="func_show_add_another_tmpl_med">Add Another Med:</a>
					<div class="add_new_med_area"><form class="func_add_another_tmpl_med"><input name="med"  class="add_med"  placeholder="Medication"/><input type="hidden" name="${group}"/><input type="submit" value="Add"/></form></div>
				</li>

				{{/if}}

				{{/each}}
			</div>
			<ul class="template_group ${group} sortable list">

				<li class="add_another_tmpl_cat">
					
					<div class="add_new_med_area"><form class="func_add_another_tmpl_cat"><span href="#" class="func_show_add_another_tmpl_cat">Add Another Category:</span><input name="cat" placeholder="Category Label (e.g. Heart Health or Sleep) " style="width:25em; margin-right: 1.0em;" /><input type="hidden" name="${group}"/><input type="submit" value="Add"/></form></div>
				</li>

			</ul>

</script>
<script>
	var ept=function(){
	$('#ma').html='';
	$('#tmpl_edit_prov_template').tmpl({rxs: function() {return mpl}}).appendTo('#ma');
			$('.sortable').sortable(  );

			$('.sortable').sortable( "option", "cursor", "move" );

	};
	
		$("body").on(click_event, '.func_remove-templateid',  function(eml) {
							var rxt= $(this).dataSet() ;
							eml.preventDefault(); 
							
							$.postJSON('/api/v1.util/removeTemplateMedDose', rxt, function(data) {
								mpl=data.data;
						ept();									
								});
						});
	






</script>
</head>

<body>
	<header>
		<h1>Template Manager</h1>
	</header>
	<section id="ma"></section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
% #	<script src="/js/jquery.sortable.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="/js/jquery.tmpl.js" ></script>
	<script src="/js/jquery.tmplPlus.js" ></script>
	<script>ept();</script>
</body>
</html>
