
	<style>
		header, section {
			display: block;
		}
		body {
			font-family: 'Maven Pro', sans-serif;
		}
		h1, h2 {
			text-align: center;
			font-weight: normal;
		}
		#features {
			margin: auto;
			width: 460px;
			font-size: 0.9em;
		}

	.template_editor	.template_group {
			margin: auto;
			padding: 0;
			width: 610px;
		}
		.connected, .sortable, .exclude, .handles {
			margin: auto;
			padding: 0;
			width: 610px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	.template_editor	.sortable.grid {
			overflow: hidden;
		}
		.connected .template_med_div, .sortable .template_med_div, .exclude .template_med_div, .handles .template_med_div, .sortable .template_med_div  {
			list-style: none;
			border: 1px solid #CCC;
			background: #F6F6F6;
			font-family: 'Maven Pro', sans-serif;
			color: #1C94C4;
			margin: 5px;
			padding: 5px;
			
		}
		.handles span {
			cursor: move;
		}
		.template_med_div.disabled {
			opacity: 0.5;
		}
		.sortable.grid .template_med_div {
			line-height: 80px;
			float: left;
			width: 80px;
			height: 80px;
			text-align: center;
		}
		.template_med_div.highlight {
			background: #FEE25F;
		}
		#connected {
			width: 440px;
			overflow: hidden;
			margin: auto;
		}
		.connected {
			float: left;
			width: 200px;
		}
		.connected.no2 {
			float: right;
		}
		.sortable-placeholder {
			border: 1px dashed #CCC;
			background: rgba(196,244,255,0.56);
			min-height: 2em;
		}

		/* NEW */
	.template_editor .doses_deactivated.tmpl_doses {
	display: block;
	opacity: 1;
	}

	.mw25 { max-height: 10px; }
	.func_add_another_tmpl_med {list-style: none;}
	
	.tmpl_med_dose.add_new_dose {
		white-space: nowrap;
		}
		
	.template_editor	.template_group {
			padding: .15em;
			border: 2px solid silver;
			margin: 0.5em auto;
			background: #EEE;;
			}
			.tmp_group_header {
							margin: .1em auto;
							width: 625px;
							display: block;
							}

			.add_another_tmpl_cat {list-style: none;}
			
			.add_med { width: 22em; margin-right: 1.0em}


	span.medDN, span.tmpl_med_dose {
		display: inline-block;
		min-width: 8em;
		margin-right: 1.25em;
	}
	
	.add_new_med {}




.add_new_dose > form.func_add_tmpl_med_dose {
		vertical-align: middle;
		margin: 0.25em initial;
	}
 /*.add_new_dose > form.func_add_tmpl_med_dose input[type="submit"] {vertical-align: -7%;} */
 .ui-button.smaller-button20 {height: 20px !important}

.remove_tmpl_med {
	cursor: pointer;
	font-size: smaller;
	color: #999;
}

.remove_tmpl_med:hover { color: #c23c3c; }
.remove_tmpl_med:hover:after { content: ' - remove this medication'; color: #c23c3c; }

.remove_tmpl_cat {
		cursor: pointer;
	font-size: smaller;
	color: #999;

	
}
.remove_tmpl_cat:hover { color: #c23c3c; }
.remove_tmpl_cat:hover:after { content: ' - remove this category and medications'; color: #c23c3c; }

#providerTemplate.template_editor:before { font-size: large; font-weight: bold; text-align: center; content: 'My Template Editor';}

	</style>
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500' rel='stylesheet' type='text/css'>
<script>
//var rxtmplorderkeys= new Array('Estrogens','Progesterones','Testosterones-Female','Testosterones-Male','Estriols','Thyroid','Supplement');
var rxtmplorderkeys= new Array( 'Estrogens', 'Progesterones', 'Testosterones', 'Testosterones-Female','Testosterones-Male', 'DHEA', 'Thyroid', 'Estriols', 'Supplement');

</script>
<script id="tmpl_edit_prov_template" type="text/x-jquery-tmpl">

			<div id="providerTemplate" class="template_editor">

				{{each(i,group) rxtmplorderkeys}}	{{if typeof rxs()[group] == "object"}}
				<ul class="template_group  sortable " data-tmplgroup="${group}">
				<div class="tg_label">${group}</div>
				<div class="remove_tmpl_category"><form class="func_remove_tmpl_category"><input type="hidden" name="cat" value="${group}"/><span class="remove_tmpl_cat" onclick="$(this).parents('form:first').submit();"><input type="image"  src="/images/buttons/remove_item_sm.png" class="mw25"> remove</span></form></div>
				
					{{each(ii, med)      Object.keys(rxs()[group]).sort(function(a,b) {  if (parseInt(Provider.template[group][a].medOrder) > parseInt(Provider.template[group][b].medOrder)) {return 1;} return -1;}) }}
					{{if Provider.template[group][med].med_dn !=''}}
					<li class="template_med_div tmpl_med_sort" id="${set_tmpl_id(group)}_${ii}" data-meddn="${set_tmpl_id(group)}_${Provider.template[group][med].med_dn}">
						<div class="template_med ">
							<span class="medDN">
									${Provider.template[group][med].med_dn} &nbsp; <span class="remove_tmpl_med func_remove-template-med" data-group="${group}" data-med="${med}" data-tmplid="${Provider.template[group][med].tmpl_id}"><img  src="/images/buttons/remove_item_sm.png"class="mw25"> remove</span>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) Provider.template[group][med].doses}}
							<span class="tmpl_med_dose">
									<img id="tm_d${Provider.template[group][med].tmpl_id}_${iii}" src="/images/buttons/remove_item_sm.png"  data-medication="${Provider.template[group][med].med_dn}" data-dose="${dose}" name="${Provider.template[group][med].med_dn}" data-tmplid="${Provider.template[group][med].tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
								<a href="#" class="func_remove-templateid" data-tmplid="${Provider.template[group][med].tmpl_id}" data-dose="${dose}">${dose}</a>
							</span>
							{{/each}}

							<span class="tmpl_med_dose add_new_dose" >
							<form class="func_add_tmpl_med_dose">
								<label for="tm_${Provider.template[group][med].tmpl_id}_${iii}">
									<img id="tm_d${Provider.template[group][med].tmpl_id}_${iii}" src="/images/buttons/add.png"  data-medication="${Provider.template[group][med].med_dn}" data-dose="" name="${Provider.template[group][med].med_dn}" data-tmplid="${Provider.template[group][med].tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
									<input name="tmplid" value="${Provider.template[group][med].tmpl_id}" type="hidden" />
									<input  type="text" value="" name="dose" placeholder="Add Dose (100 mg)" data-medication="${Provider.template[group][med].med_dn}" class="tmpl_med_add_man_dose"/>
									<input type="submit" value="Add"  class="smaller-button20 ui-button ui-widget ui-state-default ui-corner-all" />
								</label>
							</form>
							</span>
							</span>
						</div>
					</li>
					{{/if}}{{/each}}
					<li class="template_med_div add_new_med">
						
						<div class="add_new_med_area"><form class="func_add_another_tmpl_med"><span href="#" class="func_show_add_another_tmpl_med">Add Another Med:</span> <input name="med" class="add_med" placeholder="Medication"/><input type="hidden" name="cat" value="${group}"/><input type="submit" value="Add" class="smaller-button20 ui-button ui-widget ui-state-default ui-corner-all"/></form></div>
					</li>

				</ul>
				{{/if}}{{/each}}

			
			
				{{each( group, grpobj) rxs}}
				{{if rxtmplorderkeys.indexOf(group) == -1 }}
				<div class="template_group   sortable" data-tmplgroup="${group}">
				<div class="tg_label">${group}</div>
				<div class="remove_tmpl_category"><form class="func_remove_tmpl_category"><input type="hidden" name="cat" value="${group}"/><span class="remove_tmpl_cat" onclick="$(this).parents('form:first').submit();"><input type="image"  src="/images/buttons/remove_item_sm.png" class="mw25"> remove</span></form></div>
								
					{{each(ii, med)      Object.keys(rxs()[group]).sort(function(a,b) {  if (parseInt(Provider.template[group][a].medOrder) > parseInt(Provider.template[group][b].medOrder)) {return 1;} return -1;}) }}
					{{if Provider.template[group][med].med_dn !=''}}
					<li  class="template_med_div tmpl_med_sort" id="${set_tmpl_id(group)}_${ii}"  data-meddn="${set_tmpl_id(group)}_${Provider.template[group][med].med_dn}">
						<div class="template_med">
							<span class="medDN">
									${Provider.template[group][med].med_dn} &nbsp; <span class="remove_tmpl_med func_remove-template-med" data-group="${group}" data-med="${med}" data-tmplid="${Provider.template[group][med].tmpl_id}"><img  src="/images/buttons/remove_item_sm.png"class="mw25"> remove</span>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) Provider.template[group][med].doses}}
							<span class="tmpl_med_dose">

								<img id="tm_d${Provider.template[group][med].tmpl_id}_${iii}" src="/images/buttons/remove_item_sm.png"  data-medication="${Provider.template[group][med].med_dn}" data-dose="${dose}" name="${Provider.template[group][med].med_dn}" data-tmplid="${Provider.template[group][med].tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
								<a href="#" class="func_remove-templateid" data-tmplid="${Provider.template[group][med].tmpl_id}" data-dose="${dose}">${dose}</a>							</span>
							{{/each}}


							<span class="tmpl_med_dose add_new_dose" >
							<form class="func_add_tmpl_med_dose">
								<label for="tm_${Provider.template[group][med].tmpl_id}_${iii}">
									<img id="tm_d${Provider.template[group][med].tmpl_id}_${iii}" src="/images/buttons/add.png"  data-medication="${Provider.template[group][med].med_dn}" data-dose="" name="${Provider.template[group][med].med_dn}" data-tmplid="${Provider.template[group][med].tmpl_id}" class="tmpl_med_dose tmpl_med_remove mw25" />
									<input name="tmplid" value="${Provider.template[group][med].tmpl_id}" type="hidden" />
									<input  type="text" value="" name="dose" placeholder="Add Dose (100 mg)" data-medication="${Provider.template[group][med].med_dn}" class="tmpl_med_add_man_dose"/>

									<input type="submit" value="Add" class="smaller-button20 ui-button ui-widget ui-state-default ui-corner-all"/>
								</label>
							</form>
							</span>

							</span>
						</div>

					</li>
					{{/if}}{{/each}}

				<li class="func_add_another_tmpl_med template_med_div add_new_med">
					
					<div class="add_new_med_area"><form class="func_add_another_tmpl_med"><span href="#" class="func_show_add_another_tmpl_med">Add Another Med:</span> <input name="med" class="add_med" placeholder="Medication"/><input type="hidden" name="cat" value="${group}"/><input type="submit" value="Add" class="smaller-button20 ui-button ui-widget ui-state-default ui-corner-all"/></form></div>
				</li>
				</div>

				{{/if}}

				{{/each}}

			<ul class="template_group new notsortable">
				<li class="add_another_tmpl_cat" >
					<div class="add_new_med_area"><form class="func_add_another_tmpl_cat"><span href="#" class="func_show_add_another_tmpl_cat">Add Another Category: </span><input name="cat" placeholder="Category Label (e.g. Heart Health or Sleep) " style="width:25em; margin-right: 1.0em;" /><input type="hidden" name="${group}"/><input type="submit" value="Add"  class="smaller-button20 ui-button ui-widget ui-state-default ui-corner-all" /></form></div>
				</li>

			</ul>
		</div>

</script>
<script>
	var update_provider_template = function(mpl) {
		Provider.template=mpl;
		Providers[Provider.info.DoctorCode].template=mpl;
	};




var show_template_area=function(){ 

	$('#ma').html('');
	$('#tmpl_edit_prov_template').tmpl({rxs: function() {return Provider.template}}).appendTo('#ma');
			$('.sortable').sortable(  { placeholder: "sortable-placeholder",  items: "> li.tmpl_med_sort"  }  );

			$('.sortable').sortable( "option", "cursor", "move" );
			
			
						$('input.add_med').autocomplete({ 
							option: { medid: 1 },
						    source: $.map(templateMeds_all['RD30'], function(value, key) {  return key;	}) 
					    });  



			$('input.tmpl_med_add_man_dose').autocomplete({ 
					
					    //n_source: $.map(medList[$('#rxp_med_medication_' + $(this).dataset('medid')).val()         ], function(value, key) {  return key;	}),
					    source:
					    function(event, ui) { 


					    		var rxp_med = this.element.dataset('medication');
					    		var ac_d_sort_regex = new RegExp("[0-9\.]+[0-9]*");
								var res_arr=$.map(templateMeds_all['RD30'][rxp_med], function(value, key) { console.log(templateMeds_all['RD30'][rxp_med]); console.log(rxp_med); var re=new RegExp(event.term, 'i');  if (     re.test(key) ) {return key; } if (event.term =='') {return key; }	});
								res_arr.sort(function(a, b) {
									if (ac_d_sort_regex.exec(a)[0]*1 > ac_d_sort_regex.exec(b)[0]*1) {
									return 1; } return -1;
										});
								ui(res_arr);
					    	},
					    minLength: 0,
							}).focus(function(){
								if (this.value == "")
									$(this).trigger('keydown.autocomplete');
					    	});
	};
	


$(document).ready(function () {
	
		$("body").on(click_event, '.func_remove-templateid',  function(eml) {
						eml.preventDefault(); 
							var rxt= $(this).dataset() ;
							
							
							$.postJSON('/api/v1.util/removeTemplateMedDose', rxt, function(data) {
							update_provider_template(data.data);
							
						show_template_area();									
								});
						});
	
		$("body").on('submit', 'form.func_add_tmpl_med_dose',  function(eml) {
							eml.preventDefault(); 
								var rxt = $(this).serializeObject() ;
								console.log(rxt);
								$.postJSON('/api/v1.util/addTemplateMedDose', rxt, function(data) {
								update_provider_template(data.data);
								show_template_area();									
								});
						});


		$("body").on('submit', 'form.func_add_another_tmpl_med',  function(eml) {
							eml.preventDefault(); 
								var rxt = $(this).serializeObject() ;
								console.log(rxt);
								$.postJSON('/api/v1.util/addTemplateMed', rxt, function(data) {
							update_provider_template(data.data);
								show_template_area();									
								});
							});						
		$("body").on('submit', 'form.func_add_another_tmpl_cat',  function(eml) {
							eml.preventDefault(); 
								var rxt = $(this).serializeObject() ;
								console.log(rxt);
								$.postJSON('/api/v1.util/addTemplateCat', rxt, function(data) {
								update_provider_template(data.data);
								show_template_area();									
								});
							});


		$("body").on(click_event, '.func_show_update_tmpl_area',  function(eml) {
						eml.preventDefault(); 
						show_template_area();									
								});
		$( "body" ).on( "sortupdate", '.sortable', function( event, ui ) {
				var sorted = $( this ).sortable( "serialize", {  attribute: "data-meddn" } );
				$.postJSON('/api/v1.util/sortTemplateCat', {sort: sorted.QueryStringToJSON()}, function(data) {
								update_provider_template(data.data);				
												});
		} );
		
		$("body").on(click_event, '.func_remove-template-med',  function(eml) {
						eml.preventDefault(); 
						var rxt= $(this).dataset() ;
						console.log(rxt);
						popup($('#tmpl_remove_template_med_cat').tmpl({cdata:rxt, type: 'med'}).html(), {title: 'Remove medication?', width: '500px'} );
		});

		$("body").on(click_event, '.func_remove-template-med-confirm',  function(eml) {
						eml.preventDefault(); 
						var rxt= $(this).dataset() ;
							$.postJSON('/api/v1.util/removeTemplateMed', rxt, function(data) {
								update_provider_template(data.data);
								show_template_area();
								$( "#dialog-message" ).dialog( "destroy" );
							});
		});

						

		$("body").on('submit', 'form.func_remove_tmpl_category',  function(eml) {
							eml.preventDefault(); 
								var rxt = $(this).serializeObject() ;
						popup($('#tmpl_remove_template_med_cat').tmpl({cdata:rxt, type: 'cat'}).html(), {title: 'Remove category?', width: '500px' } );

							});



		$("body").on(click_event, '.func_remove-template-cat-confirm',  function(eml) {
							eml.preventDefault(); 
														var rxt= $(this).dataset() ;
								$.postJSON('/api/v1.util/removeTemplateCat', rxt, function(data) {
								update_provider_template(data.data);
								show_template_area();
								$( "#dialog-message" ).dialog( "destroy" );						
								});
							});
							
		$("body").on(click_event, '#template_cat_remove_cancel',  function(eml) {
							eml.preventDefault(); 
								$( "#dialog-message" ).dialog( "destroy" );
							});
							
							
							


});
var set_tmpl_id = function(ic) { var nic=ic.replace(/ /g, '-'); return nic;};



</script>
<script id="tmpl_remove_template_med_cat" type="text/x-jquery-tmpl">
<div>
	<div>{{if type=='cat'}}Remove category "${cdata.cat}" and all the medications in it?{{else}}Remove this medication?{{/if}}</div>
	<input type="button" id="template_{{if type=='cat'}}cat{{else}}med{{/if}}_remove_confirm" value="Confirm"  class="func_remove-template-{{if type=='cat'}}cat{{else}}med{{/if}}-confirm ui-button ui-widget ui-state-default ui-corner-all" role="button" style="" {{each(ki, kd)  cdata}}data-${ki}="${kd}" {{/each}} > &nbsp;
	<input type="button" id="template_cat_remove_cancel" value="Cancel"  class="ui-button ui-widget ui-state-default ui-corner-all" role="button" style="" >
</div>
</script>